{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Confirm your agreement level capital items</h1>
      <p class="govuk-body">These are capital items that apply to an entire holding, rather than specific land parcels.</p>
      <p class="govuk-body">Select the capital item to confirm you want to add it to your agreement. Where asked to, also add a quantity.</p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Agreement level capital items</h2>
      
      <div class="agreement-row">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="parcel" name="action" type="checkbox" checked>
              <label class="govuk-label govuk-checkboxes__label">
                FY2: Woodland infrastructure
                </label>
            </div>
        </div>

      <div class="agreement-row">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="parcel" name="action" type="checkbox" checked>
              <label class="govuk-label govuk-checkboxes__label">
                WN7: Restoration of large water bodies
                </label>
            </div>
      </div>
      
    
  <form class="form" action="tasklist-10" method="post">
      <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
      </button>
  </form>

        
</div>
</div>

<div class="govuk-!-padding-bottom-9"></div>

{% endblock %}
