{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">Jasmine Smith</div>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
</button>
</div>
</div>
</div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Select land for your actions</h1>
<p class="govuk-body">Available land for your selected actions:<br>
• 32 parcels<br>
• 70.6940 hectares</p>
<p class="govuk-body">Actions and land added to application so far:<br>
• 0 actions<br>
• 0 parcels</p>
<h2 class="govuk-heading-m">Select the land you want to do your actions on</h2>
<p class="govuk-body">Your available land is grouped by Ordnance Survey map sheet references. To add actions to your land parcels, click on either the:<br>
• OS map sheet reference links<br>
• icons on the map</p>
<p class="govuk-body govuk-!-margin-bottom-8">You can then begin to add actions to your land.</p>
      <table class="govuk-table">
<p class="govuk-body govuk-!-font-weight-bold"><a href="select-land" class="govuk-link">OS map sheet reference SO3</a></p>
<hr class="govuk-section-break govuk-section-break--visible">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Available land parcels</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">20</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Available area</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">120.3451 ha</td>
    </tr>
    <tr class="govuk-table__row">
     <td class="govuk-table__cell">Number of actions added</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
        <tr class="govuk-table__row">
    <td class="govuk-table__cell">Number of land parcels added</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
  </tbody>
</table>
      <table class="govuk-table">
<p class="govuk-body govuk-!-font-weight-bold"><a href="select-land" class="govuk-link">OS map sheet reference SX2</a></p>
<hr class="govuk-section-break govuk-section-break--visible">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Available land parcels</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Available area</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">80.3160 ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Number of actions added</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
        <tr class="govuk-table__row">
     <td class="govuk-table__cell">Number of land parcels added</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
  </tbody>
</table>
    </div>
    
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body"><a href="#" class="govuk-link">Hide/show map</a></p>
  <map name="clickable">
        <area shape="rect" coords="185,225,268,352" href="https://www.studytonight.com/bootstrap/bootstrap-breadcrumb">
          </map>
<img usemap="#clickable" src="https://raw.githubusercontent.com/defra-design/fcp-combined-offer/1702e472e743f41927cf41e4d5d7ae13ebbb1720/app/views/e2e-mvp/img/map_background.png" alt="Map sheet references" style="width:465px;height:400px;"></a>
    </div>
  </div>
      <form class="form" action="tasklist-6" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Confirm selection
          </button>
        </form>
</div>
</main>
{% endblock %}
