//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

  .govuk-tabs {
    margin-bottom: 0; /* Remove default margin */
    margin-top:0; /* Remove default margin */

  }
 
  .expanded-content td {
    
    border-bottom: 1px solid #b1b4b6  ; /* Add border to the bottom of the expanded row */
  }
  
  .govuk-details {
    margin-bottom: 0; /* Remove default margin */
    margin-top:0; /* Remove default margin */

  }
  
  .hidden {
            display: none;
        }

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.app-custom-class {
  width: 0.2em;
}

/* .list-parcels {

}*/ 

.parcel-row {
  display: flex;
  justify-content: left;
  margin-bottom: 0;
}
.parcel-number {
  flex: 0 0 125px;
  padding-right: 30px;
  
}
.parcel-size {
  float: left;
  padding-right: 30px;
  flex: 0 0 200px; /* Fixed width for alignment */
  text-align: left; /* Align text to the right */
}

.applied-label {
flex: 0 0 auto;
}

.section-break-large {
  break-color: black;
  background-color: black;
  border: 0;
  border-top: 4px solid black;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  }

  .section-break-large-blue {
  break-color: #1d70b8;
  background-color: #1d70b8;
  border: 0;
  border-top: 4px solid #1d70b8;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  }


  .key-parent {
    width: 23vw;
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
    margin-right: 8px;
}


  /* Key=Error */ 
  #key1 {
  width: 2em;
  height: 2em;
  border: 4px solid #E53724;
  background-color: #FADD4B;
}

  /* Key=Selected */ 
  #key2 {
  width: 2em;
  height: 2em;
  border: 10px solid #001EF5;
  background-color: #96CDF6;
}

  /* Key=Action */ 
  #key3 {
  width: 2em;
  height: 2em;
  border: 4px solid #A46E53;
  background-color: #F1DEB8;
}

    /* Key=Actions applied */ 
  #key4 {
  width: 2em;
  height: 2em;
  border: 4px solid #2C6739;
  background-color: #899855;
}

  #key5 {
  width: 2em;
  height: 2em;
  border: 2px solid #636B70;
  background-color: #FADD4B;
}


.red-border {
  box-shadow: -5px 0px 0px 0px #D4351C;
  }
 
.red-border-padding {
  padding: 15px;
  }


@media only screen and (max-width: 600px) {
  .image-size {
  width: 100%;
  }
  }

  /* Updated keys */ 
#key1-1 {
  width: 2em;
  height: 2em;
 border: 4px solid #E53724;
  background-color: #FFDF2C;

}

#key2-1 {
  width: 2em;
  height: 2em;
 border: 4px solid #001EF5;
  background-color: #249CFF;
}


#key3-1 {
  width: 2em;
  height: 2em;
 border: 4px solid #586B19;
  background-color: #9CB34F;
}

#key4-1 {
  width: 2em;
  height: 2em;
 border: 4px solid #76AD24;
  background-color: #EDFDD5;
}

#key-mapsheet {
  width: 2em;
  height: 2em;
 border: 4px solid #636B70;
  background-color: #FADD4B;
}

#key-mapselected {
  width: 2em;
  height: 2em;
 border: 4px solid #001EF5;
  background-color: #249CFF;
}

/* Container holding the image and the text */
.container {
  position: relative;
  
}

/* Bottom right text */
.text-block {
  position: absolute;
  width: 350px;
  bottom: 20px;
  right: 20px;
  background-color: White;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
 
}

.pointer {cursor: pointer;}


  @media screen and (min-width: 600px)  {
        .mobile-break { display: none; }
    }


.table-width-quantity{
  
  width:125px;
}


.Complete-tag {
  background-color: #1D70B8;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.Not-started-tag {
  background-colour: #EEEFEF; 
  font-size: 16px;
  font-weight: 700;
  color: #383F43;
}

.Cannot-start-tag {
  background-colour: #EEEFEF; 
  font-size: 16px;
  font-weight: 700;
  color: #383F43;
}

.errorLabel {
  color: govuk-colour(red);
}

.box-grey { 
    background-color: #EEEFEF;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.box-complete { 
    background-color: #1D70B8;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.blue-button {
  background-color: #1D70B8;
}

.blue-button:hover {
  background-color: #003078;
}

body {
    padding:0;
    margin-bottom:-100px;
}

.table-space {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  border-bottom-color: white;
  border: 0px;

  }

  .row {
   height: 15px;
  }


.pagination-container {
  display: flex;
  align-items: center;

}

.pagination-text {
  margin-left: auto;
  align-self: center;

}

.table-cell {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.table-cell button {
  margin-bottom: 10px; /* Optional: Adds space between buttons */
}

.sticky-button {
  position: sticky;
  top: 0; /* Adjust this value to your preference */
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.agreement-row {
    display: flex;
    border-bottom: 1px solid #B1B4B6;
    padding-bottom: 20px;
    margin-bottom: 20px;

}
.agreement-row .govuk-checkboxes__item {
    margin-right: 30px; /* Adjust spacing as needed */
}



.no-border-bottom {
  border-bottom: none;
}

.border-bottom-container {
  border-bottom: 1px solid #b1b4b6;
  padding: 10px 0;
}