{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
  Save and return later
</button>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="40">
      <h1 class="govuk-label-wrapper govuk-!-margin-bottom-6">
        <label class="govuk-label govuk-label--l" for="with-hint">
          Enter your agreement name
        </label>
      </h1>
      <div id="with-hint-hint" class="govuk-hint govuk-!-margin-bottom-2">
        This will appear on your agreement documents and is for your reference only. For example ‘Jasmine’s Farm Funding 2024’.
      </div>
      <input class="govuk-input govuk-!-width-three-quarters govuk-js-character-count" id="with-hint" name="withHint" rows="1" aria-describedby="with-hint-info with-hint-hint">

      <div id="with-hint-info" class="govuk-hint govuk-character-count__message govuk-!-margin-top-2">
      You have 40 characters remaining
      </div>
    </div>

  <form class="form" action="tasklist-4" method="post">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
  </form>
        
  </div>
</div>


{% endblock %}
