{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}
  
<h1 class="govuk-heading-l">Select actions and items</h1>

<!---LEFT HAND SIDE COLUMN-->
<!---FILTERS-->
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <div id="search">
    <label class="govuk-label govuk-!-margin-top-2" for="search">
      Search by action code
    </label>
    <input class="govuk-input text-input govuk-!-margin-bottom-3" style="width:160px; height:44px; margin-right: -4px" id="searchbox" type="text" value="" placeholder="">

    <button id="button_1" class="govuk-button blue-button" style="height: 42px" data-module="govuk-button">
      <svg style="display: block; margin-left:0px" class="gem-c-search__icon" width="21" height="21" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
        <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
      </svg>
    </button>
  </div>

<div id="filters">
  <details class="govuk-details" data-module="govuk-details" open>
    <summary class="govuk-details__summary">
      <label class="govuk-label govuk-label--s">
      <span>
        Themes
      </span>
    </label>
    </summary>
    <div class="govuk-!-padding-top-5 govuk-!-margin-bottom-6" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
        <input class="govuk-checkboxes__input" id="filter-type-A" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="filter-type-A">
          Buffer strips
        </label>
      </div>
      <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
        <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          Farmland wildlife on arable and horticultural land
        </label>
      </div>
      <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
        <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          Farmland wildlife on improved grassland
        </label>
      </div>
      <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
        <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          Hedgerows
        </label>
      </div>
      <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
        <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          Integrated pest management
        </label>
      </div>
      <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
        <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          Low input grassland
        </label>
      </div>
      <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
        <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          Moorland
        </label>
      </div>
      <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
        <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          Nutrient management
        </label>
      </div>
      <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
        <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          Soil
        </label>
      </div>
  </div>
</details>
</div>

<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Apply filters
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Clear all filters
  </button>
</div>
</div>

<!-----------------RIGHT HAND SIDE COLUMN------------------------->
<!------------------CONFIRM SELECTION CTA------------------------->

<div class="govuk-grid-column-two-thirds">

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    We have pre-selected your actions for you. Your adviser might have rejected some of your actions – you will find details of those in your 
    <a href="adviser-feedback" class="govuk-link govuk-link--no-visited-state">adviser feedback</a>.
  </strong>
</div>

<form class="form" action="tasklist-13" method="post">
  <button type="submit" class="govuk-button sticky-button" data-module="govuk-button" style="margin-top: 10px;">
    Confirm your selection
  </button>
</form>

  <div class="topnav" style="margin-bottom: 30px;">
    <summary class="govuk-details__summary"><span><a class="govuk-body govuk-link govuk-link--no-underline" href="#sortbyorder">Sort by selected actions first</a></span></summary>
    <div class="topnav-right govuk-body">
      <span class="govuk-!-font-weight-bold">50</span> actions listed of <span class="govuk-!-font-weight-bold">134</span> total
    </div>
  </div>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#sfi">SFI</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#sfi-endorsed">SFI endorsed</a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#ht">Higher Tier</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#capital">Capital items</a>
      </li>
    </ul>

<!---SFI tab -->
    <div class="govuk-tabs__panel" id="sfi" style="border-bottom: none; border-left: none; border-right: none;">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">

          <!-- Beginning of action -->
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
            <p class="govuk-body">CSAM1: Assess soil, produce a soil management plan and test soil organic matter – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
            </label>
          </div>
          <div class="govuk-!-padding-bottom-4">
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £6 per hectare and £97 per SFI agreement</p>
            <hr class="govuk-section-break govuk-section-break--visible">
          </div>
        <!-- End of action -->
        <!-- Beginning of action -->
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
            <p class="govuk-body">CSAM3: Herbal leys – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
            </label>
          </div>
          <div class="govuk-!-padding-bottom-4">
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £6 per hectare and £97 per SFI agreement</p>
            <hr class="govuk-section-break govuk-section-break--visible">
          </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">SOH1: No-till farming – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £73 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">BFS6: 6m to 12m habitat strip next to watercourses – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £73 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">BFS6: 6m to 12m habitat strip next to watercourses – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £742 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">WBD1: Manage ponds – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £257 per pond, with a maximum of 3 ponds per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">OFC2: Organic conversion – unimproved permanent grassland – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £96 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">OFC3: Organic conversion – rotational land – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £298 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">OFC5: Organic conversion – top fruit – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £1,920 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkbox-1"  type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">OFM1: Organic land management – improved permanent grassland – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £20 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">OFM2: Organic land management – unimproved permanent grassland – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £41 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">OFM3: Organic land management – enclosed rough grazing – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £97 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">OFM4: Organic land management – rotational land – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £132 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">AHW4: Skylark plots – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £11 per plot (minimum 2 plots per hectare)</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">AHW5: Nesting plots for lapwing – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £765 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">AHW6: Basic overwinter stubble – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £58 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        </div>

        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 10px;">
          Load more actions
        </button>
    
        <p class="govuk-body govuk-!-margin-bottom-6">84 more actions to load</p>
    
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Back to top</a>
        </p>
      </div>
    </div>

<!---SFI endorsed tab -->
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="sfi-endorsed" style="border-bottom: none; border-left: none; border-right: none;">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">GRH6: Manage priority habitat species-rich grassland – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £646 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
        </div>
        <!--
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 10px;">
          Load more actions
        </button>
    
        <p class="govuk-body govuk-!-margin-bottom-6">84 more actions to load</p>
    
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Back to top</a>
        </p>

      --> 
      </div>
    </div>


<!---Higher Tier tab -->
    <div class="govuk-tabs__panel" id="ht" style="border-bottom: none; border-left: none; border-right: none;">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" checked>
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CSP1: Supplement: Difficult sites – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £93 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CSP5: Supplement: Shepherding (non-moorland) – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £10 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CSP7: Supplement: Introduction of cattle grazing on the Isles of Scilly – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £279 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CSP11: Supplement: Manage scrapes and gutters – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £1.7 per square metre</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" checked>
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CGS18: Manage species-rich floodplain meadows – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £1076 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" checked>
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CGS19: Manage wet grassland for wintering waders and wildfowl – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £553 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" checked>
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CGS20: Manage wet grassland for breeding waders – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £676 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CGS21: Manage grassland for target habitats, species or features – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £528 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CGS22: Manage priority habitat species-rich grassland – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £646 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" checked>
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CUP3: General moorland management – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £55 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CPAC1: Open access – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £92 per hectare</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CPAC2: Access for people with reduced mobility – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £221 per metre</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CPAC3: Bridleway or cycle path access – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £158 per metre</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CPAC4: Footpath access – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £77 per metre</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CPAC5: Upgrading Countryside and Rights of Way for cyclists and horse riders – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £158 per metre</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CPAC6: Upgrading Countryside and Rights of Way for people with reduced mobility – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £221 per metre</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
            <!-- Beginning of action -->
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input">
              <label class="govuk-label govuk-checkboxes__label">
              <p class="govuk-body">CCT2: Make space for new coastal habitat – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this action</a></p>
              </label>
            </div>
            <div class="govuk-!-padding-bottom-4">
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £773 per metre</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
            <!-- End of action -->
          </div>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 10px;">
            Load more actions
          </button>
      
          <p class="govuk-body govuk-!-margin-bottom-6">84 more actions to load</p>
      
          <p class="govuk-body">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Back to top</a>
          </p>
      
      </div>
    </div>

<!---Capital items tab -->
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="capital" style="border-bottom: none; border-left: none; border-right: none;">
  <div class="govuk-form-group">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox" checked>
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">RP3: Watercourse crossings – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £506.44 per crossing</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">FG3: Permanent electric fencing – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £5.66 per metre</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">FG2: Sheep netting – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £7.47 per metre</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">FG1: Fencing – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £6.34 per metre</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">TE6: Tree guard (tube and mesh) – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £3.95 per guard</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">TE7: Tree guard (wood post and rail) – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £109.64 per guard</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">TE8: Tree guard (wood post and wire) – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £132.16 per guard</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">AF3: Supplement: Species diversity bonus – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £1.16 per tree</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">AF1: Plant an agroforestry woodland tree – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £5.40 per tree</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">WN7: Restoration of large water bodies – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> Up to 100% of actual costs</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">FM1: Management of geodiversity features – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> Up to 100% of actual costs</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">AF2: Plant an agroforestry fruit tree – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £17.83 per tree</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">SB4: Chemical bracken control – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £270.90 per hectare</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">FM1: Management of geodiversity features – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> Up to 100% of actual costs</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox" checked>
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">BC4: Tree Guard Post and wire – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £132.16 per tree guard</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">FY2: Woodland infrastructure – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> 60% of actual costs</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox" checked>
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">BC3: Crop protection fencing mesh and wire for permanent crops – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £6.34 per metre</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
        <!-- Beginning of action -->
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-1" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
          <p class="govuk-body">TE11: Tree surgery – <a href="https://www.gov.uk/find-funding-for-land-or-farms/csam1-assess-soil-produce-a-soil-management-plan-and-test-soil-organic-matter" target="_blank" class="govuk-link">read the guidance for this capital item</a></p>
          </label>
        </div>
        <div class="govuk-!-padding-bottom-4">
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £73.36 to £146.72 per tree</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
        <!-- End of action -->
    </div>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 10px;">
      Load more actions
    </button>

    <p class="govuk-body govuk-!-margin-bottom-6">84 more actions to load</p>

    <p class="govuk-body">
      <a href="#" class="govuk-link govuk-link--no-visited-state">Back to top</a>
    </p>


  </div>
</div>

</div><!-- End of tab -->
</div><!-- End of tab group -->

  
{% endblock %}
