{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <div class="govuk-error-summary govuk-!-margin-bottom-6" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#select-error">Select if your digital maps show the correct land details</a>
            </li>
          </ul>
        </div>
      </div>
    </div> 
    
  <h1 class="govuk-heading-l">Check your land details</h1>
    
  <p class="govuk-body govuk-!-margin-bottom-6">Your maps must be up to date so we can check your land is eligible for the actions you want to do. </p>
  
  <p class="govuk-body govuk-!-margin-bottom-0">You should check your maps show the correct:
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>land parcels</li>
        <li>land covers</li>
        <li>permanent boundaries, like hedges and fences</li>
    </ul>
  </p>

  <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" class="govuk-link">Check your digital maps</a></p>

    <form class="form" action="/land-details-answer-ht-p2" method="post">
      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="digital-maps-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Do your digital maps show the correct land details?
            </h2>
          </legend>

          <p id="digital-maps-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if your digital maps show the correct land details
          </p>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="landDetailsAnswer-1" name="land-details-answer" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="landDetailsAnswer-1">
                Yes
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="landDetailsAnswer-2" name="land-details-answer" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="landDetailsAnswer-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  
      </div>
  </div>


{% endblock %}
