{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
  Save and return later
</button>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <h1 class="govuk-heading-l">Update your land details</h1>

    <p class="govuk-body">Use the <a href="#" class="govuk-link">make changes to your rural land maps</a> service to update your land details.</p>
    
    <h2 class="govuk-heading-m">Withdraw application while we process your changes</h2>

    <p class="govuk-body">You’ll need to click on the withdraw application button while we process your update.</p>
    
    <p class="govuk-body">This is because your land details need to be up to date for you to complete your application.</p>
    
    <p class="govuk-body govuk-!-margin-bottom-6">You can start your application again once we’ve confirmed your update has been made. This can take to 3 weeks. We’ll let you know when this happens.</p>
    
    <form class="form" action="dashboard" method="post">
      <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
        Withdraw application
      </button>
    </form>
  
    </div>
  </div>

</div>
</main>
{% endblock %}
