{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}
{% endblock %}

{% block content %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" >
  <div class="govuk-grid-row" id="header">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
        <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">
          Single Business Identifier (SBI): 123456789
        </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <form class="form" action="saved-application" method="post">
        <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
            Save and return later
        </button>
      </form>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      
      <span class="govuk-caption-l">Summary</span>

      Final claims​</h1>

    <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" class="govuk-link">Print</a></p>
    </p>
  </div>

  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4" id="standard-cost">
      Standard cost items
    </h2>

    <div class="govuk-table__container" style="overflow-x: auto;">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Final claims with no amount remaining</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 60%;">Capital item</th>
            <th scope="col" class="govuk-table__header">Parcel number</th>
            <th scope="col" class="govuk-table__header">Amount remaining</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">BN12: Stone wall restoration</td>
            <td class="govuk-table__cell">SD3678 5801</td>
            <td class="govuk-table__cell">0 metres</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FG5: Fencing supplement - difficult sites</td>
            <td class="govuk-table__cell">SD3578 7758</td>
            <td class="govuk-table__cell">0 metres</td>
          </tr>

        </tbody>
      </table>
      </div>

      <!--- TABLE WITH AMOUNT -->
      <div class="govuk-table__container" style="overflow-x: auto;">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Final claims with amount remaining</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 60%;">Capital item</th>
            <th scope="col" class="govuk-table__header">Parcel number</th>
            <th scope="col" class="govuk-table__header">Amount remaining</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FG12: Wooden field gate</td>
            <td class="govuk-table__cell">SD3678 5801</td>
            <td class="govuk-table__cell">1 unit</td>
          </tr> 

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FG12: Wooden field gate</td>
            <td class="govuk-table__cell">SD3578 7758</td>
            <td class="govuk-table__cell">1 unit</td>
          </tr> 

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FG12: Wooden field gate</td>
            <td class="govuk-table__cell">SD3579 7052</td>
            <td class="govuk-table__cell">1 unit</td>
          </tr>       

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">RP3: Watercourse crossings</td>
            <td class="govuk-table__cell">SD3578 7800</td>
            <td class="govuk-table__cell">1 unit</td>
          </tr> 
          
        </tbody>
      </table>
      </div>


  <!---ACTUAL COST items-->
    <h2 class="govuk-heading-l govuk-!-margin-bottom-4" id="actual-cost">
     Actual cost items
    </h2>
  <!--- TABLE NO AMOUNT -->
      <div class="govuk-table__container" style="overflow-x: auto;">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Final claims with no amount remaining</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 60%;">Capital item</th>
              <th scope="col" class="govuk-table__header">Parcel number</th>
              <th scope="col" class="govuk-table__header">Amount remaining</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">FM1: Management of geodiversity features</td>
                  <td class="govuk-table__cell">SD3578 7900</td>
                  <td class="govuk-table__cell">£0.00</td>
                </tr>

          </tbody>
          </table>
        </div>

<!--- TABLE AMOUNT -->
    <div class="govuk-table__container" style="overflow-x: auto;">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Final claims with amount remaining</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 60%;">Capital item</th>
            <th scope="col" class="govuk-table__header">Parcel number</th>
            <th scope="col" class="govuk-table__header">Amount remaining</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">LV2: Livestock handling facilities</td>
            <td class="govuk-table__cell">SD3578 7800</td>
            <td class="govuk-table__cell">£100.45</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FM2: Major preparatory works for priority habitats (creation and restoration) and priority species</td>
            <td class="govuk-table__cell">SD3578 7900</td>
            <td class="govuk-table__cell">£350.70</td>
          </tr>

        </tbody>
      </table>
      </div>


<form class="form" action="claims-table-summary" method="post">
  <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
    Back to summary
  </button>
</form>

  </div>
  </div>


{% endblock %}



    