{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}
{% endblock %}

{% block content %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" >
  <div class="govuk-grid-row" id="header">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
        <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">
          Single Business Identifier (SBI): 123456789
        </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <form class="form" action="saved-application" method="post">
        <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
            Save and return later
        </button>
      </form>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Summary​</h1>
    <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" class="govuk-link">Print</a></p>
    </p>
  </div>


  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l" id="details">
      Your details
    </h2>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Business
        </dt>
        <dd class="govuk-summary-list__value">
          JASMINE SMITH FARM<br>
          Rainbow Farm<br>
          High Street<br>
          Rhydlewis<br>
          Ellesmere<br>
          PO30 1NY
          </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single Business Identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          123456789
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Claim reference
        </dt>
        <dd class="govuk-summary-list__value">
          1738201
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement name and number
        </dt>
        <dd class="govuk-summary-list__value">
          Holker Woodland Test, 1237477
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submit date
        </dt>
        <dd class="govuk-summary-list__value">
          30/09/2025 11:36:01 AM
        </dd>
      </div>

    </dl>

<h2 class="govuk-heading-l govuk-!-margin-bottom-4" id="capital-items">
      Your capital item claims
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          Standard cost items
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          BN12: Stone wall restoration
        </dt>
        <dd class="govuk-summary-list__value">
          40 m
        </dd>
        <dd class="govuk-summary-list__value">
          £1,000.00
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
       <dd class="govuk-summary-list__value">
          FG5: Fencing supplement - difficult sites
        </dt>
        <dd class="govuk-summary-list__value">
          200 m
        </dd>
        <dd class="govuk-summary-list__value">
          £1,025.00
        </dd>
         <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FG12: Wooden field gate
        </dt>
        <dd class="govuk-summary-list__value">
          3 units
        </dd>
        <dd class="govuk-summary-list__value">
          £750.00
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          RP3: Watercourse crossings
        </dt>
        <dd class="govuk-summary-list__value">
          1 unit
        </dd>
        <dd class="govuk-summary-list__value">
          £506.44
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Standard cost items total
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £3,281.44
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          Actual cost items
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          LV2: Livestock handling facilities
        </dt>
        <dd class="govuk-summary-list__value">         
        </dd>
        <dd class="govuk-summary-list__value">
          £1,080.00
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FM1: Management of geodiversity features
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £1,573.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FM2: Major preparatory works for priority habitats (creation and restoration) and priority species
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £2,363.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Actual cost items total
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £4,936.00
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Claims total
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £8,217.44
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-6" id="declarations">
      Declarations
    </h2>

      <!--- PROOF OF COST -->
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          Proof of cost
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Have you sent receipts or receipted invoices to support this claim to the RPA?
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value"> 
          <p class="govuk-body">Yes</p>
          <p class="govuk-body">3 items</p>
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Have you sent any extra evidence to support your claim?
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">No
        </dd>
      </div>
        <dd class="govuk-summary-list__value">
        </dd>

    <!--- VAT -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          VAT declaration
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Are you VAT registered?
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">Yes
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">VAT declaration for actual cost items
        </dd>
          <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">Yes
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>
  </dl>


    <h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-6" id="additional">
      Additional details for your claim
    </h2>

      <!-- public funding -->
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          Have you received other public funding or grants? 
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">No
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          Final claims
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value" style="white-space: nowrap"> 
          <p class="govuk-body">Yes</p>
          <p class="govuk-body">6 standard cost items</p>
          <p class="govuk-body">3 actual cost items</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="claims-table-summary-final-claim">View<span class="govuk-visually-hidden"> final claims</span></a>
        </dd>
      </div>
      
    </dl>
  
    <h2 class="govuk-heading-l govuk-!-margin-bottom-4" id="declarations">
      Declaration terms
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          I have read and agree to the terms of the declaration
        </dt>
       <dd class="govuk-summary-list__value">  
        </dd>
        <dd class="govuk-summary-list__value"> Yes 
        </dd>
           <dd class="govuk-summary-list__value">  
        </dd>
      </div>
    </dl>
      



<form class="form" action="claims-table" method="post">
  <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
    Close
  </button>
</form>

  </div>
  </div>


{% endblock %}



    