{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">
            Single Business Identifier (SBI): 123456789<br>Claim number: 123456789
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
        </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Final claims</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">
       You have selected 'final claim' for the following items. If this is correct, select save and continue.
      </p>
  
      <p class="govuk-body govuk-!-margin-bottom-6">
        To change this, go back and update the details of your claim.
      </p>

      <div class="govuk-inset-text">
          You have selected ‘final claim’ for 6 standard cost items and 3 actual cost items.
        </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-tabs" data-module="govuk-tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#standard-cost">Standard cost items</a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#actual-cost">Actual cost items</a>
        </li>
      </ul>
  

<!--- Standard cost items tab -->
  <div class="govuk-tabs__panel" id="standard-cost" style="border-bottom: none; border-left: none; border-right: none;">

    <!--- TABLE NO AMOUNT -->
      <div class="govuk-table__container" style="overflow-x: auto;">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Final claims with no amount remaining</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 60%;">Capital item</th>
            <th scope="col" class="govuk-table__header">Parcel number</th>
            <th scope="col" class="govuk-table__header">Amount remaining</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">BN12: Stone wall restoration</td>
            <td class="govuk-table__cell">SD3678 5801</td>
            <td class="govuk-table__cell">0 metres</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FG5: Fencing supplement - difficult sites</td>
            <td class="govuk-table__cell">SD3578 7758</td>
            <td class="govuk-table__cell">0 metres</td>
          </tr>

        </tbody>
      </table>
      </div>
      <!--- TABLE NO AMOUNT -->
    
      <!--- TABLE WITH AMOUNT -->
      <div class="govuk-table__container" style="overflow-x: auto;">
      <table class="govuk-table" style="margin-bottom: 20px;">
        <caption class="govuk-table__caption govuk-table__caption--m">Final claims with amount remaining</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 60%;">Capital item</th>
            <th scope="col" class="govuk-table__header">Parcel number</th>
            <th scope="col" class="govuk-table__header">Amount remaining</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FG12: Wooden field gate</td>
            <td class="govuk-table__cell">SD3678 5801</td>
            <td class="govuk-table__cell">1 unit</td>
          </tr> 

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FG12: Wooden field gate</td>
            <td class="govuk-table__cell">SD3578 7758</td>
            <td class="govuk-table__cell">1 unit</td>
          </tr> 

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FG12: Wooden field gate</td>
            <td class="govuk-table__cell">SD3579 7052</td>
            <td class="govuk-table__cell">1 unit</td>
          </tr>       

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">RP3: Watercourse crossings</td>
            <td class="govuk-table__cell">SD3578 7800</td>
            <td class="govuk-table__cell">1 unit</td>
          </tr> 

        </tbody>
      </table>

    <div class="govuk-warning-text" style="margin-bottom: 0; margin-top: 0;">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
            You have selected final claim for these items, but you have some leftover grant. If this is correct, select save and continue. You cannot make a further claim on these items.  
        </strong>
    </div>
  </div> <!---table-->
</div>

<div class="govuk-tabs__panel" id="actual-cost" style="border-bottom: none; border-left: none; border-right: none;">

  <!--- TABLE NO AMOUNT -->
  <div class="govuk-table__container" style="overflow-x: auto;">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Final claims with no amount remaining</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="width: 60%;">Capital item</th>
        <th scope="col" class="govuk-table__header">Parcel number</th>
        <th scope="col" class="govuk-table__header">Amount remaining</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FM1: Management of geodiversity features</td>
            <td class="govuk-table__cell">SD3578 7900</td>
            <td class="govuk-table__cell">£0.00</td>
          </tr>

    </tbody>
    </table>
  </div>

  <!--- TABLE AMOUNT -->
    <div class="govuk-table__container" style="overflow-x: auto;">
      <table class="govuk-table" style="margin-bottom: 20px;">
        <caption class="govuk-table__caption govuk-table__caption--m">Final claims with amount remaining</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 60%;">Capital item</th>
            <th scope="col" class="govuk-table__header">Parcel number</th>
            <th scope="col" class="govuk-table__header">Amount remaining</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">LV2: Livestock handling facilities</td>
            <td class="govuk-table__cell">SD3578 7800</td>
            <td class="govuk-table__cell">£100.45</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FM2: Major preparatory works for priority habitats (creation and restoration) and priority species</td>
            <td class="govuk-table__cell">SD3578 7900</td>
            <td class="govuk-table__cell">£350.70</td>
          </tr>

        </tbody>
      </table>
    <div class="govuk-warning-text" style="margin-bottom: 0; margin-top: 0px;">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
            You have selected final claim for these items, but you have some leftover grant. If this is correct, select save and continue. You cannot make a further claim on these items.  
        </strong>
    </div>
  </div>

</div>


    

      

    <form class="form" action="tasklist-7" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
        Save and continue
    </button>
  </form>



    </div>
  </div>

  <div class="govuk-!-padding-bottom-9"></div>

{% endblock %}
