{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sign in</h1>

<fieldset class="govuk-fieldset">
  <div class="govuk-form-group">
    <label class="govuk-label" for="email-1">
      Customer reference number (CRN)
    </label>
      <div class="govuk-hint">
        This is the 10 digit number emailed to you when you created your account
      </div>
    <input class="govuk-input" id="email-1" name="email1" type="text" autocomplete="email-1">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="password-1">
      Password
    </label>
    <input class="govuk-input" id="password-1" name="password2" type="text" autocomplete="password-1">
  </div>
</fieldset>

<form class="form" action="businesses-messages#not-selected" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
  Sign in
</button>
</form>

<p class="govuk-body">
Forgotten your password - <a href="#" class="govuk-link">create a new one here</a>.
</p>

<p class="govuk-body">
Started creating a new password and received the security code by email - <a href="#" class="govuk-link">enter it here</a>.
</p>

<p class="govuk-body">
Lost your customer reference number (CRN), call 03000 200 301.
</p>

    </div>
  </div>

</main>
</div>
{% endblock %}
