{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E HT MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
  Save and return later
</button>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-error-summary" data-module="govuk-error-summary" style="display: none;" tabindex="-1">
      <div role="alert">
          <h2 class="govuk-error-summary__title">
              There is a problem
          </h2>
          <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                  <li>
                      <a href="#eligibility-bps">Select if you approve the application</a>
                  </li>
              </ul>
          </div>

      </div>
  </div>

    <form class="form" method="post" onsubmit="return validateForm(event);">

      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="eligibility-bps-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you approve this application?
                  </h1>
              </legend>
  
              <p id="validation-error" class="govuk-error-message" style="display: none;">
                  <span class="govuk-visually-hidden">Error:</span>Select if you approve the application
              </p>
  
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="approval" name="approval" type="radio" value="tasklist-5">
                  <label class="govuk-label govuk-radios__label" for="approval">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="approval" name="approval" type="radio" value="tasklist-5">
                  <label class="govuk-label govuk-radios__label" for="approval">
                    Yes, but with minor changes
                  </label>
                </div>
                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="approval" name="approval" type="radio" value="tasklist-5">
                  <label class="govuk-label govuk-radios__label" for="approval">
                    Yes, but with major changes
                  </label>
                </div>
                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="approval" name="approval" type="radio" value="tasklist-5">
                  <label class="govuk-label govuk-radios__label" for="approval">
                    No - reject application
                  </label>
                </div>
          </fieldset>

      </div>
  
  <script>
      function validateForm(event) {
          event.preventDefault(); // Prevent the default form submission behavior
  
          var radios = document.getElementsByName('approval');
          var errorElement = document.getElementById('validation-error');
          var formGroup = document.querySelector('.govuk-form-group');
          var errorSummary = document.querySelector('.govuk-error-summary');
  
          for (var i = 0; i < radios.length; i++) {
              if (radios[i].checked) {
                  errorElement.style.display = 'none';
                  formGroup.classList.remove('govuk-form-group--error');
                  errorSummary.style.display = 'none'; // Hide error summary
                 
                  
                  window.location.href = 'tasklist-5.html'; 
                  return true; // Form submission allowed
              }
          }
  
          // No radio button selected, display error message and add error styling
          errorElement.style.display = 'block';
          formGroup.classList.add('govuk-form-group--error');
          errorSummary.style.display = 'block'; // Show error summary
          return false; // Form submission blocked
      }
  </script>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="eligibility-bps-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                    Have you asked a peer to review this decision?
                  </h2>
              </legend>
  
              <p id="validation-error" class="govuk-error-message" style="display: none;">
                  <span class="govuk-visually-hidden">Error:</span>Select if you have asked a peer to review
              </p>
  
                  <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="approval" name="approval" type="radio" value="tasklist-5" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="approval">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Name of reviewer
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="approval" name="approval" type="email" spellcheck="false" autocomplete="email">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="approval" name="approval" type="radio" value="tasklist-5">
        <label class="govuk-label govuk-radios__label" for="approval">
          No
        </label>
      </div>
    </div>
          </fieldset>
      </div>

      <h3 class="govuk-heading-s">Application status</h3>
  <p class="govuk-body">These are the decisions recorded by other advisers who have checked this applications.</p>

          <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Organisation</th>
      <th scope="col" class="govuk-table__header">Adviser</th>
            <th scope="col" class="govuk-table__header">Approved</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Environmental Agency</th>
      <td class="govuk-table__cell">Peter Johnson</td>
            <td class="govuk-table__cell">Yes with minor changes</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Forestry Commission</th>
      <td class="govuk-table__cell">Mary Poppins</td>
            <td class="govuk-table__cell">No - reject application</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Natural England</th>
      <td class="govuk-table__cell">Tom Rogers</td>
            <td class="govuk-table__cell">Yes with major changes</td>
    </tr>
  </tbody>
</table>

      <button class="govuk-button" data-module="govuk-button" type="submit">Submit</button>
  
      </form>

    </div>
  </div>

</div>
</main>

{% endblock %}
