{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
           <form class="form" action="saved" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" 
            style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

    <span class="govuk-caption-l">CHRW4: Manage hedgerows</span>
          <h1 class="govuk-heading-l">Review prescriptions</h1>

          

    <h2 class="govuk-heading-m">You are reviewing prescription P72</h2>

    

     <p class="govuk-body">All woody cuttings must be removed from the area within 2 m of the centre of the hedge after trimming.</p>

    <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Status</th>
        <td class="govuk-table__cell">Not applied</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Editable</th>
        <td class="govuk-table__cell">No</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Mandatory</th>
        <td class="govuk-table__cell">No</td>
      </tr>
      </tbody>
    </table>



    

    <h4 class="govuk-heading-m" style="margin-bottom: 30px">Select the parcels you want to apply this prescription to</h4>

   

<div class="govuk-tabs" data-module="govuk-tabs" >
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item ">
      <a class="govuk-tabs__tab" href="#prescription-not-applied">
        Prescription not applied
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#prescription-applied">
        Prescription applied
      </a>
    </li>
  </ul>
  


    <div class="govuk-tabs__panel" style="border: none; margin-left: -20px; margin-right: -20px" id="prescription-not-applied">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item" style="padding-bottom: 30px;">
                <input class="govuk-checkboxes__input" id="select-all" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label" for="select-all">
                    Select all parcels
                </label>
            </div>
        </div>
        
        <table class="govuk-table" data-module="moj-sortable-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input name="parcel" class="govuk-checkboxes__input" id="select-all-2" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" for="select-all-2"></label>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Parcel number</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Quantity</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="007">SE7023 5004</td>
                    <td class="govuk-table__cell" data-sort-value="007">2.54 hectares</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="008">SE7023 5005</td>
                    <td class="govuk-table__cell" data-sort-value="008">234.34 hectares</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="009">SE7023 5006</td>
                    <td class="govuk-table__cell" data-sort-value="009">26.43 hectares</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="010">SE7023 5007</td>
                    <td class="govuk-table__cell" data-sort-value="010">5.32 hectares</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="011">SE7023 5008</td>
                    <td class="govuk-table__cell" data-sort-value="011">0.73 hectares</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="012">SE7023 5009</td>
                    <td class="govuk-table__cell" data-sort-value="012">3.45 hectares</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="013">SE7023 5010</td>
                    <td class="govuk-table__cell" data-sort-value="013">6.21 hectares</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="014">SE7023 5011</td>
                    <td class="govuk-table__cell" data-sort-value="014">12.43 hectares</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="015">SE7023 5012</td>
                    <td class="govuk-table__cell" data-sort-value="015">45.20 hectares</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-custom-class">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="parcel" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label"></label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="016">SE7023 5013</td>
                    <td class="govuk-table__cell" data-sort-value="016">9.12 hectares</td>
                </tr>
            </tbody>
        </table>

<nav class="moj-pagination" aria-label="Pagination navigation">
  <ul class="moj-pagination__list">

    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 4" aria-current="page">1</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2 of 4">2</a></li>

    <li class="moj-pagination__item moj-pagination__item--dots">…</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 4 of 4">4</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>45</b> results</p>
</nav>

  </div>
  
<div class="govuk-tabs__panel" id="prescription-applied" style="border: none; margin-left: -20px; margin-right: -20px">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      
    </div>
    
    <table class="govuk-table" data-module="moj-sortable-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">
      </th>

      <th scope="col" class="govuk-table__header"></th>

      <th scope="col" class="govuk-table__header"></th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
     <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="text-align: center;" colspan="3" >No land parcels</td>
    </tr>
  </tbody>
</table>

<div class= "pagination-container">
<p class="pagination-text" style="vertical-align: middle;">Showing <b>0</b> to <b>0</b> of <b>0</b> results</p>
</div>

</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="prescriptions-p10-inprogress" method="post">
      <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
    Save changes
  </button>
  </form>

    <form class="form" action="prescriptions-list-actions" method="post">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Continue
  </button>
  </form>

</div>
</div>

</div>

<div class="govuk-grid-column-one-third">
<div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" style="background-color:#fafafa; border-color:#000000; border-width:medium;">

  <h1 class="govuk-heading-m">Select a prescription to view or edit</h1>
    
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Mandatory editable prescription</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="p71" name="changedName"  type="radio" value="month"  data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="changedName" >
          P71
        </label>
      </div>
    </td>
    <td class="govuk-table__cell" style="vertical-align: middle;">Not started</td>
  </tr>
    
    <script>
document.getElementById('p71').addEventListener('click', function() {
  if (this.checked) {
    window.location.href = 'CHRW4-prescriptions-p71'; // Replace 'new_screen_url' with the actual URL of the new page
  }
});
</script>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="p79" name="changedName" type="radio" value="month"  data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="changedName">
          P79
        </label>
      </div>
    </div>
  </td>
  <td class="govuk-table__cell" style="vertical-align: middle;">Not started</td>
</tr>

<script>
document.getElementById('p79').addEventListener('click', function() {
  if (this.checked) {
    window.location.href = 'CHRW4-prescriptions-p79'; // Replace 'new_screen_url' with the actual URL of the new page
  }
});
</script>



    </tbody>
  </table>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Optional prescription</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>

<tbody class="govuk-table__body">
 
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="p33" name="changedName" type="radio" value="month"  data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="changedName">
          P33
        </label>
      </div>
    </td>
    <td class="govuk-table__cell" style="vertical-align: middle;">Not applied</td>
  </tr>

<script>
document.getElementById('p33').addEventListener('click', function() {
  if (this.checked) {
    window.location.href = 'CHRW4-prescriptions-p33'; // Replace 'new_screen_url' with the actual URL of the new page
  }
});
</script>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="p72" name="changedName" type="radio" value="month" checked data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="changedName">
          P72
        </label>
      </div>
    </td>
    <td class="govuk-table__cell" style="vertical-align: middle;">Not applied</td>
  </tr>

<script>
document.getElementById('p72').addEventListener('click', function() {
  if (this.checked) {
    window.location.href = 'CHRW4-prescriptions-p72'; // Replace 'new_screen_url' with the actual URL of the new page
  }
});
</script>

<tr class="govuk-table__row">
<td class="govuk-table__cell">
  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="p73" name="changedName" type="radio" value="month" data-aria-controls="conditional-contact">
    <label class="govuk-label govuk-radios__label" for="changedName">
      P73
    </label>
  </div>
</td>
<td class="govuk-table__cell" style="vertical-align: middle;">Not applied</td>
</tr>

<script>
document.getElementById('p73').addEventListener('click', function() {
if (this.checked) {
window.location.href = 'CHRW4-prescriptions-p73'; // Replace 'new_screen_url' with the actual URL of the new page
}
});
</script>

<tr class="govuk-table__row">
<td class="govuk-table__cell">
  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="p74" name="changedName" type="radio" value="month" data-aria-controls="conditional-contact">
    <label class="govuk-label govuk-radios__label" for="changedName">
      P74
    </label>
  </div>
</td>
<td class="govuk-table__cell" style="vertical-align: middle;">Not applied</td>
</tr>

<script>
document.getElementById('p74').addEventListener('click', function() {
if (this.checked) {
window.location.href = 'CHRW4-prescriptions-p74'; // Replace 'new_screen_url' with the actual URL of the new page
}
});
</script>

<tr class="govuk-table__row">
<td class="govuk-table__cell">
  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="p75" name="changedName" type="radio" value="month" data-aria-controls="conditional-contact">
    <label class="govuk-label govuk-radios__label" for="changedName">
      P75
    </label>
  </div>
</td>
<td class="govuk-table__cell" style="vertical-align: middle;">Not applied</td>
</tr>

<script>
document.getElementById('p75').addEventListener('click', function() {
if (this.checked) {
window.location.href = 'CHRW4-prescriptions-p75'; // Replace 'new_screen_url' with the actual URL of the new page
}
});
</script>

<tr class="govuk-table__row">
<td class="govuk-table__cell">
  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="p77" name="changedName" type="radio" value="month" data-aria-controls="conditional-contact">
    <label class="govuk-label govuk-radios__label" for="changedName">
      P77
    </label>
  </div>
</td>
<td class="govuk-table__cell" style="vertical-align: middle;">Not applied</td>
</tr>

<script>
document.getElementById('p77').addEventListener('click', function() {
if (this.checked) {
window.location.href = 'CHRW4-prescriptions-p77'; // Replace 'new_screen_url' with the actual URL of the new page
}
});
</script>

<tr class="govuk-table__row">
<td class="govuk-table__cell">
  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="p81" name="changedName" type="radio" value="month" data-aria-controls="conditional-contact">
    <label class="govuk-label govuk-radios__label" for="changedName">
      P81
    </label>
  </div>
</td>
<td class="govuk-table__cell" style="vertical-align: middle;">Not applied</td>
</tr>

<script>
document.getElementById('p81').addEventListener('click', function() {
if (this.checked) {
window.location.href = 'CHRW4-prescriptions-p81'; // Replace 'new_screen_url' with the actual URL of the new page
}
});
</script>

<tr class="govuk-table__row">
<td class="govuk-table__cell">
  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="p82" name="changedName" type="radio" value="month" data-aria-controls="conditional-contact">
    <label class="govuk-label govuk-radios__label" for="changedName">
      P82
    </label>
  </div>
</td>
<td class="govuk-table__cell" style="vertical-align: middle;">Not applied</td>
</tr>

<script>
document.getElementById('p82').addEventListener('click', function() {
if (this.checked) {
window.location.href = 'CHRW4-prescriptions-p82'; // Replace 'new_screen_url' with the actual URL of the new page
}
});
</script>




    </tbody>

    
  </table>




  
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View the mandatory non-editable prescriptions
      </span>
    </summary>
  </br>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Mandatory non-editable prescriptions</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="p80" name="changedName" type="radio" value="month"  data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="changedName">
            P80
          </label>
        </div>
      </td>

      <script>
        document.getElementById('p80').addEventListener('click', function() {
        if (this.checked) {
          window.location.href = 'CHRW4-prescriptions-p80'; // Replace 'new_screen_url' with the actual URL of the new page
        }
        });
        </script>

      <td class="govuk-table__cell" style="vertical-align: middle;">Applied</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="p88" name="changedName" type="radio" value="month"  data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="changedName">
            P88
          </label>
        </div>
      </td>
      <td class="govuk-table__cell" style="vertical-align: middle;">Applied</td>
    </tr>

    <script>
      document.getElementById('p88').addEventListener('click', function() {
      if (this.checked) {
        window.location.href = 'CHRW4-prescriptions-p88'; // Replace 'new_screen_url' with the actual URL of the new page
      }
      });
      </script>

    </tbody>
    </table>
  </details>


  
 
</div>


</div>

</main>
</div>



<!-- Select all and checkboxes triggers actions menu bar component -->
<script>
  document.getElementById('select-all').addEventListener('change', toggleCheckboxes);
  document.getElementById('select-all-2').addEventListener('change', toggleCheckboxes);

  var parcelCheckboxes = document.querySelectorAll('input[name="parcel"]');
  for (var checkbox of parcelCheckboxes) {
      checkbox.addEventListener('change', toggleRemoveButton);
  }

  function toggleCheckboxes() {
      var checkboxes = document.querySelectorAll('input[name="parcel"]');
      for (var checkbox of checkboxes) {
          checkbox.checked = this.checked;
      }
      toggleRemoveButton();
  }

  function toggleRemoveButton() {
      var removeButton = document.getElementById('remove-prescription');
      var anyChecked = Array.from(parcelCheckboxes).some(checkbox => checkbox.checked);
      if (anyChecked) {
          removeButton.classList.remove('hidden');
      } else {
          removeButton.classList.add('hidden');
      }
  }
</script>

<!-- Remember what has been typed in -->
  <script>
     /*
      // Function to load saved content from localStorage
      function loadContent(id) {
          var input = document.getElementById(id);
          input.value = localStorage.getItem(id) || '';
      }

      // Function to save content to localStorage
      function saveContent(id) {
          var input = document.getElementById(id);
          localStorage.setItem(id, input.value);
      }

      // List of input IDs
      var inputIds = ['benefits-by', 'do-not-exceed', 'done-between'];

      // Load saved content for each input
      inputIds.forEach(loadContent);

      // Add event listeners to save content on input
      inputIds.forEach(function(id) {
          document.getElementById(id).addEventListener('input', function() {
              saveContent(id);
          });
      });
          */
  </script>
  
{% endblock %}
