{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" 
            style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">


  <div class="govuk-grid-full-column">
    
      <h1 class="govuk-heading-l">Prescriptions</h1>
      <p class="govuk-body">
        <a href="prescriptions-list-parcels-edits" class="govuk-link">View by land parcels</a>
      </p>
  
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header" aria-sort="ascending";>Name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Review complete</th>
            <th scope="col" class="govuk-table__header">Review prescriptions</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="width: 260px">{{ data['action-name-1'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell"><a href="prescriptions-p42" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="width: 200px">{{ data['action-name-2'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="width: 220px">{{ data['action-name-3'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell" style="width: 220px"><a href="" class="govuk-link">Review</a></td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-4'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-5'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-6'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-7'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-8'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-9'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-10'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-11'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-12'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-13'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-14'] }}</td>
            <td class="govuk-table__cell">{{ data['type-2'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-15'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-16'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-17'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-18'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-19'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['action-name-20'] }}</td>
            <td class="govuk-table__cell">{{ data['type-1'] }}</td>
            <td class="govuk-table__cell">Incomplete</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Review</a></td>
          </tr>
        </tbody>
      </table>

<nav class="moj-pagination govuk-!-padding-bottom-6" aria-label="Pagination navigation">

  <ul class="moj-pagination__list">

    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 2" aria-current="page">1</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 1 of 2">2</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>26</b> results</p>
</nav>

<form class="form" action="tasklist-3" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
  Save and continue
</button>
</form>


</div>
</div>

</main>
</div>

{% endblock %}
