{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
         <form class="form" action="saved" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" 
            style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

<div class="govuk-grid-full-column">
      <h1 class="govuk-heading-l">Review CAB12: Supplementary winter bird food</h1>
    </div>

 <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Select land parcels to approve or reject them, or to mark them as not applicable for this action or item.</p>
       <p class="govuk-body">If you reject a land parcel, you must explain why in the feedback section.</p>
    </div>
  </div>


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

                   <div class="govuk-button-group" id="action-menu">
 <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"  href="javascript:void(0);" id="approve-action" >
    Approve
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="javascript:void(0);" id="reject-action">
    Reject
  </button>
   <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="javascript:void(0);" id="not-applicable-action">
    Not applicable
  </button>
</div>


          <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-padding-bottom-9" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input"  id="select-all" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="select-all"> Select all parcels
        </label>
      </div>
</div>

<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

<th scope="col" class="govuk-table__header app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="select-all-2" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="select-all-2">
        </label>
      </div></th>
      
       <th scope="col" style="width: 220px" class="govuk-table__header" aria-sort="#">Parcel number</th>

      <th scope="col" style="width: 220px" class="govuk-table__header" aria-sort="#">Quantity</th>

      <th scope="col" style="width: 220px" class="govuk-table__header" aria-sort="#">Status</th>

      <th scope="col" style="width: 169px" class="govuk-table__header">Feedback</th>

       <td class="govuk-table__cell tight-column"></td>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
           <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="001">SE7023 5009</td>
      <td class="govuk-table__cell" data-sort-value="001">2.54 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
 <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>



       <tr class="govuk-table__row">
             <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="002">SE7023 5010</td>
      <td class="govuk-table__cell" data-sort-value="002">234.34 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
            <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
       <tr class="govuk-table__row">
             <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="003">SE7023 5011</td>
      <td class="govuk-table__cell" data-sort-value="003">26.43 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
            <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
       <tr class="govuk-table__row">
             <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5012</td>
      <td class="govuk-table__cell" data-sort-value="004">5.32 hectares</td>
     <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
          <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
           <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5013</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
          <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5014</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
        <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5015</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
     <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
         <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5016</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
        <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5017</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
       <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5018</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
     <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
     <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5019</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
      <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5020</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
    <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5021</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
    <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5022</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
  <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5023</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
   <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5024</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
       <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5025</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
      <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5026</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
       <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5027</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
        <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5028</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
     <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5029</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong></td>
       <td class="govuk-table__cell" data-sort-value="001">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">View feedback</span>
    </summary>
    <div class="govuk-details__text">
      <div class="feedback-wrapper">
        The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process.
      </div>
    </div>
  </details>
</td>
    </tr>

  </tbody>
</table>

<nav class="moj-pagination govuk-!-margin-bottom-6" aria-label="Pagination navigation">
  <ul class="moj-pagination__list">

    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 4" aria-current="page">1</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2 of 4">2</a></li>

    <li class="moj-pagination__item moj-pagination__item--dots">…</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 4 of 4">4</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>65</b> results</p>
</nav>

</div>
</div>

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

               <div class="govuk-form-group " id="feedback">
    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
  <h2 class="govuk-label-wrapper">
 <label class="govuk-label govuk-label--s " for="more-detail">
Feedback on action CAB12: Supplementary winter bird food
    </label>
  </h2>
  <div id="with-hint-hint" class="govuk-hint">
If you reject a land parcel for this action or item, explain why here.
  </div>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="4" aria-describedby="with-hint-info with-hint-hint"></textarea>
  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 200 characters
  </div>
  </div>
  <p>
  <form class="form" action="#" method="post">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add feedback
</button>
</form>
</div>

<form class="form" action="review-actions-capitals-reject-2" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
  Save and continue
</button>
</form>

    </div>
  </div>

</main>
</div>

<!-- Feedback component -->
<script>
  document.querySelectorAll('.govuk-details__summary').forEach(function(summary) {
    summary.addEventListener('click', function(event) {
      event.preventDefault();
      
      // Find the parent row
      const row = event.target.closest('tr');
      
      // Check if the expanded content already exists
      if (row.nextElementSibling && row.nextElementSibling.classList.contains('expanded-content')) {
        // Remove the expanded content if it already exists
        row.nextElementSibling.remove();
        row.classList.remove('hide-border'); // Remove the class to show the border again
        summary.parentNode.removeAttribute('open'); // Close the details element
        summary.parentNode.querySelector('.govuk-details__text').style.display = ''; // Show the original details text
        
        // Remove the border-bottom style from each td
        row.querySelectorAll('td').forEach(function(td) {
          td.style.borderBottom = '';
        });
      } else {
        // Get the content from the details text
        const detailsText = row.querySelector('.govuk-details__text').innerHTML;
        // Create a new row for the expanded content
        const expandedRow = document.createElement('tr');
        expandedRow.classList.add('expanded-content');
        
        // Create a cell that spans all columns
        const expandedCell = document.createElement('td');
        expandedCell.colSpan = row.children.length;
        expandedCell.innerHTML = `<div class="govuk-details__text">${detailsText}</div>`;
        
        // Append the cell to the new row
        expandedRow.appendChild(expandedCell);
        
        // Insert the new row after the current row
        row.parentNode.insertBefore(expandedRow, row.nextSibling);
        row.classList.add('hide-border'); // Add the class to hide the border
        summary.parentNode.setAttribute('open', ''); // Open the details element
        summary.parentNode.querySelector('.govuk-details__text').style.display = 'none'; // Hide the original details text
        
        // Add the border-bottom style to each td
        row.querySelectorAll('td').forEach(function(td) {
          td.style.borderBottom = 'none';
        });
      }
    });
  });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var checkboxes = document.querySelectorAll('input[name="parcel"]');
        var selectAllCheckboxes = ['select-all', 'select-all-2'];

        // Function to handle select all functionality
        function handleSelectAll(selectAllId) {
            var selectAllCheckbox = document.getElementById(selectAllId);
            selectAllCheckbox.addEventListener('change', function() {
                for (var checkbox of checkboxes) {
                    checkbox.checked = this.checked;
                }
                toggleRemoveButton();
                toggleButtons();
            });
        }

        // Initialize select all functionality for both checkboxes
        selectAllCheckboxes.forEach(function(selectAllId) {
            handleSelectAll(selectAllId);
        });

        for (var checkbox of checkboxes) {
            checkbox.addEventListener('change', function() {
                toggleRemoveButton();
                toggleButtons();
            });
        }

        function toggleRemoveButton() {
            var removeButton = document.getElementById('action-menu');
            var anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
         
        }

        function toggleButtons() {
            var buttons = document.querySelectorAll('#approve, #reject, #feedback');
            var anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            buttons.forEach(button => {
               
            });
        }

        document.getElementById('approve-action').addEventListener('click', function(event) {
            event.preventDefault();
            updateStatus('Approved');
            clearSelectedCheckboxes();
        });

        document.getElementById('reject-action').addEventListener('click', function(event) {
            event.preventDefault();
            updateStatus('Rejected');
            clearSelectedCheckboxes();
        });

        document.getElementById('not-applicable-action').addEventListener('click', function(event) {
            event.preventDefault();
            updateStatus('Not applicable');
            clearSelectedCheckboxes();
        });

        function updateStatus(status) {
            var selectedCheckboxes = document.querySelectorAll('input[name="parcel"]:checked');
            selectedCheckboxes.forEach(function(checkbox) {
                var row = checkbox.closest('tr');
                var statusCell = row.querySelector('.govuk-task-list__status');
                var iconCell = row.querySelector('.tight-column');
                if (statusCell) {
                    if (status === 'Rejected') {
                        statusCell.innerHTML = '<strong class="govuk-tag govuk-tag--red">Rejected</strong>';
                        iconCell.style.visibility = 'visible';
                    } else if (status === 'Not applicable') {
                        statusCell.innerHTML = '<strong class="govuk-tag govuk-tag--grey">Not applicable</strong>';
                        iconCell.style.visibility = 'hidden';
                    } else if (status === 'Approved') {
                        statusCell.innerHTML = '<strong class="govuk-tag govuk-tag--green">Approved</strong>';
                        iconCell.style.visibility = 'hidden';
                    }
                } else {
                    console.error('Status cell not found for row:', row);
                }
            });
        }

        function clearSelectedCheckboxes() {
            var selectedCheckboxes = document.querySelectorAll('input[name="parcel"]:checked');
            selectedCheckboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });
            selectAllCheckboxes.forEach(function(selectAllId) {
                var selectAllCheckbox = document.getElementById(selectAllId);
                selectAllCheckbox.checked = false;
            });
            toggleRemoveButton();
            toggleButtons();
        }
    });
</script>

{% endblock %}
