{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



<div>
  <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Business overview</h1>
    <span class="govuk-caption-l govuk-!-padding-bottom-6">Smith Farm Ltd <br> 
      Single Business Identifier (SBI): 123456789
    </span>

  <h1 class="govuk-heading-m">Business details</h1>

    <p class="govuk-body">Smith Farm Ltd
      <br>Jasmine Smith
      <br>High Street
      <br>Rhydlewis
      <br>Ellesmere
      <br>PO30 1NY
    </p>

    <p class="govuk-body govuk-!-margin-bottom-0">Email: jasminesmith.farm@gmail.com
      <br>Landline: 0123456789
      <br>Mobile: 0712345689
    </p>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold">Permission to act for this business</p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Full name</th>
          <th scope="col" class="govuk-table__header">Relationship</th>
          <th scope="col" class="govuk-table__header">Contact</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Jasmine Smith</td>
          <td class="govuk-table__cell">Sole trader</td>
          <td class="govuk-table__cell">N/A</td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell"style="border-bottom-color: white">Bartholomew Brown</td>
          <td class="govuk-table__cell"style="border-bottom-color: white">Agent</td>
          <td class="govuk-table__cell"style="border-bottom-color: white">b.brown@gmail.com <br>0712389307</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body govuk-!-font-weight-bold">
        Applications and agreements
      </p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><a href="dashboard" class="govuk-link">
        View applications and agreements</a>
      </p>
    </div>
  </div>
  
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">





{% endblock %}
