{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Prototype</span>
    <h1 class="govuk-heading-xl">
      CS Higher Tier
    </h1>

<h1 class="govuk-heading-m">User Testing</h1>

<details class="govuk-details" open>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Scenario flows
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body"><a class="govuk-link" href="sssi/tasklist-1">Scenario 1</a></p>
    <p class="govuk-body"><a class="govuk-link" href="commons/tasklist-1">Scenario 5</a></p>
    <p class="govuk-body"><a class="govuk-link" href="tasklist-1">Scenario 6</a></p>
    <p class="govuk-body"><a class="govuk-link" href="tasklist-1">Scenario 9</a></p>
  </div>
</details>

<div class="govuk-!-padding-bottom-9"></div>


<details class="govuk-details" open>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Screen mockups
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body"><a class="govuk-link" href="screens/hefer">Scenario 2</a></p>
    <p class="govuk-body"><a class="govuk-link" href="screens/ite">Scenario 3</a></p>
    <p class="govuk-body"><a class="govuk-link" href="screens/error-warning">Scenario 4</a></p>
    <p class="govuk-body"><a class="govuk-link" href="screens/incompatible">Scenario 7</a></p>
    <p class="govuk-body"><a class="govuk-link" href="screens/hedgerow">Scenario 8</a></p>  
  </div>
</details>



<div class="govuk-!-padding-bottom-9"></div>

</div>
</div>

{% endblock %}
