{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back to Business overview",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Claim number: 1943258</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
  Save and return later
</button>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add a new invoice</h1>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s">
          Receipt invoice reference
        </label>
      </h1>
      <div id="receipt-reference" class="govuk-hint">
        For example, 502135326
      </div>
      <input class="govuk-input govuk-input--width-10" id="receipt-reference" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">
    </div>

    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="cost">
          Invoice amount excluding VAT
        </label>
      </h2>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-10" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s">
          Invoice VAT
        </label>
      </h2>
      <div id="receipt-reference" class="govuk-hint">
        Optional
      </div>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-10" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s">
          Agreed payment rate
        </label>
      </h1>
      <div class="govuk-input__wrapper">
        <input class="govuk-input govuk-input--width-5" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">%</div>
      </div>
    </div>

    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s">
          Amount claimed excluding VAT
        </label>
      </h2>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-10" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s">
          VAT claimed
        </label>
      </h2>
      <div id="receipt-reference" class="govuk-hint">
        Optional
      </div>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-10" type="text" spellcheck="false">
      </div>
    </div>




    <form class="form" action="actual-cost-lv2-invoices-saved" method="post">
      <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
        Save and continue
      </button>
    </form>

    <p class="govuk-body">
      <a href="actual-cost-lv2-invoices" class="govuk-link">Cancel</a>
    </p>

</div>
</div>






{% endblock %}
