{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">
            Single Business Identifier (SBI): 123456789<br>Claim number: 123456789
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
        </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Check your answers before submitting your claim​</h1>
    <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" class="govuk-link">Print</a></p>
    </p>
  </div>


  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l" id="details">
            Your details
    </h2>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Business
        </dt>
        <dd class="govuk-summary-list__value">
          JASMINE SMITH FARM<br>
          Rainbow Farm<br>
          High Street<br>
          Rhydlewis<br>
          Ellesmere<br>
          PO30 1NY
          </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single Business Identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          123456789
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement number
        </dt>
        <dd class="govuk-summary-list__value">
          1237477
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4" id="capital-items">
      Details of your capital item claim
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 410px;">
          Standard cost items
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="standard-cost-items-saved">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          BN12 - Stone wall restoration
        </dt>
        <dd class="govuk-summary-list__value">
          65 m
        </dd>
        <dd class="govuk-summary-list__value">
          £1,625.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          BN13 - Stone wall - top wiring
        </dt>
        <dd class="govuk-summary-list__value">
          1500 m
        </dd>
        <dd class="govuk-summary-list__value">
          £2,725.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FG12 - Wooden field gate
        </dt>
        <dd class="govuk-summary-list__value">
          3 units
        </dd>
        <dd class="govuk-summary-list__value">
          £750.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Standard cost items total
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £5,100.00
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 410px;">
          Actual cost items
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="actual-cost-items-saved">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          LV2: Livestock handling facilities
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
        <dd class="govuk-summary-list__value">
          £1,000.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FM1: Management of geodiversity features
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £1,573.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Actual cost items total
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
        <dd class="govuk-summary-list__value">
          £2,573.00
        </dd>
      </div>
    </dl>

      <!--- PROOF OF COST -->
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 410px;">
          Proof of cost
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="proof-cost">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Have you sent receipts or receipted invoices to support this claim to the RPA?
        </dd>
        <dd class="govuk-summary-list__value"> 
          <p class="govuk-body">Yes</p>
          <p class="govuk-body">10 items</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Have you sent any extra evidence to support your claim?
        </dd>
        <dd class="govuk-summary-list__value">No
        </dd>
      </div>
    </dl>

    <!--- VAT -->
    <dl class="govuk-summary-list govuk-!-margin-top-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 410px;">
          VAT declaration
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="proof-cost">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Are you VAT registered?
        </dd>
        <dd class="govuk-summary-list__value">Yes
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">VAT declaration for actual cost items
        </dd>
        <dd class="govuk-summary-list__value">Not applicable
        </dd>
      </div>
      </dl>


      <h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-6" id="additional">
      Additional details for your claim
    </h2>

    <dl class="govuk-summary-list">
    <!-- public funding -->
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key" style="width: 410px;"> 
          Have you received other public funding or grants?
        </dt>
        <dd class="govuk-summary-list__value" style="width: 410px;"> No 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="public-funding">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <!-- LATE CLAIMS -->
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__key" style="width: 410px;"> 
          Final claims
        </dt>
        <dd class="govuk-summary-list__value" style="width: 410px;"> 
          <p class="govuk-body">Yes</p>
          <p class="govuk-body">Standard cost items </p>
          <p class="govuk-body">
          • BN12: Stone wall restoration, SD3578 7755, 20 metres
          <br>
            • BN13: Stone wall - top wiring, SD3578 7755, 20 metres
          <br>
            • FG2: Sheep netting, SD3578 7759, 500 metres

          <span class="more-text">
            • FG5: Fencing supplement - difficult sites, SD3578 7758, 350 metres <br>
            • FG9: Deer fencing, SD3579 7052, 150 metres <br>
            • FG16: Deer pedestrian gate, SD3579 7052, 3 units <br>
            • FG17: Deer high seat / unit, SD3579 7052, 4 units <br>
            • FY1: Deer high seat / unit, SD3579 7052, 2 units <br>
            • RP3: Watercourse crossings, SD3578 7800, 2 units <br>                       
            • RP12: Check dams, SD3578 7800, 2 units <br>         
            • RP16: Rainwater goods, SD3579 7052, SD3578 7800, 100 metres <br>    
            • SB6: Rhododendron control, SD3578 7880, 2 hectares <br>
            <br>
            
            Actual cost items
            <br>
            • LV2: Livestock handling facilities, SD3578 7800, £100.45 <br>
            • FM1: Management of geodiversity features,  SD3578 7900, £200.98 <br>
            • FM2: Major preparatory works for priority habitats (creation and restoration) and priority species, SD3578 7900, £350.70 <br> 

          </span>
                <a href="javascript:void(0);" onclick="toggleText(this)">Show more</a>
          </p>

        </dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="final-claims">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

    </dl>

    <script>
        function toggleText(link) {
            var moreText = link.previousElementSibling;

            if (moreText.style.display === 'none' || moreText.style.display === '') {
                moreText.style.display = 'inline';
                link.textContent = 'Show less';
            } else {
                moreText.style.display = 'none';
                link.textContent = 'Show more';
            }
        }

        // Ensure the initial state is correct
        document.addEventListener('DOMContentLoaded', function() {
            var moreText = document.querySelector('.more-text');
            var linkText = document.querySelector('a');

            if (moreText.style.display === 'none' || moreText.style.display === '') {
                linkText.textContent = 'Show more';
            } else {
                linkText.textContent = 'Show less';
            }
        });
    </script>
    <style>
        .more-text {
            display: none;
        }
    </style>



<form class="form" action="check-your-answers-saved" method="post">
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Confirm
  </button>
</form>

<form class="form" action="tasklist-8" method="post">
<button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button" disabled>
Save and continue
</button>
</form>

</div>
</div>



{% endblock %}
