{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Select the agreement you want to claim for</h1>

    <p class="govuk-body govuk-!-margin-bottom-6">Select an agreement, and then 'Create a new claim’.  You can only create claims for live agreements.</p>
  </div>

  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" style="width: 40px;"></th>
        <th scope="col" class="govuk-table__header" style="width: 220px;">Agreement type and name</th>
        <th scope="col" class="govuk-table__header" style="width: 100px;">Agreement number</th>
        <th scope="col" class="govuk-table__header" style="width: 120px;">Status</th>
        <th scope="col" class="govuk-table__header" style="width: 110px;">Start date</th>
        <th scope="col" class="govuk-table__header" style="width: 110px;">End date</th>
        <th scope="col" class="govuk-table__header" style="width: 140px;">Agreement document</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios" >
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" type="radio">
              <label class="govuk-label govuk-radios__label">
              </label>
            </div>
        </td>
        <td class="govuk-table__cell">Countryside Stewardship Higher Tier - Holker Woodland</td>
        <td class="govuk-table__cell">1237477</td>
        <td class="govuk-table__cell">Agreement live</td>
        <td class="govuk-table__cell">01/10/2025</td>
        <td class="govuk-table__cell">30/10/2035</td>
        <td class="govuk-table__cell"><a href="#" class="govuk-link">View agreement document</a></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"">

          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" type="radio">
              <label class="govuk-label govuk-radios__label">
              </label>
            </div>
        </td>

        <td class="govuk-table__cell">Countryside Stewardship (HT) - H Woodland HT 2026</td>
        <td class="govuk-table__cell">1228004</td>
        <td class="govuk-table__cell">Agreement live</td>
        <td class="govuk-table__cell">01/01/2026</td>
        <td class="govuk-table__cell">31/12/2036</td>
        <td class="govuk-table__cell"><a href="#" class="govuk-link">View agreement document</a></td>
      </tr>

      </tbody>
    </table>
  </div>


  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="start-claim" method="post">
      <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
          Create a new claim
      </button>
    </form>

    <p class="govuk-body">
      <a href="claims-table" class="govuk-link govuk-link--no-visited-state">Cancel</a>
    </p>

  </div>

</div>


{% endblock %}
