{% extends "layouts/main.html" %}

{% block pageTitle %}
Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back to Business overview",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-!-padding-bottom-6">
<h1 class="govuk-heading-l govuk-!-margin-bottom-2">Countryside Stewardship claims</h1>
  <span class="govuk-caption-l ">Holmeland Farm</span>
</div>

<h2 class="govuk-heading-m govuk-!-margin-bottom-6">Select an Agreement to generate a claim form</h2>
  
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header">Agreement Type</th>
          <th scope="col" class="govuk-table__header">Agreement Number</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Start Date</th>
          <th scope="col" class="govuk-table__header">End Date</th>
          <th scope="col" class="govuk-table__header">Agreement document</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"">

              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio">
                  <label class="govuk-label govuk-radios__label">
                  </label>
                </div>
            </td>

            <td class="govuk-table__cell">Tree Health Improvement (THI) - Howbarrow</td>
            <td class="govuk-table__cell">1237477</td>
            <td class="govuk-table__cell">Agreement Live</td>
            <td class="govuk-table__cell">01/10/2021</td>
            <td class="govuk-table__cell">30/09/2023</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Open agreement</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"">

              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio">
                  <label class="govuk-label govuk-radios__label">
                  </label>
                </div>
            </td>

            <td class="govuk-table__cell">Countryside Stewardship (HT) - Holker Woodland HT 2021</td>
            <td class="govuk-table__cell">1228004</td>
            <td class="govuk-table__cell">Agreement Live</td>
            <td class="govuk-table__cell">01/10/2022</td>
            <td class="govuk-table__cell">31/12/2026</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Open agreement</a></td>
          </tr>
          
        </tbody>
      </table>



    <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-margin-bottom-6">You may not be able to generate a claim if an Agreement is under amendment. 
        Please contact Rural Payments Agency for assistance.</p>

      <form class="form" action="complete-claim-start" method="post">
        <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
           Create a new Capital claim
        </button>
      </form>

      <p class="govuk-body">
       <a href="claims-table" class="govuk-link">Cancel</a>
      </p>


    </div>

  </div>


{% endblock %}
