{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">
            Single Business Identifier (SBI): 123456789<br>Claim number: 123456789
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
        </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li style="margin-bottom: 20px;">
              <a href="#invoice-error">Select if you have sent receipts or invoices to the RPA</a>
            </li>
            <li style="margin-bottom: 20px;">
              <a href="#evidence-error">Select if you have sent any extra evidence to support your claim</a>
            </li>
            <li style="margin-bottom: 20px;">
              <a href="#vat-error">Select if you are VAT registered</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h1 class="govuk-heading-l">Proof of cost</h1>

    <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label govuk-label--m">
          Have you sent receipts or receipted invoices to support this claim to the RPA?
        </label>
        <p id="invoice-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Select if you have sent receipts or invoices to the RPA
        </p>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="comments-yes" name="comments" type="radio" value="yes" data-aria-controls="conditional-comments-yes">
            <label class="govuk-label govuk-radios__label" for="comments-yes">Yes</label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-comments-yes">
            <div class="govuk-form-group">
              <label class="govuk-label" for="label-as-page-heading" style="margin-bottom: 10px;">
                If yes, how many items did you send?
              </label>
              <input class="govuk-input govuk-!-width-full-width" id="label-as-page-heading" name="labelAsPageHeading" spellcheck="false">
            </div>
          </div>
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="comments-no" name="comments" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="comments-no">No</label>
          </div>
        </div>
    </div>

    <div class="govuk-form-group govuk-form-group--error">
      <label class="govuk-label govuk-label--m" style="margin-bottom: 10px;">
        Have you sent any extra evidence to support your claim?
      </label>
      <div id="evidence-hint" class="govuk-hint">
        For example, photos of completed work, consents, detailed specifications.
      </div>
      <p id="evidence-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Select if you have sent any extra evidence to support your claim
      </p>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="evidence-yes" name="evidence" type="radio" value="yes" aria-describedby="evidence-yes">
          <label class="govuk-label govuk-radios__label" for="evidence">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="evidence-no" name="evidence" type="radio" value="no" aria-describedby="evidence-no">
          <label class="govuk-label govuk-radios__label" for="evidence-2">
            No
          </label>
        </div>
      </div>
    </div>
      
    <div class="govuk-form-group govuk-form-group--error">
      <label class="govuk-label govuk-label--m" style="margin-bottom: 10px;">
        Are you VAT registered?
      </label>
      <div id="evidence-hint" class="govuk-hint">
        If no, you must send the RPA proof of your VAT status.
      </div>
      <p id="vat-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Select if you are VAT registered
      </p>

      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="vat-yes" name="vat" type="radio" value="yes" aria-describedby="vat-yes">
          <label class="govuk-label govuk-radios__label" for="vat">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="vat-no" name="vat" type="radio" value="no" aria-describedby="vat-no">
          <label class="govuk-label govuk-radios__label" for="vat-2">
            No
          </label>
        </div>
      </div>
    </div>

    <form class="form" action="tasklist-4" method="post">
      <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
          Save and continue
      </button>
    </form>


    </div>
  </div>

  <div class="govuk-!-padding-bottom-9"></div>

{% endblock %}
