{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back to Business overview",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Claim number: 1943258</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
  Save and return later
</button>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Details of Capital Item Claim for Standard Cost Items </h1>
    
    <p class="govuk-body govuk-!-margin-top-6">
      If you believe the numbers (length, area etc.) are incorrect, 
      contact Rural Payments Agency BEFORE submitting your claim.
    </p>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">BN12 - Stone Wall Restoration</h2>

</div>


<div class="govuk-grid-column-full">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header">Item code</th>
        <th scope="col" class="govuk-table__header" style="width: 260px;">Item title</th>
        <th scope="col" class="govuk-table__header">Total Approved</th>
        <th scope="col" class="govuk-table__header">Total Remaining</th>
        <th scope="col" class="govuk-table__header">Applied for</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">BN12</td>
          <td class="govuk-table__cell">BN12 - Stone Wall Restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">BN12 - Stone Wall Restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">BN12 - Stone Wall Restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">BN12 - Stone Wall Restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">BN12 - Stone Wall Restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">BN12 - Stone Wall Restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">7</td>
          <td class="govuk-table__cell">BN12 - Stone Wall Restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">BFG5</td>
          <td class="govuk-table__cell">BFG5 - Fencing supplement - difficult sites</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">9</td>
          <td class="govuk-table__cell">BN12 - Stone Wall Restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">10</td>
          <td class="govuk-table__cell">BN12 - Stone Wall Restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Open</a></td>
        </tr>

      </tbody>
    </table>

    <!----Pagination-----> 
    <div class= "pagination-container">

      <nav class="govuk-pagination" aria-label="Pagination">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              ...
            </a>
          </li>
            <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              4
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>
      <p class="pagination-text" style="vertical-align: middle;">Showing <b>1</b> to <b>20</b> of <b>65</b> results</p>
      
      </div>

      <form class="form" action="standard-cost-items-bn12-error" method="post">
        <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
           Save and continue
        </button>
      </form>

      <form class="form" action="standard-cost-items" method="post">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
           Back to details
        </button>
      </form>


</div>
</div>






{% endblock %}
