{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">
            Single Business Identifier (SBI): 123456789<br>Claim number: 123456789
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
        </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Standard cost items</h1>

    <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      If any of the numbers are incorrect, contact the <a href="https://www.gov.uk/government/organisations/rural-payments-agency" target="_blank" class="govuk-link">Rural Payments Agency (RPA)</a> before you go any further.
    </p>

</div>


<div class="govuk-grid-column-full">
  <table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" style="width: 320px;" aria-sort="ascending">Item</th>
        <th scope="col" class="govuk-table__header" style="width: 130px;" aria-sort="none">Item amount</th>
        <th scope="col" class="govuk-table__header" style="width: 130px;" aria-sort="none">Amount remaining</th>
        <th scope="col" class="govuk-table__header" style="width: 130px;" aria-sort="none">Amount claimed for</th>
        <th scope="col" class="govuk-table__header" style="width: 150px;" aria-sort="none">Make a claim</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="1">BN12 - Stone wall restoration</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="standard-cost-bn12" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="2">BN13: Stone wall - top wiring</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">225 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="3">FG2: Sheep netting</td>
          <td class="govuk-table__cell">9,683 metres</td>
          <td class="govuk-table__cell">6,588 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="4">FG5: Fencing supplement - difficult sites</td>
          <td class="govuk-table__cell">229 metres</td>
          <td class="govuk-table__cell">229 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="5">FG9: Deer fencing</td>
          <td class="govuk-table__cell">3,000 metres</td>
          <td class="govuk-table__cell">3,000 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="6">FG11: Deer exclosure plot/unit</td>
          <td class="govuk-table__cell">6 units</td>
          <td class="govuk-table__cell">6 units</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="7">FG12: Wooden field gate</td>
          <td class="govuk-table__cell">8 units</td>
          <td class="govuk-table__cell">7 units</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="8">FG15: Water gates</td>
          <td class="govuk-table__cell">3 units</td>
          <td class="govuk-table__cell">2 units</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="9">FG16: Deer pedestrian gate</td>
          <td class="govuk-table__cell">5 units</td>
          <td class="govuk-table__cell">5 units</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="10">ED1: Educational access</td>
          <td class="govuk-table__cell">3 visits</td>
          <td class="govuk-table__cell">3 visits</td>
          <td class="govuk-table__cell">0 visits</td>
          <td class="govuk-table__cell"><a href="standard-cost-ed1" class="govuk-link">Claim for this item</a></td>
        </tr>


     <!---
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="10">FG17: Deer vehicle gate</td>
          <td class="govuk-table__cell">3 units</td>
          <td class="govuk-table__cell">3 units</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">FY1: Deer high seat / unit</td>
          <td class="govuk-table__cell">9 units</td>
          <td class="govuk-table__cell">9 units</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">RP1: Resurfacing of gateways</td>
          <td class="govuk-table__cell">4 units</td>
          <td class="govuk-table__cell">4 units</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">RP12: Check dams</td>
          <td class="govuk-table__cell">3 units</td>
          <td class="govuk-table__cell">3 units</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">RP16: Rainwater goods</td>
          <td class="govuk-table__cell">140 metres</td>
          <td class="govuk-table__cell">120 metres</td>
          <td class="govuk-table__cell">0 metres</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">RP27: Sprayer or applicator load and washdown area</td>
          <td class="govuk-table__cell">200 square metre</td>
          <td class="govuk-table__cell">200 square metre</td>
          <td class="govuk-table__cell">0 square metre</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">RP3: Watercourse crossings</td>
          <td class="govuk-table__cell">2 units</td>
          <td class="govuk-table__cell">2 units</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">RP32: Small leaky woody dams</td>
          <td class="govuk-table__cell">1 unit</td>
          <td class="govuk-table__cell">1 unit</td>
          <td class="govuk-table__cell">0 units</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SB6: Rhododendron control</td>
          <td class="govuk-table__cell">2.4 HA</td>
          <td class="govuk-table__cell">2.4 HA</td>
          <td class="govuk-table__cell">0 HA</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">TE1: Planting standard hedgerow tree</td>
          <td class="govuk-table__cell">2 trees</td>
          <td class="govuk-table__cell">2 trees</td>
          <td class="govuk-table__cell">0 trees</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Claim for this item</a></td>
        </tr>
         -->

      </tbody>
    </table>

    <!----Pagination-----> 
    <nav class="moj-pagination govuk-!-margin-bottom-6" aria-label="Pagination navigation">
      <ul class="moj-pagination__list">
        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 4" aria-current="page">1</li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2 of 4">2</a></li>
        <li class="moj-pagination__item moj-pagination__item--dots">…</li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 4 of 4">4</a></li>
        <li class="moj-pagination__item">
          <a class="govuk-link govuk-link--no-visited-state" href="" rel="next" style="font-weight: 700;">Next<span class="govuk-visually-hidden">page</span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          </a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>83</b> results</p>
    </nav>

    </div>
    </div>




  <!----Have you completed this section-->    
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m">
        Have you finished creating your standard cost item claims?
      </label>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="haveYouCompletedThisSection" name="haveYouCompletedThisSection" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="haveYouCompletedThisSection">
              Yes, I've added my claims
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="haveYouCompletedThisSection-2" name="haveYouCompletedThisSection" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="haveYouCompletedThisSection-2">
              No, I’ll come back to it later
            </label>
          </div>
        </div>
    </div>

    <form class="form" action="standard-cost-items-saved" method="post">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
  </form>




</div>
</div>






{% endblock %}
