{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only. <a href="/sfi-ads-and-rads-aug26/scenarios" class="govuk-link">Back to start page</a>'
}) }}
<br>

  <div class="govuk-!-margin-bottom-1">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
</div>

{% endblock %}

{% block content %}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
    
    <!-- LEFT COLUMN (HEADING + SBI) -->
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Smith Farm Ltd</h3>
      <p class="govuk-hint sbi-number govuk-!-margin-bottom-0">
        Single Business Identifier (SBI): 123456789
      </p>
      <br>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      
      <!-- Important Banner -->
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      {% if data.sfi26NextScreen == 'dashboard-submit-rotational' %}
        You must submit your rotational action declaration for <a class="govuk-notification-banner__link" href="/sfi-ads-and-rads-aug26/{{ data.sfi26NextScreen or 'dashboard-new' }}">J Smith SFI26</a> by 10 August 2026.
      {% else %}
      You must submit your annual declaration for <a class="govuk-notification-banner__link" href="/sfi-ads-and-rads-aug26/{{ data.sfi26NextScreen or 'dashboard-new' }}">J Smith SFI26</a> by 29 July 2026.
      {% endif %}
    </p>
  </div>
</div>

<div class="govuk-!-margin-bottom-6">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
    Applications and agreements
  </h1>



</div>



<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Agreement name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Agreement number</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Type</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Date of status change</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Status</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/sfi-ads-and-rads-aug26/{{ data.sfi26NextScreen or 'dashboard-new' }}" class="govuk-link">J Smith SFI26</a></td>
      <td class="govuk-table__cell">5795634</td>
      <td class="govuk-table__cell">SFI26</td>
      <td class="govuk-table__cell">15 June 2026</td>
      <td class="govuk-table__cell">{% if data.sfi26NextScreen == 'dashboard-submit-rotational' %}Rotational action declaration available{% else %}Annual declaration available{% endif %}</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="" class="govuk-link">J Smith SFI26</a></td>
      <td class="govuk-table__cell">4239120</td>
      <td class="govuk-table__cell">SFI26</td>
      <td class="govuk-table__cell">10 June 2026</td>
      <td class="govuk-table__cell">Withdrawn</td>
    </tr>
  </tbody>
</table>



</div>

</main>

{% endblock %}
