{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
<br>

  <div class="govuk-!-margin-bottom-1">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
</div>

{% endblock %}

{% block content %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row" id="header" style="padding-top:16px;">
  
  <!-- LEFT COLUMN (HEADING + SBI) -->
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Smith Farm Ltd</h3>
    <p class="govuk-hint sbi-number govuk-!-margin-bottom-0">
      Single Business Identifier (SBI): 123456789
    </p>
  </div>

  <!-- RIGHT COLUMN (SECONDARY BUTTON) -->
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <a href="/sfi-26-testing/saved-application"
    class="govuk-button govuk-button--secondary govuk-!-margin-top-2"
    role="button"
    data-module="govuk-button">
    Save and return later
  </a>
  </div>

</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Check your answers</h1>

      <!-- Reasons for not complying sumamry card -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Reasons for not complying
          </h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you complying with the obligations in your agreement for the relevant agreement year?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Why are you not complying with the obligations?
              </dt>
              <dd class="govuk-summary-list__value">
                Something else
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Tell us the reason you are not complying
              </dt>
              <dd class="govuk-summary-list__value">
                Personal injury
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When did you stop complying?
              </dt>
              <dd class="govuk-summary-list__value">
                12 January 2026
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which actions in your agreement have been affected? (Optional)
              </dt>
              <dd class="govuk-summary-list__value">
                AHW4
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which of your land parcels have been affected? (Optional)
              </dt>
              <dd class="govuk-summary-list__value">
                SO3757 3158
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is there anything else you would like to tell us? (Optional)
              </dt>
              <dd class="govuk-summary-list__value">
                Most of the agreement is still being upheld, it has just impacted a small amount of land and one action
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>

          </dl>
        </div>

      </div>

      <!-- Evidence uploaded sumamry card -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Evidence uploaded
          </h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                File one
              </dt>
              <dd class="govuk-summary-list__value">
                receipt-1
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"></span></a>
                <a class="govuk-link" href="#">Replace<span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                File two
              </dt>
              <dd class="govuk-summary-list__value">
                receipt-2
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"></span></a>
                <a class="govuk-link" href="#">Replace<span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>

          </dl>
        </div>

      </div>

    <form class="form" action="check-your-answers-confirmed" method="post">
      <button id="continueButton" type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
        Submit
      </button>
    </form>

  </div> 
</div>



{% endblock %}
