{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only. <a href="/sfi-ads-and-rads-aug26/scenarios" class="govuk-link">Back to start page</a>'
}) }}
<br>

  <div class="govuk-!-margin-bottom-1">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
</div>

{% endblock %}

{% block content %}

{% if error %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Select if you will get a SSSI consent if you must",
        href: "annual-declaration-answer"
      }
    ]
  }) }}
{% endif %} 


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row" id="header" style="padding-top:16px;">
  
  <!-- LEFT COLUMN (HEADING + SBI) -->
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Smith Farm Ltd</h3>
    <p class="govuk-hint sbi-number govuk-!-margin-bottom-0">
      Single Business Identifier (SBI): 123456789
    </p>
  </div>

  <!-- RIGHT COLUMN (SECONDARY BUTTON) -->
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <a href="/sfi-26-testing/saved-application"
    class="govuk-button govuk-button--secondary govuk-!-margin-top-2"
    role="button"
    data-module="govuk-button">
    Save and return later
  </a>
  </div>

</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Contact the Rural Payments Agency
    </label>
  </h1>
      <p class="govuk-body">Tell us why you no longer expect to comply with your agreement obligations by emailing
        <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a>.
        <p class="govuk-body">Use the subject line 'Unable to comply with agreement obligations' and include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your Single Business Identifier (SBI)</li>
  <li>your agreement reference number, which you can find on your agreement document</li>
  <li>as many details as possible, including any specific actions you cannot complete</li>
</ul>
    <p class="govuk-body">For more information, read section 12.2 of ‘SFI26: Scheme Rules and Guidance’ in the
  <a href="https://www.gov.uk/government/publications/sustainable-farming-incentive-2026-sfi26" class="govuk-link">Sustainable Farming Incentive 2026 Guidance</a>, 
  or section 17.2 of the 'CSHT agreement holder's guide' in the   <a href="https://www.gov.uk/government/publications/countryside-stewardship-higher-tier-csht" class="govuk-link">
    Countryside Stewardship Higher Tier guidance</a>.</p> 
 <br>    


<div class="govuk-button-group">
  <form action="dashboard-new" method="post">
<button type="submit"class="govuk-button">Close</button>
</div>
</form>
    </div>
  </div>



{% endblock %}

