{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-m">Declaration testing</h1>

<p class="govuk-body"><a class="govuk-link" href="/sfi-ads-and-rads-aug26/dashboard-new">Scenario 1</a></p>
<p class="govuk-body"><a class="govuk-link" href="/sfi-ads-and-rads-aug26/dashboard-new">Scenario 2</a></p>
<p class="govuk-body"><a class="govuk-link" href="/sfi-ads-and-rads-aug26/dashboard-submit-rotational">Scenario 3</a></p>


</div>
</div>

{% endblock %}
