{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only. <a href="/declarations/declaration-scenarios" class="govuk-link">Back to start page</a>'
}) }}
<br>

  <div class="govuk-!-margin-bottom-1">
    {{ govukBackLink({
      text: "Back to Business overview",
      href: "business-overview"
    }) }}
  </div>

  <div class="govuk-!-margin-bottom-1">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
</div>

{% endblock %}

{% block content %}

{% if error %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Tick all of the confirmation boxes before you submit your declaration",
        href: "#checkbox-error"
      }
    ]
  }) }}
{% endif %} 


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row" id="header" style="padding-top:16px;">
  
  <!-- LEFT COLUMN (HEADING + SBI) -->
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Smith Farm Ltd</h3>
    <p class="govuk-hint sbi-number govuk-!-margin-bottom-0">
      Single Business Identifier (SBI): 123456789
    </p>
  </div>

  <!-- RIGHT COLUMN (SECONDARY BUTTON) -->
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <a href="/sfi-26-testing/saved-application"
    class="govuk-button govuk-button--secondary govuk-!-margin-top-2"
    role="button"
    data-module="govuk-button">
    Save and return later
  </a>
  </div>

</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Submit your annual declaration</h1>

<form action="/declarations/confirm-declaration" method="post">

{% if error %}
  <div class="govuk-form-group govuk-form-group--error">
{% else %}
  <div class="govuk-form-group">
{% endif %}

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <p class="govuk-body">Tick to confirm:</p>
    </legend>

    {% if error %}
      <p id="checkbox-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Tick all of the confirmation boxes before you submit your declaration
      </p>
    {% endif %}

   <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input"
         id="confirm-1"
         name="confirm"
         type="checkbox"
         value="confirm-1">
  <label class="govuk-label govuk-checkboxes__label" for="confirm-1">
    I am meeting, or expect to meet, all terms in my agreement for this agreement year.
  </label>
</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input"
         id="confirm-2"
         name="confirm"
         type="checkbox"
         value="confirm-2">
  <label class="govuk-label govuk-checkboxes__label" for="confirm-2">
    I will report any changes that may stop me from meeting my agreement terms to the Rural Payments Agency.
  </label>
</div>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input"
         id="confirm-3"
         name="confirm"
         type="checkbox"
         value="confirm-3">
  <label class="govuk-label govuk-checkboxes__label" for="confirm-3">
    I understand that if I do not report a change, I may be subject to reduced payments and fraud investigations.
  </label>
</div>

    </div>
  </fieldset>
</div>

<div class="govuk-button-group">
<button type="submit" class="govuk-button">Submit</button>
<a class="govuk-link" href="annual-declaration">Cancel</a>
</div>
</form>



    </div>
  </div>



{% endblock %}

