{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E HT MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
  Save and return later
</button>
 <p class="govuk-body sbi-number" style="float:right; margin-bottom: 8px;"><a href="../apply/business-2.html">Apply for a different business</a></p>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-full-column">

      <h1 class="govuk-heading-l">Edit prescriptions</h1>

  <p class="govuk-body"><a class="govuk-link" href="#">View by land parcels</a></p>
<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="ascending">Action code</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

      <th scope="col" class="govuk-table__header">Review prescriptions</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">AB1: Nectar sssssower mix</td>
      <td class="govuk-table__cell" data-sort-value="6961">Parcel level</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
          Reviewed
        </strong></td>
      <td class="govuk-table__cell" data-sort-value="1897"><a href="#action-1">Review</a></td>
    </tr>

  </tbody>
</table>

    </div>
  </div>

</div>
</main>

{% endblock %}
