{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E HT MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What do you want to search by?</h1>

<div class="govuk-form-group">
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"selected>SBI</option>
    <option value="updated">Business name</option>
    <option value="views">Customer name</option>
    <option value="comments">Postcode</option>
  </select>
</div>

   <div class="govuk-radios__conditional" id="conditional-contact">
      <div class="govuk-form-group">
      <p class="govuk-hint">
This is a 10 digit code, for example XXXXXXXXXX</p>
    <input class="govuk-input" id="sbi-1" name="sbi1" type="text" autocomplete="sbi-1">
  </div>
      </div>

      <form class="form" action="business-overview" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
  Search
</button>
</form>

    </div>
  </div>

</main>
</div>
{% endblock %}
