{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E SFI MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<!-- Header / Name and CTA -->

<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">

<div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Smith Farm Ltd <span class="govuk-caption-m">Single Business Identifier (SBI): 123456789</span></div>

  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
  </button>

</div>
</div>
</div>

<!-- Start of main body container -->

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Select land for your actions</h1>
  </div>

  <div class="govuk-grid-column-two-thirds"> 
     <p class="govuk-body">Now viewing grid reference SO3. This is made up of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>15 land parcels</li>
  <li>30.3780 hectares</li>
</ul>

<p class="govuk-body">
  <a href="select-map" class="govuk-link govuk-link--no-visited-state">View a different grid reference</a>
</p>

 <h2 class="govuk-heading-m">Select a land parcel</h2>

 <p class="govuk-body">Select the area on the map you want to add actions to.</p>

 <p class="govuk-body"><a href="select-land-parcel-2-applied" class="govuk-link">Show land parcels on a map instead</a></p>
  </div>

<!-- Parcel numbers -->

<div class="govuk-grid-column-two-thirds">
    
  <table class="govuk-table">
  
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Available land parcels</th>
        <th scope="col" class="govuk-table__header">Hectares</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"> <a href="select-land-parcel-1-list" class="govuk-link">SO3757 3158</th>
        <td class="govuk-table__cell">3.0404</td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3159</a>
          <hr style="height:2px;border-width:0;color:white;background-color:white">

        <details class="govuk-details" open>
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
              Check land use for this land parcel
        </span>
        </summary>
        <div class="govuk-details__text"> <span class="govuk-!-font-weight-bold">  Land use:</span>
        </div>
        <div class="govuk-details__text">
            Permanent grassland: 1.9130 ha
        </div>
        <div class="govuk-details__text">
            Arable crops: 1.1350 ha
        </div>
        <div class="govuk-details__text">
            Temporary grassland: 0.1245 ha
        </div>
        <div class="govuk-details__text">
            Non-agricultural: 0.1215 ha
        </div>
        <div class="govuk-details__text"> <span class="govuk-!-font-weight-bold">  Layer intersections:</span>
        </div>
        <div class="govuk-details__text">
            Biodiversity, SSSI, LFA-MS
        </div>
        </details>

        </th>
        <td class="govuk-table__cell">1.6620</td>

          <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3160</a>
        
        <td class="govuk-table__cell">3.2940</td>
      </tr>


        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3161</th>
      <td class="govuk-table__cell">5.1519</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3162</th>
      <td class="govuk-table__cell">2.2310</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3163</th>
      <td class="govuk-table__cell">1.0122</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3164</th>
      <td class="govuk-table__cell">0.9788</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3165</th>
      <td class="govuk-table__cell">2.4568</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3166</th>
      <td class="govuk-table__cell">1.1548</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3167</th>
      <td class="govuk-table__cell">1.2247</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3168</th>
      <td class="govuk-table__cell">2.9864</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3169</th>
      <td class="govuk-table__cell">1.8854</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3170</th>
      <td class="govuk-table__cell">1.0145</td>
    </tr>
            <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3171</th>
      <td class="govuk-table__cell">1.8790</td>
    </tr>
                <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3172</th>
      <td class="govuk-table__cell">0.4061</td>
    </tr>

  </tbody>
</table>

</div>

<!---Text underneath----> 


<!---Select actions---> 

<div class="govuk-grid-column-two-thirds">
  <div class="govuk-!-padding-bottom-2"></div>

  <h2 class="govuk-heading-m">Actions for parcel number SO3757 3159</h2>

  <div class="govuk-!-padding-bottom-2"></div>

   <p class="govuk-body">You will only see actions that are compatible with the land parcel you have selected.</p>

  <p class="govuk-body">You have selected 6 actions on 2 land parcels.</p> 

</div>

<div class="govuk-grid-column-two-thirds">
<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">Action</th>
        <th scope="col" class="govuk-table__header">Available area</th>          
        <th scope="col" class="govuk-table__header">Quantity</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CHRW1 – Assess and record hedgerow condition</td>
           </th>
          <td class="govuk-table__cell">-</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">m</div>
      </div>
      </div></td>
        </tr>
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked="checked">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SAM1 – Assess soil, test SOM and produce a soil management plan</td>
           </th>
          <td class="govuk-table__cell">2.8284</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CMOR1 – Assess moorland and produce a written record</td>
           </th>
          <td class="govuk-table__cell">2.0045</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked="checked">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SOH4 – Winter cover following maize crops</td>
           </th>
          <td class="govuk-table__cell">1.3224</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" >
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CIPM3 – Companion crop on arable and horticultural land</td>
           </th>
          <td class="govuk-table__cell">1.5778</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CIPM4 – No use of insecticide on arable crops and permanent crops</td>
           </th>
          <td class="govuk-table__cell">3.5650</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

       <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">UPL1 – Moderate livestock grazing on moorland</td>
           </th>
          <td class="govuk-table__cell">2.8464</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">UPL2 – Low livestock grazing on moorland</td>
           </th>
          <td class="govuk-table__cell">2.8464</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">UPL3 – Limited livestock grazing on moorland</td>
           </th>
          <td class="govuk-table__cell">2.8464</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

                   <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">OFC1 – Organic conversion - improved permanent grassland</td>
           </th>
          <td class="govuk-table__cell">1.6975</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">OFC2 – Organic conversion - unimproved permanent grassland</td>
           </th>
          <td class="govuk-table__cell">1.6975</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">OFC3 – Organic conversion - rotational land</td>
           </th>
          <td class="govuk-table__cell">1.6975</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">OFC4 – Organic conversion - horticultural land</td>
           </th>
          <td class="govuk-table__cell">1.6975</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SCR1 – Create scrub and open habitat mosaics</td>
           </th>
          <td class="govuk-table__cell">1.6975</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">PRF1 – Variable rate application of nutrients</td>
           </th>
          <td class="govuk-table__cell">1.0520</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">PRF2 – Camera or remote sensor guided herbicide spraying</td>
           </th>
          <td class="govuk-table__cell">1.0520</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>
      </tbody>
    </table>
    
</div>


<!---Select actions text and CTAs---->

<div class="govuk-grid-column-two-thirds">
    

    <button type="submit" class="govuk-button" data-module="govuk-button">
  Update land parcel
    </button>


<form class="form" action="tasklist-6" method="post">
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
   Save and continue
</button>
  </form>
</div>


</main>
</div>

{% endblock %}
