{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E SFI MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<!-- Header -->

<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Jasmine Smith <span class="govuk-caption-m">Single Business Identifier (SBI): 123456789</span> </div>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
</button>

</div>
</div>
</div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Select land for your actions</h1>

          <p class="govuk-body">You are viewing <span class="govuk-!-font-weight-bold">OS Map Sheet Reference SO3</span>, which has <span class="govuk-!-font-weight-bold">30.3780</span> hectares over <span class="govuk-!-font-weight-bold">15</span> land parcels.</p> 
     <p class="govuk-body">
  <a href="select-map" class="govuk-link govuk-link--no-visited-state">Select another OS map sheet reference</a>
</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <p class="govuk-body" ><a href="select-land-parcel-1-applied-list" class="govuk-link">Hide/show map</a></p>
 

  <map name="clickable" >
        <area shape="rect" coords="235,600,405,705" href="select-land-parcel-1-applied">
        <area shape="rect" coords="460,390,610,490" href="select-land-parcel-2">
                  </map>

<div class="container" >
<img  usemap="#clickable"  src="https://raw.githubusercontent.com/defra-design/fcp-combined-offer/main/app/views/sfi-iteration-1-1/img/map_4.png" alt="Map of your land">


<div class="text-block">

  
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
    

        <h3 class="govuk-heading-m" >Parcel number SO3757 3158 <span class="pointer" style="padding-left:20px" onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button">&times;</span></h3>
    


<p class="govuk-caption-m">You have selected <span class="govuk-!-font-weight-bold">4</span> actions for this parcel.</p> 
    
    <p class="govuk-body">
  <a href="#select-actions" class="govuk-link govuk-link--no-visited-state">Select actions for this land parcel</a>
</p>

    <p class="govuk-body" > <span class="govuk-!-font-weight-bold">  Land use:</span>  </p>
  <p class="govuk-body" >
    Permanent grassland: 1.5760 ha
  </p>
  <p class="govuk-body" >
    Arable crops: 1.1212 ha
  </p>
  <p class="govuk-body" >
    Temporary grassland: 0.1312 ha
  </p>
  <p class="govuk-body" >
    Non-agricultural: 0.2120 ha
  </p>
  <p class="govuk-body" > <span class="govuk-!-font-weight-bold"> Layer Intersections:</span>
  </p>
<p class="govuk-body" >
    Biodiversity, SSSI, LFA-MS
  </p>



    </div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


  </div>
</div>


       <br>
<br>
</div>
</div>

       <p class="govuk-body">Key:</p>
       <div class="key-div govuk-!-margin-bottom-5">
       <div class="key-parent" id="key1-1"></div><span class="govuk-body-s" style="padding-right:40px">Error</span>
       <div class="key-parent" id="key2-1"></div><span class="govuk-body-s" style="padding-right:40px">Selected</span>
       <div class="key-parent" id="key3-1"></div><span class="govuk-body-s" style="padding-right:40px">Actions</span>
       <div class="key-parent" id="key4-1"></div><span class="govuk-body-s" style="
       padding-right:40px">No actions added</span>
     </div>


      <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">If a land parcel is not shown, the land use codes declared are not eligible for the actions you've selected.</p> 
 
    <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">You must check land types and features are eligible for actions.</a>
</p>

 </div>
</div>


<div class="govuk-!-padding-bottom-2"></div>

<h2 id="select-actions" class="govuk-heading-m">Actions for parcel number SO3757 3158</h2>

<p class="govuk-body">You have selected <span class="govuk-!-font-weight-bold">4</span> actions on <span class="govuk-!-font-weight-bold">1</span> land parcel.</p> 



<!-- Start of table-->

 <table class="govuk-table">
  
<!-- Table headings-->

    <tr class="govuk-table__row" >
      <th scope="col" class="govuk-table__header" ></th>
      <th scope="col" class="govuk-table__header">Action</th>
      <th scope="col" class="govuk-table__header">Available area</th>
      <th scope="col" class="govuk-table__header">Quantity</th>
    </tr>

<!-- Start of first row-->

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CHRW1 – Assess and record hedgerow condition</td>
           </th>
          <td class="govuk-table__cell">-</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">m</div>
      </div>
      </div></td>
        </tr>
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SAM1 – Assess soil, test SOM and produce a soil management plan</td>
           </th>
          <td class="govuk-table__cell">2.8284</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CMOR1 – Assess moorland and produce a written record</td>
           </th>
          <td class="govuk-table__cell">2.0045</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SOH4 – Winter cover following maize crops</td>
           </th>
          <td class="govuk-table__cell">1.3224</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">WBD2 – Manage ditches</td>
           </th>
          <td class="govuk-table__cell">1.5112</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">BND1 – Maintain dry stone walls</td>
           </th>
          <td class="govuk-table__cell">0.2550</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

       <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">BND2 – Maintain earth banks or stone-faced hedgebanks</td>
           </th>
          <td class="govuk-table__cell">0.3565</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CAHL1 – Pollen and nectar flower mix</td>
           </th>
          <td class="govuk-table__cell">2.8421</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CAHL2 – Winter bird food on arable and horticultural land</td>
           </th>
          <td class="govuk-table__cell">1.3345</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

                   <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CAHL3 – Grassy field corners or blocks</td>
           </th>
          <td class="govuk-table__cell">1.2465</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW1 – Bumblebird mix</td>
           </th>
          <td class="govuk-table__cell">1.2478</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW2 – Supplementary winter bird food</td>
           </th>
          <td class="govuk-table__cell">1.3345</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW3 – Beetle banks</td>
           </th>
          <td class="govuk-table__cell">1.3352</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW4 – Skylark plots</td>
           </th>
          <td class="govuk-table__cell">0.4512</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW5 – Nesting plots for lapwing</td>
           </th>
          <td class="govuk-table__cell">0.8715</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SCR1 –  Create scrub and open habitat mosaics</td>
           </th>
          <td class="govuk-table__cell">1.2690</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

                  <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">GRH11 –  Cattle grazing supplement (non-moorland)</td>
           </th>
          <td class="govuk-table__cell">1.2478</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>
  </tbody>

</table>

<!-- End of table-->


  </tbody>

</table>

<!-- End of table-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<p class="govuk-body">
  You have chosen a total of 30 actions. You can only see the actions that are eligible for the selected land parcel. <a href="#" class="govuk-link">Return to list to select actions</a>.
</p>

<form class="form" action="select-land-parcel-1-applied" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
           Update actions on land parcels
          </button>
        </form>


<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Confirm selection
</button>

</div>
  </div>


  

</main>
</div>
{% endblock %}
