{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <form class="form" action="saved" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" 
            style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                  <h1 class="govuk-heading-l">
                    General application feedback
                  </h1>
              
       </div>
     </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    

 <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#app-feedback">
                    General application feedback
            </a>
          </li>
        
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#parcel-feedback">
              View by land parcels
            </a>
          </li>
        </ul>

  <div class="govuk-tabs__panel" style="border-right: none; border-left: none; border-bottom: none; padding-top: 30px; padding-left: 0; padding-right: 0; padding-bottom: 0;" id="app-feedback">

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

            <th scope="col" style="width: 150px" class="govuk-table__header"  aria-sort="ascending";>Date</th>
            <th scope="col" style="width: 500px" class="govuk-table__header">Message</th>
            <th scope="col" style="width: 200px" class="govuk-table__header" aria-sort="none">Adviser</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">20/10/24 <br>14:45pm</td>
            <td class="govuk-table__cell">Actions selected are not suitable for the type of plants present on the applicants land.</td>
            <td class="govuk-table__cell">Mary Poppins<br>Forestry Commission</td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/10/24 <br>10:25am</td>
            <td class="govuk-table__cell">Actions selected are suitable for this land parcel. </td>
            <td class="govuk-table__cell">Tom Rogers<br>Historic England</td>
          </tr>

          
        </tbody>

      </table>

       <div class= "pagination-container">
<p class="pagination-text" style="vertical-align: middle;">Showing <b>1</b> to <b>2</b> of <b>2</b> results</p>
</div>

        <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form class="form" action="approval-feedback-saved" method="post">
        <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="1500" style="margin-bottom: 10px;">
            <label class="govuk-label" for="label-as-page-heading">
                <p>Explain why you've approved or rejected this application. Feedback will be visible to the customer.</p>
            </label>
            <textarea class="govuk-textarea govuk-js-character-count" id="label-as-page-heading" name="labelAsPageHeading" rows="10" aria-describedby="label-as-page-heading-info"></textarea>
            <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 1500 characters
            </div>
        </div>
        <p class="govuk-body govuk-body govuk-!-margin-bottom-6">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Clear text</a>
        </p>
        <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">Add feedback</button>
    </form>
    <form class="form" action="approval" method="post">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit">Return to submit your decision</button>
    </form>
        </div>
      </div>
    </div>


  <!----View by action-----> 

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" style="border-right: none; border-left: none; border-bottom: none; padding-top: 30px; padding-left: 0; padding-right: 0; padding-bottom: 0;" id="parcel-feedback">


    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" style="width: 150px" class="govuk-table__header" aria-sort="ascending";>Parcel number</th>
          <th scope="col" style="width: 150px" class="govuk-table__header" aria-sort="none";>Action name</th>
          <th scope="col" style="width: 100px" class="govuk-table__header" aria-sort="none">Date</th>
          <th scope="col" style="width: 500px" class="govuk-table__header">Message</th>
          
          <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">


             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5010</td>
                 <td class="govuk-table__cell">CAB12: Supplementary winter bird food</td>
            <td class="govuk-table__cell">24/10/24 <br>11:30am</td>
            <td class="govuk-table__cell">The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process. </td>
          
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5010</td>
            <td class="govuk-table__cell">CBE5: Create traditional orchards</td>
            <td class="govuk-table__cell">24/10/24 <br>11:55am</td>
            <td class="govuk-table__cell">This land parcel is not suitable to create a traditional orchard on. Please remove this action from this land parcel. </td>
            
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5010</td>
            <td class="govuk-table__cell">AF1: Plant an agroforestry woodland tree</td>
            <td class="govuk-table__cell">23/10/24 <br>10:27am</td>
            <td class="govuk-table__cell">An agroforestry plan approved by the Forestry Commission is needed before you can apply for this capital item.</td>
           
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5011</td>
                <td class="govuk-table__cell">CAB12: Supplementary winter bird food</td>
            <td class="govuk-table__cell">24/10/24 <br>11:30am</td>
            <td class="govuk-table__cell">The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process. </td>
            
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5012</td>
                <td class="govuk-table__cell">CAB12: Supplementary winter bird food</td>
            <td class="govuk-table__cell">24/10/24 <br>11:30am</td>
            <td class="govuk-table__cell">The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process. </td>
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5012</td>
            <td class="govuk-table__cell">CBE5: Create traditional orchards</td>
            <td class="govuk-table__cell">24/10/24 <br>11:55am</td>
            <td class="govuk-table__cell">This land parcel is not suitable to create a traditional orchard on. Please remove this action from this land parcel. </td>
           
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5013</td>
            <td class="govuk-table__cell">AF1: Plant an agroforestry woodland tree</td>
            <td class="govuk-table__cell">23/10/24 <br>10:27am</td>
            <td class="govuk-table__cell">An agroforestry plan approved by the Forestry Commission is needed before you can apply for this capital item. </td>
            
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5014</td>
                <td class="govuk-table__cell">CAB12: Supplementary winter bird food</td>
            <td class="govuk-table__cell">24/10/24 <br>11:30am</td>
            <td class="govuk-table__cell">The land parcels chosen for action CAB12, which involve providing supplementary winter bird food, require amendments to meet the necessary criteria for approval by Natural England. This adjustment is essential for the application process. </td>
            
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5014</td>
            <td class="govuk-table__cell">CBE5: Create traditional orchards</td>
            <td class="govuk-table__cell">24/10/24 <br>11:30am</td>
            <td class="govuk-table__cell">This land parcel is not suitable to create a traditional orchard on. Please remove this action from this land parcel. </td>
            
          </tr>
             <tr class="govuk-table__row">
            <td class="govuk-table__cell">SE7023 5015</td>
            <td class="govuk-table__cell">AF1: Plant an agroforestry woodland tree</td>
            <td class="govuk-table__cell">23/10/24 <br>10.27am</td>
            <td class="govuk-table__cell">An agroforestry plan approved by the Forestry Commission is needed before you can apply for this capital item. </td>
            
          </tr>


        </tbody>
      </table>

<nav class="moj-pagination govuk-!-margin-bottom-6" aria-label="Pagination navigation">

  <ul class="moj-pagination__list">

    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 8" aria-current="page">1</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2 of 8">2</a></li>

    <li class="moj-pagination__item moj-pagination__item--dots">…</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 8 of 8">8</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>90</b> results</p>
</nav>

          <form class="form" action="approval" method="post">
          <button class="govuk-button govuk-button--primary" data-module="govuk-button" type="submit">Return to submit your decision</button>  
          </form>

    </div>
  </div>

</div>
</div>

</main>
</div>

{% endblock %}
