{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-full-column">

<h1 class="govuk-heading-l">Applications and agreements</h1>
<span class="govuk-caption-l govuk-!-padding-bottom-6">Smith Farm Ltd <br> Single Business Identifier (SBI): 123456789</span>


<!---Styling for Table cell to group stack buttons and align to the right---> 
<style>
  .table-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
</style>

<!---Table--> 
<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Application number</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Active</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Date submitted</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1234567</td>
      <td class="govuk-table__cell">HT</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">01/12/2024</td>
      <td class="govuk-table__cell">Ready for review</td>
      <td class="table-cell govuk-table__cell">
        <form class="form" action="tasklist-1" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-bottom:10px" style="position: absolute; right: 0">
          Review application</button></form>
        <form class="form" action="application-documents" method="post">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:0px" style="position: absolute; right: 0">
          Application documents</button></form>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">2345678</td>
      <td class="govuk-table__cell">SFI</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">10/12/2024</td>
      <td class="govuk-table__cell">Ready for submit</td>
      <td class="table-cell govuk-table__cell">
        <form class="form" action="application-documents" method="post">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:5px" style="position: absolute; right: 0">
          Application documents</button></form>
      </td>
    </tr>

  </tbody>
</table>

</div>
</div>

</main>
</div>

{% endblock %}
