{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
  Save and return later
</button>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-full-column">

      <h1 class="govuk-heading-l">Prescriptions</h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="prescriptions-map-view">
              List view
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="prescriptions-map-view">
              Map view
            </a>
          </li>
        </ul>

  <div class="govuk-tabs__panel" style="border-right: none; border-left: none; border-bottom: none; padding-top: 20px; padding-left: 0; padding-right: 0; padding-bottom: 0;">

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header" aria-sort="ascending">Action name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Review completed</th>
            <th scope="col" class="govuk-table__header">Review prescriptions</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">CAB10: Unharvested cereal headland</td>
            <td class="govuk-table__cell">Parcel level</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">CAB11: Cultivated areas for arable plants</td>
            <td class="govuk-table__cell">Parcel level</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">CAB12: Supplementary winter bird food</td>
            <td class="govuk-table__cell">Parcel level</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Review</a></td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">CAB14: Low input harvested cereal crop</td>
            <td class="govuk-table__cell">Parcel level</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Review</a></td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">CAB16: Bumblebird mix</td>
            <td class="govuk-table__cell">Parcel level</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Review</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">CAB16: Bumblebird mix</td>
            <td class="govuk-table__cell">Agreement level</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Review</a></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<form class="form" action="tasklist-3" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
  Save and continue
</button>
</form>

</div>
</div>

</div>
</main>

{% endblock %}
