{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
  Save and return later
</button>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<span id="feedback_close" class="govuk-caption-l">AF1: Plant an agroforestry woodland tree</span>
      <h1 class="govuk-heading-l">Approve action or capital item on land parcels</h1>

      <p class="govuk-body">Select the land parcel to approve the action or capital item on it. To reject the action or capital item, leave the box unselected.</p>

      <p class="govuk-body">If you do not want to approve or reject this capital item on a land parcel, <a class="govuk-link" href="review-by-parcels-capital-applicable"> select land parcels that are 'not applicable'.</a></p>

    </div>
  </div>

      <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

  <th scope="col" class="govuk-table__header app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
        </label>
      </div></th>
      
      <th scope="col" class="govuk-table__header" aria-sort="#">Parcel number</th>

      <th scope="col" class="govuk-table__header" aria-sort="#">Parcel size</th>

      <th scope="col" class="govuk-table__header" aria-sort="#">Status</th>

      <th scope="col" class="govuk-table__header">Comment</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
           <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="001">SE7023 5009</td>
      <td class="govuk-table__cell" data-sort-value="001">2.54 hectares</td>
      <td class="govuk-table__cell" data-sort-value="001"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
        <td class="govuk-table__cell" ><details  class=" govuk-details">
  <summary class="govuk-details__summary" >
    <span class="govuk-details__summary-text"><a class="govuk-link" href="#" >Leave a comment</a>
    </span>
  </summary>
</td>
    </tr>



       <tr class="govuk-table__row">
             <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="002">SE7023 5010</td>
      <td class="govuk-table__cell" data-sort-value="002">234.34 hectares</td>
      <td class="govuk-table__cell" data-sort-value="002"><strong class="govuk-tag govuk-tag--grey">
         Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details" >
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
       <tr class="govuk-table__row">
             <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="003">SE7023 5011</td>
      <td class="govuk-table__cell" data-sort-value="003">26.43 hectares</td>
      <td class="govuk-table__cell" data-sort-value="003"><strong class="govuk-tag govuk-tag--grey">
         Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
       <tr class="govuk-table__row">
             <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5012</td>
      <td class="govuk-table__cell" data-sort-value="004">5.32 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
         Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
           <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5013</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5014</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5015</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5016</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5017</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5018</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5019</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5020</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5021</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5022</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5023</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5024</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5025</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5026</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5027</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5028</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>
     <tr class="govuk-table__row">
                 <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">SE7023 5029</td>
      <td class="govuk-table__cell" data-sort-value="004">0.24 hectares</td>
      <td class="govuk-table__cell" data-sort-value="004"><strong class="govuk-tag govuk-tag--grey">
          Needs approval
        </strong></td>
              <td class="govuk-table__cell" ><details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Leave a comment
    </span>
  </summary>
</td>
    </tr>

  </tbody>
</table>
<nav class="moj-pagination" aria-label="Pagination navigation">

  <ul class="moj-pagination__list">
   

    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">1</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="" aria-label="Page 3 of 30">2</a></li>

    <li class="moj-pagination__item moj-pagination__item--dots">…</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="" aria-label="Page 5 of 30">4</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>65</b> results</p>
</nav>

<br><br>

</div></div>

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="more-detail">
     Feedback on capital item AF1: Plant an agroforestry woodland tree
    </label>
  </h1>
    <div id="more-detail-hint" class="govuk-hint">
Explain why you've approved or rejected land for this action/capital item. 
</div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint"></textarea>
  <p class="govuk-body">You have 1500 characters remaining</p>
   <p class="govuk-body"><a class="govuk-link" href="#">Clear text</a></p>

</div>

       <form class="form" action="review-by-parcels-edits" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
  Save changes
</button>
</form>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Continue
</button>

    </div>
  </div>

</div>
</main>

{% endblock %}
