{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" 
            style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
        </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="application-documents" method="post">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:30px" style="position: absolute; right: 0">
      Application documents</button></form>

      <h1 class="govuk-heading-l">Review application</h1>


      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Review actions and capital items"
            },
            hint: {
              text: "These are the actions and capital items the applicant has selected."
            },
            href: "review-actions-capitals-reject-2",
            status: completedStatus
          },
          {
            title: {
              text: "Edit prescriptions"
            },
            href: "prescriptions-list-actions",
            status: incompleteStatus
          },
          {
            title: {
              text: "Edit specifications"
            },
            href: "specifications-list-capitals",
            status: incompleteStatus
        },
               {
             title: {
              text: "Confirm capital item costs"
            },
            href: "capital-item-actual",
            status: incompleteStatus
          },
              {
            title: {
              text: "Submit decision"
            },
            href: "approval",
            status: incompleteStatus
          }
        ]
      }) }}

    </div>
  </div>

</main>
</div>

{% endblock %}
