{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E HT MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Welcome Paul Lane</h1>

<p class="govuk-body">
<a href="search-by" class="govuk-link">Search applications</a>
</p>
<p class="govuk-body">
<a href="#" class="govuk-link">Change password</a>
</p>

    </div>
  </div>

</main>
</div>
{% endblock %}
