{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<!---LEFT HAND SIDE COLUMN --->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">Select land for your actions</h1>

    <p class="govuk-body govuk-!-margin-bottom-6">To add your selected actions to a land parcel, click on the land parcel link or the map area.</p>
    <p class="govuk-body govuk-!-margin-bottom-0">You’ll see your list of actions. You then need to:
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>select the action and enter the amount that you want to add to the parcel</li>
          <li>confirm your selection for that parcel</li>
      </ul>
    </p>
    <p class="govuk-body">You can then move on to the next land parcel and repeat these steps.</p>


<hr class="section-break-large"></hr>
<table class="govuk-table">
  <p class="govuk-body">OS map sheet reference S03</p>
  <hr class="govuk-section-break govuk-section-break--visible">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="width: 222px;">Number of available land parcels</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">20</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Total area in hectares</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">120.3451 ha</td>
      </tr>
      <tr class="govuk-table__row">
       <td class="govuk-table__cell">Number of land parcels used for actions</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      </tr>
          <tr class="govuk-table__row">
      <td class="govuk-table__cell">Number of actions applied for</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">25</td>
      </tr>
    </tbody>
  </table>

  <p class="govuk-body parcel-row"><a href="bis-select-land-actions-parcel-1-error" class="govuk-link parcel-number">SO3757 3158</a>
  <span class="govuk-body parcel-size">Parcel size: 32.0404 ha</span><span class="govuk-body applied-label">Applied</span></p>
  <p class="govuk-body"><span class="govuk-caption-m">
    Land use: 
    <br>Permanent grassland: 1.5760 ha
    <br>Arable crops: 1.1212 ha
    <br>Temporary grassland: 0.1312 ha
    <br>Non-agricultural: 0.2120 ha
    <br>Layer intersections: Biodiversity, SSSI, LFA-MS
    </span></p>

  <p class="govuk-body parcel-row"><a href="bis-select-land-actions-parcel-1-error" class="govuk-link parcel-number">SO3757 3159</a>
    <span class="govuk-body parcel-size">Parcel size: 31.4241 ha</span><span class="govuk-body applied-label">Applied</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3160</a>
  <span class="govuk-body parcel-size">Parcel size: 1.4935 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3161</a>
    <span class="govuk-body parcel-size">Parcel size: 10.3492 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3162</a>
    <span class="govuk-body parcel-size">Parcel size: 42.4324 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3163</a>
    <span class="govuk-body parcel-size">Parcel size: 9.9754 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3164</a>
    <span class="govuk-body parcel-size">Parcel size: 32.1239 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3165</a>
    <span class="govuk-body parcel-size">Parcel size: 38.2931 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3166</a>
    <span class="govuk-body parcel-size">Parcel size: 28.3482 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3167</a>
    <span class="govuk-body parcel-size">Parcel size: 39.2931 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3168</a>
    <span class="govuk-body parcel-size">Parcel size: 53.2131 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3169</a>
    <span class="govuk-body parcel-size">Parcel size: 12.4392 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3170</a>
    <span class="govuk-body parcel-size">Parcel size: 29.3291 ha</span></p>

  <p class="govuk-body parcel-row"><a href="#" class="govuk-link parcel-number">SO3757 3171</a>
    <span class="govuk-body parcel-size">Parcel size: 13.2339 ha</span></p>

  <p class="govuk-body parcel-row govuk-!-margin-bottom-2"><a href="#" class="govuk-link parcel-number">SO3757 3172</a>
    <span class="govuk-body parcel-size">Parcel size: 11.4234 ha</span></p>
    
  <nav class="moj-pagination govuk-!-margin-bottom-6" aria-label="Pagination navigation">
    <ul class="moj-pagination__list" style="display: flex; align-items: center;">
      <p class="moj-pagination__results" style="margin-right: 10px;">Showing <b>1</b> to <b>15</b> of <b>20</b> parcels</p>
      <li class="moj-pagination__item">
        <a rel="next" style="font-weight: 700; color: #1d70b8;">Next<span class="govuk-visually-hidden">page</span><svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg></a>
      </li>
    </ul>
  </nav>

  <form class="form" action="bis-select-map-actions-applied" method="post">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Go back to select a different area
    </button>
  </form>

</div>

<!---RIGHT HAND SIDE COLUMN --->
<div class="govuk-grid-column-one-half">
  <p class="govuk-body"><a href="#" class="govuk-link">Hide map</a></p>
  <map name="clickable">
    <area shape="rect" coords="100,280,190,320" href="bis-select-land-actions-parcel-1-error">
    <area shape="rect" coords="150,220,240,280" href="bis-select-land-actions-parcel-1-error">
  </map>
<img usemap="#clickable" src="https://raw.githubusercontent.com/defra-design/fcp-combined-offer/refs/heads/main/app/views/ht-phase-2/img/map_7.png" alt="Map of your land" style="width:465px;height:400px; margin-bottom: 10px;"></a>

  <p class="govuk-body">Key:</p>
  <div class="key-div govuk-!-margin-bottom-5">
    <div class="key-parent" id="key1-1"></div><span class="govuk-body-s">Error</span>
    <div class="key-parent" id="key2-1"></div><span class="govuk-body-s">Selected</span>
    <div class="key-parent" id="key3-1"></div><span class="govuk-body-s">Applied</span>
    <div class="key-parent" id="key4-1"></div><span class="govuk-body-s">Not Applied</span>
  </div>

  <h2 class="govuk-heading-m">Your prescriptions</h2>

  <div class="border-bottom-container">
    <p class="govuk-body govuk-!-margin-bottom-0"><b>CGS19: Manage wet grassland for wintering waders and wildfowl</b></p>
  </div>

  <div class="border-bottom-container">
    <p class="govuk-body govuk-!-margin-bottom-0"><b>P10</b><br><br>
      This action have to provide this many benefits by year 3 and do not exceed 40 centimetres below field level and has to be done between July and November.
    </p>
  </div>

  <div class="border-bottom-container govuk-!-margin-bottom-6">
    <p class="govuk-body govuk-!-margin-bottom-0"><b>P12</b><br><br>
      This action have to provide this many benefits by year 2 and do not exceed 60 centimetres below field level and has to be done between March and May.
    </p>
  </div>

  <form class="form" action="bis-select-land-actions-parcel-1-error" method="post">
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Go back to your actions
    </button>
  </form>



</div>



{% endblock %}
