{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Check your answers​</h1>
    <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" class="govuk-link">Print</a></p>
    </p>
  </div>


  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l" id="details">
            Your details
    </h2>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Business
        </dt>
        <dd class="govuk-summary-list__value">
          JASMINE SMITH FARM<br>
          Rainbow Farm<br>
          High Street<br>
          Rhydlewis<br>
          Ellesmere<br>
          PO30 1NY
          </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single Business Identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          123456789
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Land details
        </dt>
        <dd class="govuk-summary-list__value">
          Up to date
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="check-land-details">Change<span class="govuk-visually-hidden"> land details</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement name
        </dt>
        <dd class="govuk-summary-list__value">
          Jasmine’s Farm SFI 2023
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="agreement-name">Change<span class="govuk-visually-hidden"> agreement name</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l" id="eligibility">
        Eligibility
    </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Management control of land
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="management-control">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Land with historic or archaeological features
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="hefer">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sites of special scientific interest (SSSIs)
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sssi">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>
      </dl>
        

   <h2 class="govuk-heading-l" id="funding">
           Total funding for actions and supplements
    </h2>

    <dl class="govuk-summary-list">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"  style="width: 390px;">
          Number of actions and supplements applied for
        </dt>
        <dd class="govuk-summary-list__value">
          38
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="bis-select-actions">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total actions and supplements funding
        </dt>
        <dd class="govuk-summary-list__value">
          £236,463.62
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Indicative annual payment 
        </dt>
        <dd class="govuk-summary-list__value">
          £57,814.19
        </dd>
      </div>
      </dl>
    
    <h2 class="govuk-heading-l" id="parcel-based">
       Actions
    </h2>

    <dl class="govuk-summary-list">

      <!-- HT actions-->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Parcel based CSHT actions
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="bis-select-map-actions-applied">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CSP1: Supplement: Difficult sites
        </dd>
        <dd class="govuk-summary-list__value" >
          20.0000 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £1,860.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CGS18: Manage species-rich floodplain meadows
        </dd>
        <dd class="govuk-summary-list__value" >
          15.0000 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £16,050.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CGS19: Manage wet grassland for wintering waders and wildfowl
        </dd>
        <dd class="govuk-summary-list__value" >
          12.2309 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £6,690.30
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CGS20: Manage wet grassland for breeding waders
        </dd>
        <dd class="govuk-summary-list__value" >
          17.2309 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £11,648.09
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CGS22: Manage priority habitat species-rich grassland
        </dd>
        <dd class="govuk-summary-list__value" >
          17.2309 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £11,131.16
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CHS4: Control scrub on historic and archaeological features
        </dd>
        <dd class="govuk-summary-list__value" >
          17.2309 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £3,704.64
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CAB2: Basic overwintered stubble
        </dd>
        <dd class="govuk-summary-list__value" >
          12.0400 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £698.32
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CAB6: Enhanced overwintered stubble
        </dd>
        <dd class="govuk-summary-list__value" >
          12.0400 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £7,091.56
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CAB7: Whole crop cereals
        </dd>
        <dd class="govuk-summary-list__value" >
          12.0400 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £7,175.84
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CAB10: Unharvested cereal headland
        </dd>
        <dd class="govuk-summary-list__value" >
          12.0400 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £12,906.88
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CAB11: Cultivated areas for arable plants
        </dd>
        <dd class="govuk-summary-list__value" >
          18.0505 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £11,913.33
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CAB14: Low input harvested cereal crops
        </dd>
        <dd class="govuk-summary-list__value" >
          12.0400 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £4,262.16
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CWD3: Manage woodland edges on arable land
        </dd>
        <dd class="govuk-summary-list__value" >
          8.1708 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £3,497.10
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CWS3: Grey squirrel control and management
        </dd>
        <dd class="govuk-summary-list__value" >
          20.0000 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £1,200.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CSW8: Manage intensive grassland adjacent to a watercourse
        </dd>
        <dd class="govuk-summary-list__value" >
          11.4510 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £3,561.26
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CSW13: Manage grassland to reduce nutrient levels in groundwater
        </dd>
        <dd class="govuk-summary-list__value" >
          11.4510 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £4,534.60
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CSW15: Flood mitigation on arable reversion to grassland
        </dd>
        <dd class="govuk-summary-list__value" >
          11.4510 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £8,473.74
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CSW16: Flood mitigation on permanent grassland
        </dd>
        <dd class="govuk-summary-list__value" >
          11.4510 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £3,778.83
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CWT3: Manage ditches of high environmental value
        </dd>
        <dd class="govuk-summary-list__value" >
          1850 m
        </dd>
        <dd class="govuk-summary-list__value">
          £703.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CWT10: Manage lowland raised bog
        </dd>
        <dd class="govuk-summary-list__value" >
          17.2309 ha
        </dd>
        <dd class="govuk-summary-list__value">
          £3,704.64
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Agreement level CSHT actions
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="bis-agreement-level-actions">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CAB12: Supplementary winter bird food
        </dd>
        <dd class="govuk-summary-list__value" >
          15 tonnes
        </dd>
        <dd class="govuk-summary-list__value">
          £10,980.00
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CAB17: Winter bird food on arable and horticulture land
        </dd>
        <dd class="govuk-summary-list__value" >
          5 tonnes
        </dd>
        <dd class="govuk-summary-list__value">
          £4,265.00
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          CAGF3: Manage medium density in-field agroforestry
        </dd>
        <dd class="govuk-summary-list__value" >
        </dd>
        <dd class="govuk-summary-list__value">
          £19,040.00
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Actions total
        </dt>
        <dd class="govuk-summary-list__value" >
        </dd>
        <dd class="govuk-summary-list__value">
          £236,463.62
        </dd>

      </div>
      </dl>
      
<h2 class="govuk-heading-l" id="agreement">
  Capital items
</h2>

<dl class="govuk-summary-list">
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width: 390px;">
      Parcel based capital items
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="bis-select-map-capitals-applied">Change<span class="govuk-visually-hidden"> answer</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      BN12: Stone wall restoration
    </dd>
    <dd class="govuk-summary-list__value" >
      350 m
    </dd>
    <dd class="govuk-summary-list__value">
      £11,168.50
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      BN13: Top wiring - stone wall
    </dd>
    <dd class="govuk-summary-list__value" >
      350 m
    </dd>
    <dd class="govuk-summary-list__value">
      £1,939.00
    </dd>

  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      BN14: Stone wall supplement - stone from quarry
    </dd>
    <dd class="govuk-summary-list__value" >
      350 m
    </dd>
    <dd class="govuk-summary-list__value">
      £24,675.00
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      BN15: Stone wall supplement - difficult sites
    </dd>
    <dd class="govuk-summary-list__value" >
      350 m
    </dd>
    <dd class="govuk-summary-list__value">
      £2,386.50
    </dd>
    <dd class="govuk-summary-list__value">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      GR1: Create or restore grassland habitat
    </dd>
    <dd class="govuk-summary-list__value" >
      12.2309 ha
    </dd>
    <dd class="govuk-summary-list__value">
      £2,275.19
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      GR2: Standard seed mix for grassland habitat
    </dd>
    <dd class="govuk-summary-list__value" >
      12.2309 ha
    </dd>
    <dd class="govuk-summary-list__value">
      £2,482.87
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      RP3: Watercourse crossings
    </dd>
    <dd class="govuk-summary-list__value" >
      3 crossings
    </dd>
    <dd class="govuk-summary-list__value">
      £1,519.32
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      BC4: Tree Guard Post and wire
    </dd>
    <dd class="govuk-summary-list__value" >
      3 tree guards
    </dd>
    <dd class="govuk-summary-list__value">
      £396.48
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      BC3: Crop protection fencing mesh and wire for permanent crops
    </dd>
    <dd class="govuk-summary-list__value" >
      500 m
    </dd>
    <dd class="govuk-summary-list__value">
      £3,170.00
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      WN12: Create or restore ponds up to 2 hectares
    </dd>
    <dd class="govuk-summary-list__value" >
      2 ponds 
    </dd>
    <dd class="govuk-summary-list__value">
      £3,758.92 
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      TE16: Use tree surgery to ‘hinge’ a tree into a watercourse 
    </dd>
    <dd class="govuk-summary-list__value" >
      5 trees
    </dd>
    <dd class="govuk-summary-list__value" style="white-space: nowrap">
      Up to X% of actual costs
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width: 390px;">
      Agreement level capital items
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__value" style="width: 180px;">
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="bis-agreement-level-capitals">Change<span class="govuk-visually-hidden"> answer</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      FG1: Fencing
    </dd>
    <dd class="govuk-summary-list__value" >
      1500 m
    </dd>
    <dd class="govuk-summary-list__value">
      £9,510.00
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      FY2: Woodland infrastructure
    </dd>
    <dd class="govuk-summary-list__value" >
    </dd>
    <dd class="govuk-summary-list__value" style="white-space: nowrap">
      Up to X% of actual costs
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      BN11: Planting new hedges
    </dd>
    <dd class="govuk-summary-list__value" >
      500 m
    </dd>
    <dd class="govuk-summary-list__value">
      £11,485.00
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      FG12: Wooden field gate
    </dd>
    <dd class="govuk-summary-list__value" >
      8 gates
    </dd>
    <dd class="govuk-summary-list__value">
      £3,919.20
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      SB3: Tree removal
    </dd>
    <dd class="govuk-summary-list__value" >
      2 trees
    </dd>
    <dd class="govuk-summary-list__value" style="white-space: nowrap">
      Up to X% of actual costs
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      SM6: Use monitoring equipment to manage invasive species
    </dd>
    <dd class="govuk-summary-list__value" >
    </dd>
    <dd class="govuk-summary-list__value" style="white-space: nowrap">
      Up to X% of actual costs
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      WN7: Restoration of large water bodies
    </dd>
    <dd class="govuk-summary-list__value" >
    </dd>
    <dd class="govuk-summary-list__value" style="white-space: nowrap">
      Up to X% of actual costs
    </dd>
  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width: 390px;">
      Capital items total (excluding % actual cost items)
    </dt>
    <dd class="govuk-summary-list__value" >
    </dd>
    <dd class="govuk-summary-list__value">
      £10,389.80
    </dd>
    <dd class="govuk-summary-list__value">
    </dd>
  </div>
  </dl>

  <form class="form" action="bis-check-your-answers-load-2" method="post">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Confirm
      </button>
  </form>

  <!-- <form class="form" action="tasklist-19" method="post">---> 
  <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button" disabled>
    Save and continue
  </button>
<!-- </form> ---> 

  </div>
  </div>



{% endblock %}
