{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your specifications</h1>

      <div class="border-bottom-container">
        <p class="govuk-body govuk-!-margin-bottom-0"><b>AB16: Autumn sown bumblebird mix</b></p>
      </div>
    
      <div class="border-bottom-container">
        <p class="govuk-body govuk-!-margin-bottom-0"><b>P10</b><br><br>
          This action have to provide this many benefits by year 3 and do not exceed 40 centimetres below field level and has to be done between July and November.
        </p>
      </div>
    
      <div class="border-bottom-container">
        <p class="govuk-body govuk-!-margin-bottom-0"><b>P12</b><br><br>
          This action have to provide this many benefits by year 2 and do not exceed 60 centimetres below field level and has to be done between March and May.
        </p>
      </div>

      <div class="govuk-!-padding-bottom-6"></div>
  <form class="form" action="bis-agreement-level-capitals-error" method="post">
      <button type="submit" class="govuk-button" data-module="govuk-button">
          Go back to your capital items
      </button>
  </form>

        
</div>
</div>

<div class="govuk-!-padding-bottom-9"></div>

{% endblock %}
