{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary govuk-!-margin-bottom-6" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#hefer-error">Select if you will get a HEFER if you need to</a>
              </li>
            </ul>
          </div>
        </div>
      </div> 

      <h1 class="govuk-heading-l">Land with historic or archaeological features</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">If you apply for actions or items on land with historic or archaeological features, you must get an Historic Environment Farm Environment Record (HEFER) from Historic England.</p>

      <p class="govuk-body govuk-!-margin-bottom-6">For SFI actions, you must <a href="https://www.gov.uk/government/publications/sustainable-farming-incentive-scheme-expanded-offer-for-2024/sfi-scheme-information-expanded-offer-for-2024#check-if-your-land-is-eligible-for-sfi-actions" target="_blank" class="govuk-link">request your HEFER</a> before you do your selected actions on this land.</p>

      <p class="govuk-body govuk-!-margin-bottom-6">For Higher Tier actions or items, Historic England will create your HEFER after you accept your invite to apply. You do not need to request one.</p>

      <p class="govuk-body govuk-!-margin-bottom-6">If you are not applying for actions on land with historic or archaeological features, or if you’re applying for Higher Tier, answer ‘yes’ to continue your application.</p>

      
    <form class="form" action="/hefer-answer-ht-dev" method="post">
      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="hefer-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Will you get a HEFER if you need to?
            </h2>
          </legend>

          <p id="hefer-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Select if you will get a HEFER if you need to
          </p>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="heferAnswer-1" name="hefer-answer" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="heferAnswer-1">
                Yes
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="heferAnswer-2" name="hefer-answer" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="heferAnswer-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>


  </div>
</div>

{% endblock %}
