{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Management control of land</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">You must have management control of the land in your agreement for the duration of the commitments in the agreement.</p>
      
      <p class="govuk-body govuk-!-margin-bottom-6">If you occupy land under a tenancy that's due to expire before your agreement commitments end, you can still apply. But you must have your landlord's written consent and written commitment to complete actions and maintain items. You must provide this if the RPA asks for it.</p>

      <p class="govuk-body govuk-!-margin-bottom-6">Read the guidance on <a href="https://www.gov.uk/government/publications/countryside-stewardship-higher-tier-get-ready-to-apply/countryside-stewardship-higher-tier-preview-guidance#check-if-you-have-management-control-of-land" target="_blank" class="govuk-link">management control of land</a>.</p>


      <form class="form" action="/management-answer-ht-dev" method="post">
        <div class="govuk-form-group">
           <fieldset class="govuk-fieldset">
             <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                 <h2 class="govuk-fieldset__heading">
                You must have management control of the land for the duration of the commitments in your agreement. Or you must have your landlord's written consent and written commitment to fulfil the agreement. Will you have this?
                 </h2>
             </legend>
             <div class="govuk-radios" data-module="govuk-radios">
               <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="managementAnswer-1" name="management-answer" type="radio" value="yes">
                     <label class="govuk-label govuk-radios__label" for="heferAnswer-1">
                         Yes
                     </label>
               </div>
               <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="managementAnswer-2" name="management-answer" type="radio" value="no">
                   <label class="govuk-label govuk-radios__label" for="heferAnswer-2">
                         No
                   </label>
               </div>
               </div>
             </fieldset>
         </div>
         <button type="submit" class="govuk-button" data-module="govuk-button">
           Save and continue
         </button>
     </form>

    </div>
  </div>


{% endblock %}
