{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">Select land for your actions</h1>
    <p class="govuk-body govuk-!-margin-bottom-6">Your available land is grouped by Ordnance Survey (OS) map sheet references. To view your land parcels, click on the OS map sheet reference links in the table, or the icons on the map.</p>
    <p class="govuk-body govuk-!-margin-bottom-4">You’ll then be able to add actions to parcels. When you finish this, you’ll come back to this screen. To continue with the rest of your application, click on ‘back to task list’.</p>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Number of available land parcels: 37</h2>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Total area in hectares: 200.6611</h2>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Number of land parcels used for actions: 2</h2>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Number of actions applied for: 7</h2>

<hr class="section-break-large"></hr>
  <table class="govuk-table">
  <p class="govuk-body govuk-!-font-weight-bold"><a href="select-land-actions-parcel-1-applied" class="govuk-link">OS Map Sheet Reference SO3</a></p>
  <hr class="govuk-section-break govuk-section-break--visible">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="width: 222px;">Number of available land parcels</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Total area in hectares</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">120.3451 ha</td>
        </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">Number of land parcels used for actions</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
        </tr>
            <tr class="govuk-table__row">
        <td class="govuk-table__cell">Number of actions applied for</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
        </tr>
      </tbody>
    </table>
<hr class="section-break-large"></hr>

<table class="govuk-table">
<p class="govuk-body govuk-!-font-weight-bold"><a href="select-land-actions-parcel-1-applied" class="govuk-link">OS Map Sheet Reference SX2</a></p>
<hr class="govuk-section-break govuk-section-break--visible">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="width: 222px;">Number of available land parcels</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total area in hectares</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">80.3160 ha</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Number of land parcels used for actions</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
        <tr class="govuk-table__row">
     <td class="govuk-table__cell">Number of actions applied for</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
  </tbody>
</table>

<form class="form" action="tasklist-6" method="post">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Back to task list
    </button>
</form>

</div>
    

<!---RIGHT HAND SIDE COLUMN -->

<div class="govuk-grid-column-one-half govuk-!-margin-bottom-5">
    <p class="govuk-body"><a href="#" class="govuk-link">Hide map</a></p>
  <map name="clickable">
        <area shape="rect" coords="70,300,160,350" href="select-land-actions-parcel-1-applied">
        <area shape="rect" coords="180,110,270,160" href="select-land-actions-parcel-1-applied">
          </map>
      <img usemap="#clickable" src="https://raw.githubusercontent.com/defra-design/fcp-combined-offer/refs/heads/main/app/views/ht-phase-2/img/map_1.png" alt="Map of your land" style="width:465px;height:400px;"></a>
</div>

</div>


{% endblock %}

