{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">SSSI consent</h1>

    <p class="govuk-body govuk-!-margin-bottom-6">If you apply for actions or items on land that’s a site of special scientific interest (SSSI), you must get SSSI consent from Natural England.</p>

    <p class="govuk-body govuk-!-margin-bottom-6">You must get this consent before you do your selected actions or items on SSSI land. Some actions or items can be done without SSSI consent. You can check which actions this applies to in the 
      <a href="#" class="govuk-link">Find funding for land or farms tool</a>. You can check which items this applies to in the <a href="#" class="govuk-link">Capital grant finder</a>.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">Read the guidance on <a href="#" class="govuk-link">SSSI consent</a>.</p>

    <p class="govuk-body govuk-!-margin-bottom-6">If you are not applying for actions or items on SSSI land, or the actions or items can be done without SSSI consent, answer ‘yes’ to continue your application.  </p>


    <form class="form" action="/sssi-answer-ht-dev" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              If you require SSSI consent, you must get it before you do any of the actions or items on this land. Will you do this?  
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sssiAnswer-1" name="sssi-answer" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="sssiAnswer-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sssiAnswer-2" name="sssi-answer" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="sssiAnswer-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>


{% endblock %}
