{% extends "layouts/main.html" %}

{% block pageTitle %}
  HT Customers Phase 2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>

        </div>
  </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Submit your application</h1>
      <p class="govuk-body">By submitting, you confirm that:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

          <li>the information you've given in your application is correct</li>

          <li>you will complete the actions you've applied for</li>

          <li>you will complete the capital items you've applied for</li>

          <li>you will have management control of the land parcels in your application for the duration of the commitments in your agreement</li>

          <li>if the application includes land subject to Inheritance Tax exemption, there is no conflict with these rules or duplication of your obligations</li>

          <li>if the application includes land owned by a public body, there is no conflict with or duplication of the statutory obligations of the landowner</li>
        </ul>


      <p class="govuk-body">By submitting, you confirm that if the application includes land in another payment scheme:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>there is no conflict with the scheme rules</li>
          <li>there is no double funding</li>
        </ul>



        <div class="govuk-button-group">
          <a href="confirmation" role="button" class="govuk-button" data-module="govuk-button">
            I agree – submit my application
          </a>

          <a href="dashboard-withdraw-application" role="button" class="govuk-button govuk-button--warning" data-module="govuk-button">
            Withdraw my application
          </a>
        </div>




    </div>
  </div>

{% endblock %}
