{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E HT MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full">
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">Jasmine Smith</div>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
</button>
</div>
</div>
</div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l" id="sfi">
Summary of actions</h1>
<p class="govuk-body">
<ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-body govuk-link" href="#">Print</a></li>
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-body govuk-link" href="#">Download</a></li>
      </ul></p>
      <p class="govuk-body">
When you’re happy with your actions, click ‘confirm selection’ at the bottom of the page.</p>
      <p class="govuk-body">
This will not submit your application. You’ll be able to check and submit your application after you’ve confirmed your selection.
</p>
      <p class="govuk-body govuk-!-font-weight-bold">Contents of the page</p>
          <p class="govuk-body"><a class="govuk-link" href="#land">Land parcels</a></p>
<p class="govuk-body"><a class="govuk-link" href="#sfiactions">SFI actions</a></p>
  <p class="govuk-body"><a class="govuk-link" href="#higher">Higher tier actions</a></p>
        </div>
    </div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<div class="govuk-summary-card" id="land">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Land parcels</h2>
  </div>
  <div class="govuk-summary-card__content">
        <p class="govuk-body"><a class="govuk-link" href="#">Open in a separate page</a></p>
          <p class="govuk-body">
These are the land parcels you’ve added actions to so far.</p>
<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
       <th scope="col" class="govuk-table__header">Parcel number</th>
      <th scope="col" class="govuk-table__header">Action name</th>
      <th scope="col" class="govuk-table__header">Quantity</th>
      <th scope="col" class="govuk-table__header">Update</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0234 997</p></td>
      <td class="govuk-table__cell" data-sort-value="0">ED1: Educational access<br>
        BE4: Management of traditional orchards<br>
        AB7: Whole crop cereals<br>
        AB1: Nectar flower mix<br>
      <td class="govuk-table__cell">12.34 hectares<br>
        34.12 hectares<br>
        13.34 hectares<br>
      7.23 hectares</td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0234 998</p></td>
      <td class="govuk-table__cell" data-sort-value="0">ED1: Educational access<br>
        BE4: Management of traditional orchards<br>
        AB7: Whole crop cereals<br>
        AB1: Nectar flower mix<br>
      <td class="govuk-table__cell">1.31 hectares<br>
        9.89 hectares<br>
        12.12 hectares<br>
        7.43 hectares</td>
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
           <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0234 999</p></td>
      <td class="govuk-table__cell" data-sort-value="0">BE5: Creation of traditional orchards<br>
        HRW3: Maintain or establish hedgerow trees
      <td class="govuk-table__cell">5.45 hectares<br>
       340.34 metres
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
              <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 000</p></td>
      <td class="govuk-table__cell" data-sort-value="0">BE5: Creation of traditional orchards<br>
        NUM2: Legumes on improved grassland<br>
        HRW3: Maintain or establish hedgerow trees
      <td class="govuk-table__cell">3.32 hectares<br>
       23.78 hectares<br>
       123.89 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
             <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 001</p></td>
      <td class="govuk-table__cell" data-sort-value="0">BE5: Creation of traditional orchards<br>
        AB15: Two year sown legume fallow<br>
        NUM2: Legumes on improved grassland
      <td class="govuk-table__cell">3.32 hectares<br>
       32.98 hectares<br>
      12.96 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
                 <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 002</p></td>
      <td class="govuk-table__cell" data-sort-value="0">BE5: Creation of traditional orchards<br>
        AB15: Two year sown legume fallow<br>
        SAM2: Multi-species winter crops<br>
        MOR1:  Assess moorland and produce a written record<br>
        LIG2: Manage grassland with very low nutrient inputs (SDAs)<br>
        IGL2: Winter bird food on improved grassland<br>
        HRW2: Manage hedgerows
      <td class="govuk-table__cell">2.76 hectares<br>
       7.23 hectares<br>
       34.12 hectares<br>
       All parcels<br>
       42.31 hectares<br>
       23.89 hectares<br>
       120.12 metres
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
                     <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 003</p></td>
      <td class="govuk-table__cell" data-sort-value="0">AB15: Two year sown legume fallow<br>
        SAM2: Multi-species winter crops<br>
        MOR1:  Assess moorland and produce a written record<br>
        LIG2: Manage grassland with very low nutrient inputs (SDAs) <br>
        IGL2: Winter bird food on improved grassland
      <td class="govuk-table__cell">
       87.21 hectares<br>
       12.31 hectares<br>
       All parcels<br>
       41.23 hectares<br>
       32.11 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
                         <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 004</p></td>
      <td class="govuk-table__cell" data-sort-value="0">AB7: Whole crop cereals<br>
        SAM1: Assess soil, test soil organic matter and produce a plan<br>
        SAM2: Multi-species winter crops
      <td class="govuk-table__cell">
       12.88 hectares<br>
       11.31 hectares<br>
       21.89 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
      <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 005</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SAM2: Multi-species winter crops
      <td class="govuk-table__cell">
       40.21 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 006</p></td>
      <td class="govuk-table__cell" data-sort-value="0">GS4: Legume and herb-rich swards<br>
        BE6: Veteran tree surgery
      <td class="govuk-table__cell">
       11.34 hectares<br>
       0.32 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
            <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 007</p></td>
      <td class="govuk-table__cell" data-sort-value="0">HS5: Management of historic and archaeological features on grassland
      <td class="govuk-table__cell">32.66 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
                <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 008</p></td>
      <td class="govuk-table__cell" data-sort-value="0">WD1: Woodland creation - maintenance payments
      <td class="govuk-table__cell">40.22 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
                    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 009</p></td>
      <td class="govuk-table__cell" data-sort-value="0">WD4: Management of lowland wood pasture and parkland
      <td class="govuk-table__cell">53.45 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
                       <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 010</p></td>
      <td class="govuk-table__cell" data-sort-value="0">WD8: Creation of successional areas and scrub
      <td class="govuk-table__cell">31.34 hectares
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
                          <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SE7 0235 011</p></td>
      <td class="govuk-table__cell" data-sort-value="0">HRW2: Manage hedgerows
      <td class="govuk-table__cell">120.44 metres
      <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
    </tr>
  </tbody>
</table>
  </div>
</div>

<div class="govuk-summary-card" id="sfiactions">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">SFI actions</h2>
   <ul class="govuk-summary-card__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> actions</span></a>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
  <p class="govuk-body"><a class="govuk-link" href="#">Open in a separate page</a></p>
          <p class="govuk-body">
These are the SFI actions you’ve chosen so far. These are more straightforward than higher tier actions and mostly will not need specialist advice.</p>
<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
       <th scope="col" class="govuk-table__header govuk-!-width-one-third">Action name</th>
      <th scope="col" class="govuk-table__header">Parcel number</th>
      <th scope="col" class="govuk-table__header">Quantity</th>
      <th scope="col" class="govuk-table__header">Update</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">HRW1: Assess and record hedgerow condition</p></td>
      <td class="govuk-table__cell" data-sort-value="0">No land added</td>
      <td class="govuk-table__cell">No land added</td>
      <td class="govuk-table__cell">N/A</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">HRW2: Manage hedgerows</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0235 002<br>
        SE7 0235 003<br>
        SE7 0235 004<br>
        SE7 0235 005<br>
        SE7 0235 006<br>
        SE7 0235 007</td>
      <td class="govuk-table__cell">8.12 hectares<br>
        12.34 hectares<br>
        8.15 hectares<br>
        34.13 hectares<br>
        76.45 hectares<br>
      67.43 hectares</td>
      <td class="govuk-table__cell">£206<br>
        £302<br>
        £67<br>
        £523<br>
        £1292<br>
        £898</td>
    </tr>
            <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">HRW3: Maintain or establish hedgerow trees</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 998<br>
        SE7 0234 999<br>
        SE7 0235 000</td>
      <td class="govuk-table__cell">34.78 hectares<br>
       62.34 hectares<br>
       3.15 hectares</td>
      <td class="govuk-table__cell">£568<br>
       £457<br>
       £52</td>
    </tr>
                <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">IGL2: Winter bird food on improved grassland</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0235 002<br>
        SE7 0235 003</td>
      <td class="govuk-table__cell">34.78 hectares<br>
        62.34 hectares</td>
      <td class="govuk-table__cell">£568<br>
       £457</td>
    </tr>
                 <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">IPM1: Assess integrated pest management and produce a plan</p></td>
      <td class="govuk-table__cell" data-sort-value="0">All parcels</td>
      <td class="govuk-table__cell">All parcels</td>
      <td class="govuk-table__cell">£589</td>
    </tr>
                   <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">IPM2: Flower-rich grass margins, blocks, or in-field strips</p></td>
      <td class="govuk-table__cell" data-sort-value="0">No land added</td>
      <td class="govuk-table__cell">No land added</td>
      <td class="govuk-table__cell">N/A</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">IPM3: Companion crop on arable and horticultural land</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0235 002<br>
        SE7 0235 003</td>
      <td class="govuk-table__cell">22.76 hectares<br>
        12.23 hectares</td>
      <td class="govuk-table__cell">£268<br>
      £189</td>
    </tr>
         <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">IPM4: No use of insecticide on arable crops and permanent crops</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0235 004<br>
        SE7 0235 005</td>
      <td class="govuk-table__cell">12.34 hectares<br>
        19.12 hectares</td>
      <td class="govuk-table__cell">£234<br>
      £124</td>
    </tr>
             <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">LIG2: Manage grassland with very low nutrient inputs (SDAs)</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0235 006<br>
       SE7 0235 007</td>
      <td class="govuk-table__cell">45.12 hectares<br>
       69.56 hectares</td>
      <td class="govuk-table__cell">£456<br>
      £654</td>
    </tr>
                 <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">MOR1: Assess moorland and produce a written record</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0235 008<br>
       SE7 0235 009</td>
      <td class="govuk-table__cell">76.45 hectares<br>
       12.45 hectares</td>
      <td class="govuk-table__cell">£567<br>
      £132</td>
    </tr>
                   <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">NUM1: Assess nutrient management and produce a review report</p></td>
      <td class="govuk-table__cell" data-sort-value="0">All parcels</td>
      <td class="govuk-table__cell">All parcels</td>
      <td class="govuk-table__cell">£809</td>
    </tr>
                      <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">NUM2: Legumes on improved grassland</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0235 010<br>
        SE7 0235 011/td>
      <td class="govuk-table__cell">76.45 hectares<br>
12.45 hectares</td>
      <td class="govuk-table__cell">£564<br>
      £234</td>
    </tr>
                          <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">NUM3: Legume fallow</p></td>
      <td class="govuk-table__cell" data-sort-value="0">No land added</td>
      <td class="govuk-table__cell">No land added</td>
      <td class="govuk-table__cell">N/A</td>
    </tr>
                              <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SAM1: Assess soil, test soil organic matter and produce a plan</p></td>
      <td class="govuk-table__cell" data-sort-value="0">All parcels</td>
      <td class="govuk-table__cell">All parcels</td>
      <td class="govuk-table__cell">£589</td>
    </tr>
                               <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SAM2: Multi-species winter crops</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0235 005<br>
        SE7 0235 006<br>
        SE7 0235 007<br>
      SE7 0235 008</td>
      <td class="govuk-table__cell">43.42 hectares<br>
        10.34 hectares<br>
        45.42 hectares<br>
      89.12 hectares</td>
      <td class="govuk-table__cell">£983<br>
        £345<br>
        £435<br>
      £1029</td>
    </tr>
                                   <tr class="govuk-table__row">
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell" data-sort-value="0"></td>
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">Total</p></td>
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">£13,591</p></td>
    </tr>
  </tbody>
</table>
  </div>
</div>

<div class="govuk-summary-card" id="higher">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Higher tier actions</h2>
   <ul class="govuk-summary-card__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> actions</span></a>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
  <p class="govuk-body"><a class="govuk-link" href="#">Open in a separate page</a></p>
          <p class="govuk-body">
Higher tier actions are more complex, and need specialist support and advice.</p>
<p class="govuk-body">You might want to submit a separate application for higher tier actions. These take long to process and will delay the SFI part of your agreement.</p>
<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
       <th scope="col" class="govuk-table__header govuk-!-width-one-third">Action name</th>
      <th scope="col" class="govuk-table__header">Parcel number</th>
      <th scope="col" class="govuk-table__header">Quantity</th>
      <th scope="col" class="govuk-table__header">Update</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">AB1: Nectar flower mix</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 996<br>
        SE7 0234 997<br>
      SE7 0234 998</td>
      <td class="govuk-table__cell">5.13 hectares<br>
        34.34 hectares<br>
      12.10 hectares</td>
      <td class="govuk-table__cell">£206<br>
        £302<br>
      £52</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">AB3: Beetle banks</p></td>
      <td class="govuk-table__cell" data-sort-value="0">No land added</td>
      <td class="govuk-table__cell">No land added</td>
      <td class="govuk-table__cell">N/A</td>
    </tr>
           <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">AB7: Whole crop cereals</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 996<br>
      SE7 0234 997</td>
      <td class="govuk-table__cell">5.13 hectares<br>
      34.34 hectares</td>
      <td class="govuk-table__cell">£206<br>
      £302</td>
    </tr>
             <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">AB15: Two year sown legume fallow</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 996<br>
      SE7 0234 997</td>
      <td class="govuk-table__cell">5.13 hectares<br>
      34.34 hectares</td>
      <td class="govuk-table__cell">£206<br>
      £302</td>
    </tr>
                 <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">BE4: Management of traditional orchards</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 996</td>
      <td class="govuk-table__cell">5.13 hectares</td>
      <td class="govuk-table__cell">£206</td>
    </tr>
                     <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">BE5: Creation of traditional orchards</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 996<br>
        SE7 0234 997<br>
      SE7 0234 998</td>
      <td class="govuk-table__cell">5.13 hectares<br>
        34.34 hectares<br>
      12.10 hectares</td>
      <td class="govuk-table__cell">£206<br>
        £302<br>
      £52</td>
    </tr>
                         <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">BE6: Veteran tree surgery</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 996</td>
      <td class="govuk-table__cell">5.13 hectares</td>
      <td class="govuk-table__cell">£206</td>
    </tr>
                             <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">GS4: Legume and herb-rich swards</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 996</td>
      <td class="govuk-table__cell">5.13 hectares</td>
      <td class="govuk-table__cell">£206</td>
    </tr>
                                 <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">ED1: Educational access</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 996<br>
      SE7 0234 997</td>
      <td class="govuk-table__cell">5.13 hectares<br>
      34.34 hectares</td>
      <td class="govuk-table__cell">£206<br>
      £302</td>
    </tr>
                                     <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">HS5: Management of historic and archaeological features on grassland</p></td>
      <td class="govuk-table__cell" data-sort-value="0">SE7 0234 996</td>
      <td class="govuk-table__cell">5.13 hectares</td>
      <td class="govuk-table__cell">£206</td>
    </tr>
                                         <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">SW7: Arable reversion to grassland with low fertiliser input</p></td>
      <td class="govuk-table__cell" data-sort-value="0">No land added</td>
      <td class="govuk-table__cell">No land added</td>
      <td class="govuk-table__cell">N/A</td>
    </tr>
                                             <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">WD1: Woodland creation - maintenance payments</p></td>
      <td class="govuk-table__cell" data-sort-value="0">No land added</td>
      <td class="govuk-table__cell">No land added</td>
      <td class="govuk-table__cell">N/A</td>
    </tr>
                                               <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">WD4: Management of lowland wood pasture and parkland</p></td>
      <td class="govuk-table__cell" data-sort-value="0">No land added</td>
      <td class="govuk-table__cell">No land added</td>
      <td class="govuk-table__cell">N/A</td>
    </tr>
                                                   <tr class="govuk-table__row">
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">WD8: Creation of successional areas and scrub</p></td>
      <td class="govuk-table__cell" data-sort-value="0">No land added</td>
      <td class="govuk-table__cell">No land added</td>
      <td class="govuk-table__cell">N/A</td>
    </tr>
       <tr class="govuk-table__row">
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell" data-sort-value="0"></td>
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">Total</p></td>
      <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">£13,591</p></td>
    </tr>
  </tbody>
</table>
  </div>
</div>

  <form class="form" action="tasklist-9" method="post">
  <button type="submit" class="govuk-button govuk-button--disabled" data-module="govuk-button">
    Confirm selection
  </button>
</form>
</div>
</div>

<p class="govuk-body"><a class="govuk-link" href="#header">Back to top</a></p>

</main>
</div>

{% endblock %}
