{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Live Private Beta – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
  Save and return later
</button>
</div>
</div>
</div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Enter your agreement name</h1>
      <div class="govuk-form-group">
        <label class="govuk-label" for="agreement-name">
        This will appear on your agreement documents. For example ‘Jasmine’s Farm Funding 2024’.</label>
        <input class="govuk-input govuk-!-width-full" id="agree" name="agreementName" type="text" autocomplete="Agreement name">
        <label class="govuk-label" for="agreement-name">
      You have 256 characters remaining
    </label>
  </div>

<form class="form" action="tasklist-4" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
        
    </div>
  </div>

</main>
</div>
{% endblock %}
