{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Live Private Beta – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}
{% endblock %}

{% block content %}

  <div class="moj-identity-bar__container">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back </a>
    <div class="moj-identity-bar__actions">
      <div class="moj-identity-bar__menu">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--primary" data-module="govuk-button">
            Save and return later</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<h3 class="govuk-heading-s">Jasmine Smith</h3>


<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Select your agreement level actions</h1>
      <p class="govuk-body">You’ve selected the following ‘agreement level’ actions. These are actions that apply to a whole agreement, rather than a specific area of land.</p>
      <p class="govuk-body">Confirm your agreement level actions - tick the relevant actions and click 'update your application'.</p>

     <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Your agreement level actions</caption>
  <tbody class="govuk-table__body">
      <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Apply for action</th>
      <th scope="col" class="govuk-table__header">Actions</th>
      <th scope="col" class="govuk-table__header">Quantity</th>
      <th scope="col" class="govuk-table__header">Unit</th>
    </tr>
  </thead>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">IPM1 – Assess integrated pest management and produce a plan</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">Plan</td>
    </tr>
           <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">NUM1 – Assess nutrient management and produce a review report</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="quantity" name="quantity" type="text" inputmode="numeric">
        </div></td>
      <td class="govuk-table__cell">Plan</td>
    </tr>
  </tbody>
</table>

<form class="form" action="tasklist-8" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Update your application
          </button>
        </form>

    </div>
  </div>

</main>
</div>
{% endblock %}
