{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E HT MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Back</a>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Business overview
<span class="govuk-caption-xl">SMITH FARM LTD</span></h1>
<p class="govuk-body">Confirmed</p>
<p class="govuk-caption-m">Manage different areas of your business here.</p>
<p class="govuk-body">Contents</p>
<ul class="govuk-list">
    <li>
    <a class="govuk-link" href="#">– Give people permission to act for this business</a>
  </li>
  <br>
  <li>
    <a class="govuk-link" href="#">– Business summary</a>
  </li>
    <br>
  <li>
    <a class="govuk-link" href="#">– Land</a>
  </li>
        <br>
    <li>
    <a class="govuk-link" href="#">– Apply for the Expanded Sustainable Farming Incentive (SFI) Offer</a>
  </li>
      <br>
      <li>
    <a class="govuk-link" href="#">– Sustainable Farming Incentive 2023</a>
  </li>
      <br>
      <li>
    <a class="govuk-link" href="#">– Basic Payment Scheme</a>
  </li>
      <br>
      <li>
    <a class="govuk-link" href="#">– Delinked payments</a>
  </li>
      <br>
    <li>
    <a class="govuk-link" href="#">– Countryside Stewardship</a>
  </li>
</ul>
</div>

<div class="govuk-grid-column-one-third">
<h1 class="govuk-heading-m">Business details</h1>
<p class="govuk-body">SMITH FARM LTD
<br>Jasmine Smith
<br>High Street
<br>Rhydlewis
<br>Ellesmere
<br>PO30 1NY</p>
<p class="govuk-body">Email: jasminesmith.farm@gmail.com
<br>Landline: 0123456789
<br>Mobile: 0712345689</p>
<p class="govuk-body"><a href="#" class="govuk-link">View and amend your business details</a></p>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<p class="govuk-body govuk-!-font-weight-bold">Permission to act for this business</p>
</div>
<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body">This permission allows someone (including agents) to act for this business in the Rural Payments service. Choose a name from the list below to see their permission levels.</p>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Full name</th>
      <th scope="col" class="govuk-table__header">Relationship</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" ><a class="govuk-!-font-weight-bold" class="govuk-link govuk-link--no-visited-state">Jasmine Smith</a></td>
      <td class="govuk-table__cell">Sole trader</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-!-font-weight-bold" class="govuk-link govuk-link--no-visited-state">Bartholomew Brown</td>
      <td class="govuk-table__cell">Agent</td>
    </tr>
  </tbody>
</table>
<ul class="govuk-list">
    <li>
    <a class="govuk-link" href="#">Add people</a>
  </li>
  <br>
  <li>
    <a class="govuk-link" href="#">Add people from a firm of agents</a>
  </li>
    <br>
  <li>
    <a class="govuk-link" href="#">Remove people</a>
  </li>
</ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<p class="govuk-body govuk-!-font-weight-bold">Business summary</p>
</div>
<div class="govuk-grid-column-two-thirds">
<p class="govuk-body">Check and print the details we have for your business. These include business details, entitlements, land and land use details and any common land rights you have.</p>
<p class="govuk-body"><a href="#" class="govuk-link">Business summary</a></p>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<p class="govuk-body govuk-!-font-weight-bold">Land</p>
</div>
<div class="govuk-grid-column-two-thirds">
<p class="govuk-body">View maps of your land, transfer land to another business or make changes to your land use.</p>
<ul class="govuk-list">
    <li>
    <a class="govuk-link" href="#">View and update land</a>
  </li>
  <br>
  <li>
    <a class="govuk-link" href="#">Transfer land</a>
  </li>
    <br>
  <li>
    <a class="govuk-link" href="#">Update land use</a>
  </li>
      <br>
  <li>
    <a class="govuk-link" href="#">Request Rural Land Changes</a>
  </li>
</ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <p class="govuk-body govuk-!-font-weight-bold">Apply for the Expanded Sustainable Farming Incentive (SFI) Offer</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
  <p class="govuk-body"><a href="#" class="govuk-link">Apply for the Expanded Sustainable Farming Incentive (SFI) Offer</a></p>
  </div>
  </div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<p class="govuk-body govuk-!-font-weight-bold">Sustainable Farming Incentive 2023</p>
</div>
<div class="govuk-grid-column-two-thirds">
<p class="govuk-body"><a href="dashboard" class="govuk-link">Sustainable Farming Incentive 2023</a></p>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<p class="govuk-body govuk-!-font-weight-bold">Basic Payment Scheme</p>
</div>
<div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Check what entitlements you have for the Basic Payment Scheme. Apply for BPS, check the status of your application, update your application or view past applications.</p>
<ul class="govuk-list">
    <li>
    <a class="govuk-link" href="#">View entitlements</a>
  </li>
  <br>
     <li>
    <a class="govuk-link" href="#">Apply for BPS or view status of your application</a>
  </li>
  <br>
     <li>
    <a class="govuk-link" href="#">View a previous BPS application</a>
  </li>
</ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<p class="govuk-body govuk-!-font-weight-bold">Delinked payments</p>
</div>
<div class="govuk-grid-column-two-thirds">
<ul class="govuk-list">
    <li>
    <a class="govuk-link" href="#">View and transfer reference data</a>
  </li>
</ul>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<p class="govuk-body govuk-!-font-weight-bold">Countryside Stewardship</p>
</div>
<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body">Find out which Countryside Stewardship options best suit you farm, apply to join the scheme and submit your claims.</p>
  <ul class="govuk-list">
      <li>
      <a class="govuk-link" href="#">Countryside Stewardship options finder tool</a>
    </li>
    <br>
    <li>
      <a class="govuk-link" href="#">Countryside Stewardship Mid Tier Applications</a>
    </li>
      <br>
    <li>
      <a class="govuk-link" href="#">Countryside Stewardship applications</a>
    </li>
      <br>
    <li>
      <a class="govuk-link" href="#">Countryside Stewardship claims</a>
    </li>
  </ul>
</div>
</div>

</main>
</div>
{% endblock %}
