{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Live Private Beta – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}

   <div class="moj-identity-bar__container">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
    <div class="moj-identity-bar__actions">
      <div class="moj-identity-bar__menu">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--primary " data-module="govuk-button">
            Save and return later</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<h3 class="govuk-heading-s">Jasmine Smith</h3>
{% endblock %}

{% block content %}

 

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Check your land details</h1>
  
  <p class="govuk-body">Before you continue with this application, check that the registered land details on your digital maps are up to date. If they’re not, this may prevent you from applying for the SFI actions you select.</p>

  <p class="govuk-body">You need to check your digital maps show:
    <ul class="govuk-list govuk-list--bullet">
        <li>all the land parcels you want to include in this application</li>
        <li>the correct total area (in hectares) for each land parcel</li>
        <li>the correct land covers for each land parcel, for example, arable land, permanent grassland, permanent crops or relevant non-agricultural land cover</li>
    </ul>
  </p>

  <p class="govuk-body"><a href="#" class="govuk-link">Check your digital maps</a></p>
  <div class="govuk-!-padding-bottom-2"></div>

<form class="form" action="/land-details-answer" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                 Do your digital maps show the correct land details?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="landDetailsAnswer-1" name="land-details-answer" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="landDetailsAnswer-1">
                    Yes
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="landDetailsAnswer-2" name="land-details-answer" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="landDetailsAnswer-2">
                    No
                  </label>
                </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>

</div>
</main>
</label>
</div>

{% endblock %}
