{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Live Private Beta – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}
  <div class="moj-identity-bar__container">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back </a>
    <div class="moj-identity-bar__actions">
      <div class="moj-identity-bar__menu">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--primary" data-module="govuk-button">
            Save and return later</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<h3 class="govuk-heading-s">Jasmine Smith</h3>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#error">Parcel number SE7 023 4996: <br>
- you can't do MOR1 and SAM1 on the same land parcel <br>
- quantity for AB1 is more than the land parcel size</a>
        </li>
       
      </ul>
    </div>
  </div>
</div>

    <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>
</div>
    <button type="submit" class="govuk-button govuk-button--primary topnav-right" style="margin-right: 15px; margin-top: 237px" data-module="govuk-button">
  Print</button>
</div>
</div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">Details</h2>
<div class="govuk-!-padding-bottom-2"></div>

    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Business</th>
      <td class="govuk-table__cell govuk-!-width-one-half">JASMINE SMITH FARM<br>
  Rainbow Farm<br>
  High Street<br>
  Rhydlewis<br>
  Ellesmere<br>
  PO30 1NY</td>
        <td class="govuk-table__cell govuk-table__header--numeric"></td>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">SBI Number</th>
      <td class="govuk-table__cell">123456789</td>
         <td class="govuk-table__cell govuk-table__header--numeric"></td>
    </tr>
       <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Indicative total agreement value (excluding management payment)</th>
      <td class="govuk-table__cell govuk-!-width-one-quarter">£12,408.8508</td>
      <td class="govuk-table__cell govuk-table__header--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Land details up to date</th>
      <td class="govuk-table__cell">Yes</td>
         <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="check-land-details">Change<span class="govuk-visually-hidden"> answer</span></a>

    <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Management control of land</th>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Yes</td>
            <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="management-control">Change<span class="govuk-visually-hidden"> answer</span></a>
    </td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Land with historic or archaeological features</th>
          <td class="govuk-table__cell">Yes</td>
             <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="hefer">Change<span class="govuk-visually-hidden"> answer</span></a>
    </td>
        </tr>


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Sites of special scientific interest (SSSIs)</th>
      <td class="govuk-table__cell">Yes</td>
         <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="sssi">Change<span class="govuk-visually-hidden"> answer</span></a>
</td>
    </tr>


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Inheritance tax exemptions</th>
      <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="ite">Change<span class="govuk-visually-hidden"> answer</span></a>
</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Land owned by public bodies</th>
      <td class="govuk-table__cell">Yes</td>
        <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="ite">Change<span class="govuk-visually-hidden"> answer</span></a>
</td>
    </tr>

    </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Agreement name</th>
          <td class="govuk-table__cell">Jasmine’s Farm SFI 2023</td>
            <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="agreement-name">Change<span class="govuk-visually-hidden"> answer</span></a>
    </td>
        </tr>
      
        
        
       
            <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total number of actions applied for</th>
      <td class="govuk-table__cell">10</td>
       <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="select-actions">Change<span class="govuk-visually-hidden"> answer</span></a></td></tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Parcel Based actions</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="select-map">Change<span class="govuk-visually-hidden"> answer</span></a></td></td>
    </tr>



<tr class="govuk-table__row">
<td class="govuk-table__cell" style="border-bottom-color: white" colspan="3">
</td>
</tr>

<tr class="govuk-table__row red-border">
<td class="govuk-table__cell red-border-padding" style="border-bottom-color: white"; colspan="3">
<p id="nationality-error" class="govuk-error-message" style="margin-bottom: -10px;">
<span id="error" class="govuk-visually-hidden">Error:</span>There is an error with this action, the area entered is too high. Click on change to resolve this.</p>
</td>
</tr>

<tr class="govuk-table__row red-border">
<td class="govuk-table__cell red-border-padding" style="border-bottom-color: white";>CHRW1 - Assess and record hedgerow condition</td>
 <td class="govuk-table__cell red-border-padding" style="border-bottom-color: white">£6,372.142</td>
 
</tr>

<tr class="govuk-table__row">
<td class="govuk-table__cell"  colspan="3">
</td>
</tr>




      <tr class="govuk-table__row">
      <td class="govuk-table__cell">CHRW2 - Manage hedgerows</td>
      <td class="govuk-table__cell">£4,295.3575</td>
            <td class="govuk-table__cell"></td>
    </tr>
            <tr class="govuk-table__row">
      <td class="govuk-table__cell">CHRW3 - Maintain or establish hedgerow trees</td>
      <td class="govuk-table__cell">£6.0197</td>
      <td class="govuk-table__cell"></td>
    </tr>
               <tr class="govuk-table__row">
      <td class="govuk-table__cell">CNUM2 - Legumes on improved grassland</td>
      <td class="govuk-table__cell">£17.3316</td>
            <td class="govuk-table__cell"></td>
    </tr>
    
    <tr class="govuk-table__row">
       <th scope="col" class="govuk-table__cell">Parcel Based actions total</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell govuk-table__header--numeric">£10,690.8508</td>

    </tr>
        <tr class="govuk-table__row">
       <th scope="col" class="govuk-table__cell">Agreement Level actions</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell govuk-table__header--numeric"><a class="govuk-link" href="apply-agreement-level">Change<span class="govuk-visually-hidden"> answer</span></a></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">IPM1 – Assess integrated pest management and produce a plan</td>
      <td class="govuk-table__cell">£1,129.00</td>
      <td class="govuk-table__cell"></td>
    </tr>

        <tr class="govuk-table__row">
      <td class="govuk-table__cell">NUM1 – Assess nutrient management and produce a nutrient report</td>
      <td class="govuk-table__cell">£589.00</td>
      <td class="govuk-table__cell"></td>
    </tr>
        <tr class="govuk-table__row">
       <th scope="col" class="govuk-table__cell">Agreement Level actions total</td>
      <td class="govuk-table__cell">£1,718.00</td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
      
<form class="form" action="check-your-answers-confirmed" method="post">
<button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button" style="width: 16%;">
  Validate
</button>
</form>

<button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button" style="width: 16%">
  Continue
</button>

      </div>
    </div>

  </main>
</div>
{% endblock %}
