{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E SFI MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}

{% endblock %}

{% block content %}

<div class="moj-identity-bar">

  <div class="moj-identity-bar__container">

    <a href="#" class="govuk-back-link">Back</a>

    <div class="moj-identity-bar__actions">

      <div class="moj-identity-bar__menu">

        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">

            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--primary " data-module="govuk-button">
              Save and return later
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Public bodies</h1>

<p class="govuk-body">If you’re not a public body, or you’re not a tenant on land owned by a public body, answer 'yes' to continue your application.</p>
<p class="govuk-body">If you're a public body, you can apply for an SFI agreement. But you will not be paid for activities that:</p>
<p class="govuk-body">
• you're required to carry out as part of your statutory duties<br>
• No longer used<br>
• public corporations<br></p>

<p class="govuk-body">Read the guidance about the <a href="#">eligibility of public bodies</a>.</p>


<br>
<form class="form" action="/public-body-answer" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <p class="govuk-body">
Do the actions you want to apply for fall outside of your statutory duties, and can you confirm they are not already funded by other sources?</p>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="publicBodyAnswer-1" name="public-body-answer" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="publicBodyAnswer-1">
                    YES
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="publicBodyAnswer-2" name="public-body-answer" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="publicBodyAnswer-2">
                    NO
                  </label>
                </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
    </div>
  </div>

</div>
</main>
{% endblock %}
