{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Live Private Beta – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            We've saved your application
          </h1>
</div>

<div class="govuk-!-padding-bottom-3"></div>

<div>
  <h2 class="govuk-heading-l" style="color: #D4351C;">Please remember to submit your application when you have completed it</h2>

</div>


<div class="govuk-!-padding-bottom-3"></div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
         Your application will be available for 2 months for you to continue. If you have not submitted your application by then, we will delete it.
        </p>

        <div class="govuk-!-padding-bottom-2"></div>

        <p class="govuk-body">
        If we need to close applications, we will give you 6 weeks' notice. We will publicise this information on GOV.UK and email you. </p>

        <div class="govuk-!-padding-bottom-2"></div>

       <p class="govuk-body">
        You can close this window.</p>


        <form class="form" action="dashboard-after-application" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Close
          </button>
        </form>
        
      </div>
    </div>

</main>
</div>
{% endblock %}
