{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Live Private Beta – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="moj-identity-bar">
  <div class="moj-identity-bar__container">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
    <div class="moj-identity-bar__actions">
      <div class="moj-identity-bar__menu">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
            Save and return later</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<h3 class="govuk-heading-s">Jasmine Smith</h3>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">
  
  <h1 class="govuk-heading-l">Select actions</h1>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">

  <div id="search">
    <label class="govuk-label govuk-!-margin-top-2" for="search">
      Search by action code
    </label>
    <input class="govuk-input text-input govuk-!-margin-bottom-3" style="width:160px; height:44px;" id="searchbox" type="text" value="" placeholder="">

    <button id="button_1" class="govuk-button" height="20" data-module="govuk-button">
      <svg class="gem-c-search__icon" width="21" height="21" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
        <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
      </svg>
    </button>
  </div>

  <div class="govuk-inset-text">
  SFI actions are more straightforward.<br><br>
  Higher tier actions are more complex - you will need specialist advice and support for these.
  </div>

  <div id="filters">
    <details class="govuk-details" data-module="govuk-details" open>
      <summary class="govuk-details__summary">
        <label class="govuk-label govuk-label--s">
        <span>
          Action type
        </span>
      </label>
      </summary>
      <div class="govuk-!-padding-top-4" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-A" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-A">
            SFI
          </label>
        </div>
        <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
            Higher tier
          </label>
        </div>
    </div>
  </details>
</div>


  <div id="filters">
    <details class="govuk-details" data-module="govuk-details" open>
      <summary class="govuk-details__summary">
        <label class="govuk-label govuk-label--s">
        <span>
          Actions themes
        </span>
      </label>
      </summary>
      <div class="govuk-!-padding-top-4" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-A" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-A">
            Actions for Agroforestry
          </label>
        </div>

        <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-A" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-A">
            Actions for Arable
          </label>
        </div>

        <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
            Actions for Boundaries
          </label>
        </div>
              <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
            Actions for Grassland
          </label>
        </div>
              <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
            Actions for Heritage
          </label>
        </div>
              <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
           Actions for Improving soil health
          </label>
        </div>

              <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          Actions for Integrated pest management
          </label>
        </div>
              <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
           Actions for Lakes/Ponds/Ditches
          </label>
        </div>
              <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
            Actions for Moorland
          </label>
        </div>
            <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
            Actions for Nutrient management
          </label>
        </div>
             <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
            Actions for Organic 
          </label>
        </div>
            <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
           Actions for Precision farming
          </label>
        </div>
            <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
           Actions for Species recovery and management
          </label>
        </div>
          <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
           Actions for Successional areas and scrub
          </label>
        </div>
            <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
            Actions for Waterbodies
          </label>
        </div>
        <div class="govuk-checkboxes--small govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
            Revenue - Grassland
          </label>
        </div>

      </div>
    </details>
          <div class="govuk-button-group govuk-!-margin-bottom-5">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Apply filters
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Clear all filters
  </button>
</div>
</div>
</div>

    <div class="govuk-grid-column-two-thirds">
      <div class="topnav">
  <summary class="govuk-details__summary"><span><a class="govuk-body govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#sortbyorder">Sort by selected actions first</a></span></summary>
  <div class="topnav-right govuk-body">
    <span class="govuk-!-font-weight-bold">32</span> actions listed of <span class="govuk-!-font-weight-bold">32</span> total
  </div>
</div>
      <div class="govuk-form-group" id="result-count">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">

      <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">AGF1 - Maintain very low density in-field agroforestry on less sensitive land – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £248 per hectare</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
     <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">AGF2 - Maintain low density in-field agroforestry on less sensitive land - <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £385 per hectare</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">AHW2 - Supplementary winter bird food – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £732 per hectare</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">AHW4 - Skylark plots – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £11 per plot per year (min 2 plots per hectare)</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">BFS3 - Buffer in-field ponds on improved grassland – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £311 per hectare per year</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">BFS3 - Buffer in-field ponds on improved grassland – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £311 per hectare per year</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">BFS5 - Protect in-field trees on intensive grassland – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £295 per hectare per year</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">BFS6 - Habitat strip next to watercourses – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £742 per hectare per year</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">BND1 - Maintain dry stone walls – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £27 per 100 metres for both sides</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">BND2 - Maintain earth banks or stone-faced hedgebanks – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £11 per 100 metres for both sides</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">CHRW1 - Assess and record hedgerow condition – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £5 per 100 metres for one side of an eligible hedgerow per year</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">CHRW2 - Manage hedgerows – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £13 per 100 metres for one side of an eligible hedgerow per year</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

    <!-- Beginning of action -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
        <p class="govuk-body">CHRW2 - Manage hedgerows – <a href="https://www.gov.uk/find-funding-for-land-or-farms/agf1-maintain-very-low-density-in-field-agroforestry-on-less-sensitive-land" target="_blank" class="govuk-link">view</a></p>
        </label>
      </div>
     <div class="govuk-!-padding-bottom-4"><p class="govuk-body"><span class="govuk-!-font-weight-bold">Annual payment:</span> £13 per 100 metres for one side of an eligible hedgerow per year</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>
    <!-- End of action -->

</div>
</div>
      <form class="form" action="tasklist-5" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Confirm your selection
          </button>
        </form>
</div>

</div>

</main>
</div>
{% endblock %}
