{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Live Private Beta – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}
  <div class="moj-identity-bar__container">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back </a>
    <div class="moj-identity-bar__actions">
      <div class="moj-identity-bar__menu">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--primary" data-module="govuk-button">
            Save and return later</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<h3 class="govuk-heading-s">Jasmine Smith</h3>
{% endblock %}

{% block content %}

  

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Select land for your actions</h1>
<p class="govuk-body">Your available land is grouped by Ordnance Survey map sheet references. To view your land parcels, click on the OS map sheet reference links in the table, or the icons in the map.</p>
<p class="govuk-body">You’ll then be able to add actions to parcels. When you finish, you’ll come back to this screen. Click ‘Confirm selection’ to continue the rest of your application.</p>
<h2 class="govuk-heading-m">Total number of available land parcels: 37</h2>
<h2 class="govuk-heading-m">Total area (ha): 200.6611</h2>
<h2 class="govuk-heading-m">Total number of land parcels used for SFI actions: 0</h2>
<h2 class="govuk-heading-m">Total number of SFI actions applied for: 0</h2>

<hr class="section-break-large"></hr>
      <table class="govuk-table">
<p class="govuk-body govuk-!-font-weight-bold"><a href="select-land" class="govuk-link">OS Map Sheet Reference SO3</a></p>
<hr class="govuk-section-break govuk-section-break--visible">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Number of available land parcels</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">20</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total area (ha)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">120.3451</td>
    </tr>
    <tr class="govuk-table__row">
     <td class="govuk-table__cell">Number of land parcels used for SFI actions</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
        <tr class="govuk-table__row">
    <td class="govuk-table__cell">Number of SFI actions applied for</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
  </tbody>
</table>
<hr class="section-break-large"></hr>
      <table class="govuk-table">
<p class="govuk-body govuk-!-font-weight-bold"><a href="select-land" class="govuk-link">OS Map Sheet Reference SX2</a></p>
<hr class="govuk-section-break govuk-section-break--visible">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Number of available land parcels</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total area (ha)</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">80.3160</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Number of land parcels used for SFI actions</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
        <tr class="govuk-table__row">
     <td class="govuk-table__cell">Number of SFI actions applied for</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
  </tbody>
</table>

      <form class="form" action="tasklist-6" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Confirm selection
          </button>
        </form>

    </div>
    
      <div class="govuk-grid-column-one-half govuk-!-margin-bottom-5">
    <p class="govuk-body" style="text-align: center;"><a href="#" class="govuk-link" >Hide map</a></p>
  <map name="clickable">
        <area shape="rect" coords="70,300,160,350" href="select-land">
        <area shape="rect" coords="180,110,270,160" href="select-land">
          </map>
<img usemap="#clickable" src="https://raw.githubusercontent.com/defra-design/fcp-combined-offer/d5bf2d21ba9eace32fe5e632290540c479743fdc/app/views/e2e-mvp/img/map_1.png" alt="Map of your land" style="width:465px;height:400px;"></a>
    </div>

</div>

</main>
</div>
{% endblock %}
