{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Live Private Beta – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}
{% endblock %}

{% block content %}

  <div class="moj-identity-bar__container">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back </a>
    <div class="moj-identity-bar__actions">
      <div class="moj-identity-bar__menu">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
            Save and return later</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<h3 class="govuk-heading-s">Jasmine Smith</h3>


<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <span class="govuk-caption-l">Expanded Sustainable Farming Incentive</span>
      <h1 class="govuk-heading-xl">Apply for funding</h1>

<p class="govuk-body govuk-!-font-weight-bold">Application incomplete</p>

<p class="govuk-body">You have completed 1 of 4 sections</p>

      <h2 class="govuk-heading-m">1. Check before you start.</h2>

       <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="check-land-details" aria-describedby="company-details-1-status">
              Confirm your land details are up to date
            </a>
          </div>
          <div class="govuk-task-list__status Complete-tag box-complete" text-align="right" >
            COMPLETED
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
             <a class="govuk-link govuk-task-list__link" href="management-control" aria-describedby="company-details-1-status">
               Confirm you’re eligible to apply
            </a>
             
          </div>
          <div class="govuk-task-list__status Complete-tag box-complete" text-align="right" >
            COMPLETED
          </div>
        </li>

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="agreement-name" aria-describedby="company-details-1-status">
               Agreement name
            </a>
              
          </div>
          <div class="govuk-task-list__status Complete-tag box-complete" id="company-details-2-status" style="color: 383F43;">
              COMPLETED
          </div>
        </li>
    </ul>

      <h2 class="govuk-heading-m">2. Select your actions</h2>

      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
             <a class="govuk-link govuk-task-list__link" href="select-actions" aria-describedby="company-details-1-status">
                Select which actions to do
            </a>
            
          </div>
          <div class="govuk-task-list__status Cannot-start-tag box-grey" id="company-details-2-status">
             NOT STARTED
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">3. Select land for your actions</h2>

      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
             Select your actions
          </div>
          <div class="govuk-task-list__status Cannot-start-tag box-grey" id="company-details-2-status">
              CANNOT START YET
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
             Select additional parcels for your rotational actions
          </div>
          <div class="govuk-task-list__status Cannot-start-tag box-grey" id="company-details-2-status">
              CANNOT START YET
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
             Apply for your agreement level actions
          </div>
          <div class="govuk-task-list__status Cannot-start-tag box-grey" id="company-details-2-status">
              CANNOT START YET
          </div>
        </li>
      </ul>

    <h2 class="govuk-heading-m">4. Review and submit your application</h2>

      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
             Check your answers
          </div>
          <div class="govuk-task-list__status Cannot-start-tag box-grey" id="company-details-2-status">
              CANNOT START YET
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
             Submit your application
          </div>
          <div class="govuk-task-list__status Cannot-start-tag box-grey" id="company-details-2-status">
              CANNOT START YET
          </div>
        </li>

      </ul>

      <!--- 
      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "NOT STARTED",
          classes: "Not-started-tag"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Confirm your land details are up to date"
            },
            href: "check-land-details",
            status: incompleteStatus
          },
          {
            title: {
              text: "Confirm you’re eligible to apply"
            },
       status: {
        text: "Cannot start yet",
        classes: "Cannot-start-tag"
      }          
    },
               {
            title: {
              text: "Agreement name"
            },
        status: {
        text: "Cannot start yet",
        classes: "Cannot-start-tag"
      }          
    }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">2. Select your actions</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Select which actions to do"
            },
        status: {
        text: "Cannot start yet",
        classes: "Cannot-start-tag"
      }          
    }
        ]
      }) }}

         <h2 class="govuk-heading-m govuk-!-margin-top-5">3. Select land for your actions</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Select your actions"
            },
        status: {
        text: "Cannot start yet",
        classes: "Cannot-start-tag"
      }          
    }
        ]
      }) }}


         <h2 class="govuk-heading-m govuk-!-margin-top-5">4. Review and submit your application</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
                 {
            title: {
              text: "Check your answers"
            },
        status: {
        text: "Cannot start yet",
        classes: "Cannot-start-tag"
      }          
    },
                 {
            title: {
              text: "Submit your application"
            },
        status: {
        text: "Cannot start yet",
        classes: "Cannot-start-tag"
      }
          }
        ]
      }) }}

    </div>
  </div>

      --> 

</div>
</main>
{% endblock %}
