{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Prototype</span>
    <h1 class="govuk-heading-xl">
      CS Higher Tier
    </h1>

<h1 class="govuk-heading-m">User Testing</h1>

<p class="govuk-body"><a class="govuk-link" href="first/sign-in">Scenario 1 (first)</a></p>

<p class="govuk-body"><a class="govuk-link" href="second/sign-in">Scenario 2 (feedback)</a></p>

<div class="govuk-!-padding-bottom-9"></div>

<div class="govuk-!-padding-bottom-9"></div>

</div>
</div>

{% endblock %}
