{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E SFI MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<!-- Header / Name and CTA -->

<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">

<div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Smith Farm Ltd <span class="govuk-caption-m">Single Business Identifier (SBI): 123456789</span></div>

  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
  </button>

</div>
</div>
</div>

<!-- Start of main body container -->

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Select land for your actions</h1>
  </div>
</div>


<!-- Left hand -->
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    
    <h2 class="govuk-heading-m">Select land parcels on map or list</h2>

      <p>You are viewing <span class="govuk-body govuk-!-font-weight-bold"> OS Map Sheet Reference SO3 </span> which has <span class="govuk-body govuk-!-font-weight-bold"> 30.4 </span> hectares over <span class="govuk-body govuk-!-font-weight-bold"> 15 </span> land parcels. </p>

      <p class="govuk-body"><a href="select-map" class="govuk-link">Select another OS map sheet reference</a></p>

      <p class="govuk-body"><a href="select-land-parcel-1-applied-list" class="govuk-link">Hide map and show list instead</a></p>

          <map name="clickable">
          <area shape="rect" coords="100,280,190,320" href="select-land-parcel-1">
          <area shape="rect" coords="150,220,240,280" href="select-land-parcel-2">
                  </map>
<img usemap="#clickable" src="https://raw.githubusercontent.com/defra-design/fcp-combined-offer/main/app/views/sfi-iteration-1-2/img/map_4.png" alt="Map of your land" style="width:465px;height:400px;"></a>

       <p class="govuk-body">Key:</p>
      <div class="key-div govuk-!-margin-bottom-5">
      <div class="key-parent" id="key1"></div><span class="govuk-body-s" style="width:80px;display:inline-block">Error</span>
      <div class="key-parent" id="key2"></div><span class="govuk-body-s" >Selected</span>
      <br>
      <br>
      <div class="key-parent" id="key3"></div><span class="govuk-body-s"style="width:80px;display:inline-block">Actions</span>
      <div class="key-parent" id="key4"></div><span class="govuk-body-s">No actions added</span>
     </div>

<div class="govuk-inset-text">
      <p>You have selected <span class="govuk-body govuk-!-font-weight-bold"> SO3757 3158</span>, which has <span class="govuk-body govuk-!-font-weight-bold"> 33.0404 </span> hectares.</p>

      <p><span class="govuk-body govuk-!-font-weight-bold">Land use:</span></p>
      <p>Permanent grassland:1.5760 ha</p>
      <p>Arable crops: 1.1212 ha</p>
      <p>Temporary grassland: 0.1312 ha</p>
      <p>Non-agricultural: 0.2120 ha</p>
      
      <p><span class="govuk-body govuk-!-font-weight-bold">Layer Intersections:</span></p>
      <p>Biodiversity, SSSI, LFA-MS</p>
      </div>

      <p>If a land parcel is not shown, the land use codes declared are not eligible for the actions you’ve selected.</p>

       <p class="govuk-body"><a href="https://www.gov.uk/guidance/what-land-is-eligible-for-an-sfi-agreement#how-we-define-eligible-land-types-and-features-for-sfi" class="govuk-link">You must check land types and features are eligible for actions.</a></p>



</div>

  <div class="govuk-grid-column-one-half">
  <h2 class="govuk-heading-m">Select actions to apply on land parcels</h2>
  <p>You have selected <span class="govuk-body govuk-!-font-weight-bold"> 4 </span> action(s) on<span class="govuk-body govuk-!-font-weight-bold"> 1 </span> land parcel(s).</p>


  <table class="govuk-table">
  
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header">Available area</th>          
          <th scope="col" class="govuk-table__header">Quantity</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CHRW1 – Assess and record hedgerow condition</td>
           </th>
          <td class="govuk-table__cell">-</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">m</div>
      </div>
      </div></td>
        </tr>
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SAM1 – Assess soil, test SOM and produce a soil management plan</td>
           </th>
          <td class="govuk-table__cell">2.8284</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CMOR1 – Assess moorland and produce a written record</td>
           </th>
          <td class="govuk-table__cell">2.0045</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SOH4 – Winter cover following maize crops</td>
           </th>
          <td class="govuk-table__cell">1.3224</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">WBD2 – Manage ditches</td>
           </th>
          <td class="govuk-table__cell">1.5112</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">BND1 – Maintain dry stone walls</td>
           </th>
          <td class="govuk-table__cell">0.2550</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

       <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">BND2 – Maintain earth banks or stone-faced hedgebanks</td>
           </th>
          <td class="govuk-table__cell">0.3565</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CAHL1 – Pollen and nectar flower mix</td>
           </th>
          <td class="govuk-table__cell">2.8421</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CAHL2 – Winter bird food on arable and horticultural land</td>
           </th>
          <td class="govuk-table__cell">1.3345</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

                   <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CAHL3 – Grassy field corners or blocks</td>
           </th>
          <td class="govuk-table__cell">1.2465</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW1 – Bumblebird mix</td>
           </th>
          <td class="govuk-table__cell">1.2478</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW2 – Supplementary winter bird food</td>
           </th>
          <td class="govuk-table__cell">1.3345</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW3 – Beetle banks</td>
           </th>
          <td class="govuk-table__cell">1.3352</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW4 – Skylark plots</td>
           </th>
          <td class="govuk-table__cell">0.4512</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW5 – Nesting plots for lapwing</td>
           </th>
          <td class="govuk-table__cell">0.8715</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SCR1 –  Create scrub and open habitat mosaics</td>
           </th>
          <td class="govuk-table__cell">1.2690</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

                  <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">GRH11 –  Cattle grazing supplement (non-moorland)</td>
           </th>
          <td class="govuk-table__cell">1.2478</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>
      </tbody>
    </table>

<p class="govuk-body">You have chosen a total of 30 actions. You can only see the actions that are eligible for the selected land parcel, <a href="select-actions" class="govuk-link">return to list to select actions</a>.</p>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Update actions on land parcel
</button>

<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Confirm my selection
</button>

    </div>

  </div>

</main>
</div>
{% endblock %}
