{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E SFI MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<!-- Header / Name and CTA -->

<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">

<div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Smith Farm Ltd <span class="govuk-caption-m">Single Business Identifier (SBI): 123456789</span></div>

  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
  </button>

</div>
</div>
</div>

<!-- Start of main body container -->

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Select land for your actions</h1>
  </div>
</div>


<!-- Left hand -->
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    
    <h2 class="govuk-heading-m">Select land parcels on map or list</h2>

      <p>You are viewing <span class="govuk-body govuk-!-font-weight-bold"> OS Map Sheet Reference SO3 </span> which has <span class="govuk-body govuk-!-font-weight-bold"> 30.4 </span> hectares over <span class="govuk-body govuk-!-font-weight-bold"> 15 </span> land parcels. </p>

      <p class="govuk-body"><a href="select-map" class="govuk-link">Select another OS map sheet reference</a></p>

      <p class="govuk-body"><a href="select-land" class="govuk-link">Hide list and show map instead</a></p>

<table class="govuk-table">
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Parcel number</th>
      <th scope="col" class="govuk-table__header">Hectares</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="select-land-parcel-1-list" class="govuk-link">SO3757 3158</th>
      <td class="govuk-table__cell">3.0404</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3159</th>
      <td class="govuk-table__cell">1.6620</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3160</th>
      <td class="govuk-table__cell">3.2940</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3161</th>
      <td class="govuk-table__cell">5.1519</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3162</th>
      <td class="govuk-table__cell">2.2310</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3163</th>
      <td class="govuk-table__cell">1.0122</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3164</th>
      <td class="govuk-table__cell">0.9788</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3165</th>
      <td class="govuk-table__cell">2.4568</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3166</th>
      <td class="govuk-table__cell">1.1548</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3167</th>
      <td class="govuk-table__cell">1.2247</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3168</th>
      <td class="govuk-table__cell">2.9864</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3169</th>
      <td class="govuk-table__cell">1.8854</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3170</th>
      <td class="govuk-table__cell">1.0145</td>
    </tr>
            <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3171</th>
      <td class="govuk-table__cell">1.8790</td>
    </tr>
                <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3172</th>
      <td class="govuk-table__cell">0.4061</td>
    </tr>

  </tbody>
</table>


    

<p class="govuk-body">If a land parcel is not shown, the land use codes declared are not eligible for the actions you’ve selected.</p>

<p class="govuk-body"><a href="https://www.gov.uk/guidance/what-land-is-eligible-for-an-sfi-agreement#how-we-define-eligible-land-types-and-features-for-sfi" class="govuk-link">You must check land types and features are eligible for actions.</a></p>
</div>

  <div class="govuk-grid-column-one-half">
  <h2 class="govuk-heading-m">Select actions to apply on land parcels</h2>
  <p>You have selected <span class="govuk-body govuk-!-font-weight-bold"> 0 </span> action(s) on<span class="govuk-body govuk-!-font-weight-bold"> 0 </span> land parcel(s).</p>


  <table class="govuk-table">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header app-custom-class"></th>
<th scope="col" class="govuk-table__header app-custom-class">Action</th>
<th scope="col" class="govuk-table__header app-custom-class">Available area</th>
<th scope="col" class="govuk-table__header app-custom-class">Quantity</th>
</tr>
 
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
    <td class="govuk-table__cell" colspan="4">
      <p style="text-align:center;" class="govuk-body">No land parcels selected</p> 
    </td>
  </tr>
  </tbody>
</table>

<p class="govuk-body">You have chosen a total of 30 actions. You can only see the actions that are eligible for the selected land parcel, <a href="select-actions" class="govuk-link">return to list to select actions</a>.</p>

<button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button">
  Update actions on land parcel
</button>

<button type="submit" disabled aria-disabled="true" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Confirm my selection
</button>

    </div>

  </div>

</main>
</div>
{% endblock %}
