@ -0,0 +1,555 @@
{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Iteration 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<!-- Header / Name and CTA -->

<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">

<div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Smith Farm Ltd <span class="govuk-caption-m">Single Business Identifier (SBI): 123456789</span></div>

  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
  </button>

</div>
</div>
</div>

<!-- Start of main body container -->

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Select land for your actions</h1>
  </div>
</div>

<!-- Left hand side container --->

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">


    <!-- Intro text--->

    <p>Now viewing grid reference SO3. This is made up of: </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>15 land parcels</li>
      <li>30.3780 hectares</li>
    </ul>

    <p class="govuk-body"><a href="select-map" class="govuk-link">View a different grid reference</a></p>


    <!-- Select land--->
  
    <h2 class="govuk-heading-m">Select a land parcel</h2>

      <p>Select the area on the map you want to add actions to. </p>
      <p>To save the actions you’ve added to a land parcel, select ‘update actions on land parcel’, and then ‘confirm my selection’.</p>
      <p>Repeat this for all the land parcels you want to add actions to.</p>


      <p class="govuk-body"><a href="select-land-parcel-1" class="govuk-link">Show land parcels on a map instead</a></p>


      <table class="govuk-table">
  
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Available land parcels</th>
            <th scope="col" class="govuk-table__header">Hectares</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">


        <!---Selected parcel---->
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3158</a>
              <hr style="height:2px;border-width:0;color:white;background-color:white">

              <details class="govuk-details" open>
              <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                    Check land use for this land parcel
              </span>
              </summary>
              <div class="govuk-details__text"> <span class="govuk-!-font-weight-bold">  Land use:</span>
              </div>
              <div class="govuk-details__text">
                  Permanent grassland: 1.5760 ha
              </div>
              <div class="govuk-details__text">
                  Arable crops: 1.1212 ha
              </div>
              <div class="govuk-details__text">
                  Temporary grassland: 0.1312 ha
              </div>
              <div class="govuk-details__text">
                  Non-agricultural: 0.2120 ha
              </div>
              <div class="govuk-details__text"> <span class="govuk-!-font-weight-bold">  Layer intersections:</span>
              </div>
              <div class="govuk-details__text">
                  Biodiversity, SSSI, LFA-MS
              </div>
              </details>

              </th>
              <td class="govuk-table__cell">3.0404</td>
          </tr>

          <!---PARCEL 2---> 
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="select-land-parcel-2-list" class="govuk-link">SO3757 3159</a></th>
            <td class="govuk-table__cell">1.6620</td>
          </tr>


          <!---OTHER PARCEL ROWS---> 
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3160</a></th>
            <td class="govuk-table__cell">3.2940</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3161</th>
            <td class="govuk-table__cell">5.1519</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3162</th>
            <td class="govuk-table__cell">2.2310</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3163</th>
            <td class="govuk-table__cell">1.0122</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3164</th>
            <td class="govuk-table__cell">0.9788</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3165</th>
            <td class="govuk-table__cell">2.4568</td>
          </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3166</th>
          <td class="govuk-table__cell">1.1548</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3167</th>
          <td class="govuk-table__cell">1.2247</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3168</th>
          <td class="govuk-table__cell">2.9864</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3169</th>
          <td class="govuk-table__cell">1.8854</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3170</th>
          <td class="govuk-table__cell">1.0145</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3171</th>
          <td class="govuk-table__cell">1.8790</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3172</th>
          <td class="govuk-table__cell">0.4061</td>
        </tr>

    </tbody>
</table>
</div>


 <!-- Right hand side container -->

<div class="govuk-grid-column-one-half">
  <h2 class="govuk-heading-m">Actions for parcel number SO3757 3158</h2>

  <p>You will only see actions that are compatible with the land parcel you have selected.</p>

  <p>You have selected 1 action on 1 land parcel.</p>

  <table class="govuk-table">
  
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header">Available area</th>          
          <th scope="col" class="govuk-table__header">Quantity</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

      <!---SELECTED----> 
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
            <label class="govuk-label govuk-checkboxes__label" for="waste"></label></div>
          </th>
          <td class="govuk-table__cell">CHRW1 – Assess and record hedgerow condition</td>
          <td class="govuk-table__cell">-</td>
          <td class="govuk-table__cell"><div class="govuk-form-group">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </div></td>
        </tr>


      <!---SELECTED----> 
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
            <label class="govuk-label govuk-checkboxes__label" for="waste"></label></div>
          </th>
          <td class="govuk-table__cell">SAM1 – Assess soil, test SOM and produce a soil management plan</td>
          <td class="govuk-table__cell">2.8284</td>
          <td class="govuk-table__cell"><div class="govuk-form-group">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">ha</div>
            </div>
          </div></td>
        </tr>


    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CMOR1 – Assess moorland and produce a written record</td>
           </th>
          <td class="govuk-table__cell">2.0045</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>


  <!---SELECTED----> 
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
            <label class="govuk-label govuk-checkboxes__label" for="waste"></label></div>
          </th>
          <td class="govuk-table__cell">SOH4 – Winter cover following maize crops</td>
          <td class="govuk-table__cell">1.3224</td>
          <td class="govuk-table__cell"><div class="govuk-form-group">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">ha</div>
            </div>
          </div></td>
        </tr>


    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">WBD2 – Manage ditches</td>
           </th>
          <td class="govuk-table__cell">1.5112</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">BND1 – Maintain dry stone walls</td>
           </th>
          <td class="govuk-table__cell">0.2550</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

       <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">BND2 – Maintain earth banks or stone-faced hedgebanks</td>
           </th>
          <td class="govuk-table__cell">0.3565</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>



      <!---SELECTED----> 
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
            <label class="govuk-label govuk-checkboxes__label" for="waste"></label></div>
          </th>
          <td class="govuk-table__cell">CAHL1 – Pollen and nectar flower mix</td>
          <td class="govuk-table__cell">2.8421</td>
          <td class="govuk-table__cell"><div class="govuk-form-group">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">ha</div>
            </div>
          </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CAHL2 – Winter bird food on arable and horticultural land</td>
           </th>
          <td class="govuk-table__cell">1.3345</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

                   <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">CAHL3 – Grassy field corners or blocks</td>
           </th>
          <td class="govuk-table__cell">1.2465</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

           <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW1 – Bumblebird mix</td>
           </th>
          <td class="govuk-table__cell">1.2478</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW2 – Supplementary winter bird food</td>
           </th>
          <td class="govuk-table__cell">1.3345</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW3 – Beetle banks</td>
           </th>
          <td class="govuk-table__cell">1.3352</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW4 – Skylark plots</td>
           </th>
          <td class="govuk-table__cell">0.4512</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">AHW5 – Nesting plots for lapwing</td>
           </th>
          <td class="govuk-table__cell">0.8715</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">SCR1 –  Create scrub and open habitat mosaics</td>
           </th>
          <td class="govuk-table__cell">1.2690</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>

                  <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
          </div>
          </th>
          <td class="govuk-table__cell">GRH11 –  Cattle grazing supplement (non-moorland)</td>
           </th>
          <td class="govuk-table__cell">1.2478</td>
           </th>
          <td class="govuk-table__cell">  <div class="govuk-form-group">
      <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
      </div>
      </div></td>
        </tr>
      </tbody>
    </table>


<form class="form" action="select-land-parcel-1-applied-list" method="post">
  <button type="submit" class="govuk-button" data-module="govuk-button">Update land parcel</button>
</form>

<form class="form" action="tasklist-6" method="post">
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and continue</button>
</form>

    </div>



</div>
</main>
</div>
{% endblock %}
