@ -0,0 +1,201 @@
{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI Iteration 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<!-- Header / Name and CTA -->

<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">

<div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Smith Farm Ltd <span class="govuk-caption-m">Single Business Identifier (SBI): 123456789</span></div>

  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
  </button>

</div>
</div>
</div>

<!-- Start of main body container -->

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Select land for your actions</h1>
  </div>
</div>

<!-- Left hand side container --->

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">


<!-- Intro text--->

    <p>Now viewing grid reference SO3. This is made up of: </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>15 land parcels</li>
      <li>30.3780 hectares</li>
    </ul>

    <p class="govuk-body"><a href="select-map" class="govuk-link">View a different grid reference</a></p>


    <!-- Select land--->
  
    <h2 class="govuk-heading-m">Select a land parcel</h2>

      <p>Select the area on the map you want to add actions to. </p>
      <p>To save the actions you’ve added to a land parcel, select ‘update actions on land parcel’, and then ‘confirm my selection’.</p>
      <p>Repeat this for all the land parcels you want to add actions to.</p>

      <p class="govuk-body"><a href="select-land" class="govuk-link">Show land parcels on a map instead</a></p>

    <!-- Table with land parcels -->

      <table class="govuk-table">
  
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Available land parcels</th>
            <th scope="col" class="govuk-table__header">Hectares</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="select-land-parcel-1-list" class="govuk-link">SO3757 3158</th>
            <td class="govuk-table__cell">3.0404</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="select-land-parcel-2-list" class="govuk-link">SO3757 3159</th>
            <td class="govuk-table__cell">1.6620</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="select-land-parcel-2-list" class="govuk-link">SO3757 3160</a></th>
            <td class="govuk-table__cell">3.2940</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3161</th>
            <td class="govuk-table__cell">5.1519</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3162</th>
            <td class="govuk-table__cell">2.2310</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3163</th>
            <td class="govuk-table__cell">1.0122</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3164</th>
            <td class="govuk-table__cell">0.9788</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3165</th>
            <td class="govuk-table__cell">2.4568</td>
          </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3166</th>
          <td class="govuk-table__cell">1.1548</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3167</th>
          <td class="govuk-table__cell">1.2247</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3168</th>
          <td class="govuk-table__cell">2.9864</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3169</th>
          <td class="govuk-table__cell">1.8854</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3170</th>
          <td class="govuk-table__cell">1.0145</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3171</th>
          <td class="govuk-table__cell">1.8790</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> <a href="#" class="govuk-link">SO3757 3172</th>
          <td class="govuk-table__cell">0.4061</td>
        </tr>

    </tbody>
</table>
</div>

<!-- Right hand side container -->

   <div class="govuk-grid-column-one-half">
  <h2 class="govuk-heading-m">Actions</h2>

  <p>You will only see actions that are compatible with the land parcel you have selected.</p>

  <p>You have selected 0 actions on 0 land parcels.</p>

  <table class="govuk-table">
      <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class"></th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
      <th scope="col" class="govuk-table__header app-custom-class">Available area</th>
      <th scope="col" class="govuk-table__header app-custom-class">Quantity</th>
      </tr>
 
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
    <td class="govuk-table__cell" colspan="4">
      <p style="text-align:left;" class="govuk-body">Select a land parcel to see your actions</p> 
    </td>
  </tr>
  </tbody>
</table>

<button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button">
  Update land parcel
</button>

<div>
<button type="submit" disabled aria-disabled="true" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and continue
</button>
</div>

</div>



</div>
</main>
</div>
{% endblock %}
