{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-1">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
</div>
  
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Accept your Agreement Offer
<span class="govuk-caption-xl">JASMINE SMITH</span></h1>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-column-two-thirds">
<p class="govuk-body">By accepting this Sustainable Farming Incentive (SFI) Agreement Offer you are entering into the Agreement. Your SFI Agreement comprises:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the Agreement Document</li>
  <li>the relevant SFI Agreement Terms and Conditions</li>
  <li>the Actions you have selected</li>
</ul>

<p class="govuk-body">By entering the Agreement, you confirm that:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>you will comply with the obligations under the Agreement</li>
  <li>the declarations you made in your SFI application remain true and accurate to the best of your knowledge and belief</li>
  <li>you are not aware of any circumstances which would render you ineligible or otherwise prevent you from complying with your obligations under the Agreement</li>
  <li>your obligations under the Agreement do not and will not conflict in whole or in part with any other legal or contractual obligations you are subject to</li>
  <li>you will at all times comply with all relevant Law (as defined in the relevant SFI Agreement Terms and Conditions) in the performance of your obligations under the Agreement</li>
</ul>

<div class="govuk-checkboxes" data-module="govuk-checkboxes">
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
    <label class="govuk-label govuk-checkboxes__label" for="waste">
      I confirm I have read the above and accept this Agreement Offer
    </label>
  </div>
</div>
<br> <br>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Accept
</button>
</div>

{% endblock %}
