{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

  <div class="govuk-!-margin-bottom-1">
    {{ govukBackLink({
      text: "Back to Business overview",
      href: "business-overview"
    }) }}
  </div>

  <div class="govuk-!-margin-bottom-1">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
</div>

{% endblock %}

{% block content %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row" id="header" style="padding-top:16px;">
  
  <!-- LEFT COLUMN (HEADING + SBI) -->
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Smith Farm Ltd</h3>
    <p class="govuk-hint sbi-number govuk-!-margin-bottom-0">
      Single Business Identifier (SBI): 123456789
    </p>
  </div>

  <!-- RIGHT COLUMN (SECONDARY BUTTON) -->
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <a href="/sfi-26-testing/saved-application"
    class="govuk-button govuk-button--secondary govuk-!-margin-top-2"
    role="button"
    data-module="govuk-button">
    Save and return later
  </a>
  </div>

</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application submitted
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>
        <div class="govuk-!-padding-bottom-3"></div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          Thank you for submitting your SFI application.
        </p>
        <p class="govuk-body">
          We will notify you when your SFI agreement offer is available for you to check in the Rural Payments service.
        </p>
        <h2 class="govuk-heading-m">Request a SFI Historic Environment Farm Environment Record (HEFER)</h2>
        <p class="govuk-body">
         You’ve applied for SFI actions on land with historic or archaeological features. This means you must request an SFI HEFER from Historic England before you do your SFI actions on this land. Read the SFI26 scheme information on 
        <a class="govuk-body"><a href="#" class="govuk-link">what a SFI HEFER is and how to get one</a></p>
        <h2 class="govuk-heading-m">Get site of special scientific interest (SSSI) consent</h2>
       <p>
         You've applied for actions or items on land that's a site of special scientific interest. Once you've received and accepted your agreement offer, you must get SSSI consent from Natural England before you start your selected actions or items on this land. Read the guidance on <a class="govuk-link" class="govuk-link">SSSI consent and how to get it</a>.</p>
        <div class="govuk-!-padding-bottom-2"></div>
        <form class="form" action="dashboard-after-application" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Close
          </button>
        </form>
        
      </div>
    </div>

{% endblock %}
