{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

  <div class="govuk-!-margin-bottom-1">
    {{ govukBackLink({
      text: "Back to Business overview",
      href: "business-overview"
    }) }}
  </div>

{% endblock %}

{% block content %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row" id="header" style="padding-top:16px;">
  
  <!-- LEFT COLUMN (HEADING + SBI) -->
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Smith Farm Ltd</h3>
    <p class="govuk-hint sbi-number govuk-!-margin-bottom-0">
      Single Business Identifier (SBI): 123456789
    </p>
    <br>
  </div>

</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<br>

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<h1 class="govuk-heading-l">Applications and agreements</h1>

    <table class="govuk-table">
    <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Agreement name</th>
      <th scope="col" class="govuk-table__header">Agreement number</th>
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Submit date</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1234567</td>
      <td class="govuk-table__cell">SFI</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">Application submitted</td>
      <td class="govuk-table__cell">

        <form class="form" action="application-documents" method="post">
          <button type="submit" action="" class="govuk-button govuk-button--secondary" data-module="govuk-button" >Application documents</button></form>


      </td>
    </tr>
    </tr>
 </tbody>
</table>



</div>
</div>

</main>
</div>

{% endblock %}
