{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-1">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
</div>
  
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Reject Agreement Offer
<span class="govuk-caption-xl">JASMINE SMITH</span></h1>

<div class="govuk-form-group">
  <div id="more-detail-hint" class="govuk-hint">
    Tell us why you do not want to accept this offer
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
   Save
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Clear
  </button>
</div>
</div>



{% endblock %}
