{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  <div class="govuk-!-margin-bottom-1">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
</div>
  
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Why are you rejecting this agreement offer?
<span class="govuk-caption-xl">JASMINE SMITH</span></h1>
  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
    <div id="with-hint-hint" class="govuk-hint">
     Tell us why you do not want to accept this agreement offer using at least 10 characters
    </div>
    <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
    <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
      You can enter up to 100 characters
    </div>
  </div>

<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
   Save
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Clear
  </button>
</div>
</div>



{% endblock %}
