{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFI – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

  <div class="govuk-!-margin-bottom-1">
    {{ govukBackLink({
      text: "Back to Business overview",
      href: "business-overview"
    }) }}
  </div>

  <div class="govuk-!-margin-bottom-1">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
</div>

{% endblock %}

{% block content %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-grid-row" id="header" style="padding-top:16px;">
  
  <!-- LEFT COLUMN (HEADING + SBI) -->
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Smith Farm Ltd</h3>
    <p class="govuk-hint sbi-number govuk-!-margin-bottom-0">
      Single Business Identifier (SBI): 123456789
    </p>
  </div>

  <!-- RIGHT COLUMN (SECONDARY BUTTON) -->
  <div class="govuk-grid-column-one-third govuk-!-text-align-right">
    <a href="/sfi-26-testing/saved-application"
    class="govuk-button govuk-button--secondary govuk-!-margin-top-2"
    role="button"
    data-module="govuk-button">
    Save and return later
  </a>
  </div>


</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <br>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-l">Select land for your actions</h1>
<p class="govuk-body">Select a land parcel in the table or the map to see your actions. </p>
<p class="govuk-body">You then need to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>select the action</li>
  <li>enter the quantity you want to add to the parcel</li>
</ul>
<p class="govuk-body">Select 'Save' when you have added your actions to the parcel. Repeat for each parcel. When you have finished, select 'Continue'.</p>


<hr class="section-break-large"></hr>
      <table class="govuk-table">
<p class="govuk-body">OS Map Sheet Reference S03</p>
<hr class="govuk-section-break govuk-section-break--visible">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Number of available land parcels</td>
      <td class="govuk-table__cell ">20</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total area in hectares</td>
      <td class="govuk-table__cell ">120.3451</td>
    </tr>
    <tr class="govuk-table__row">
     <td class="govuk-table__cell">Number of land parcels used for actions</td>
      <td class="govuk-table__cell ">0</td>
    </tr>
        <tr class="govuk-table__row">
    <td class="govuk-table__cell">Number of actions applied for</td>
      <td class="govuk-table__cell ">0</td>
    </tr>
  </tbody>
</table>

  <table class="govuk-table">
  <tbody class="govuk-table__body">
   

   <tr class="govuk-table__row" style="white-space: nowrap;">
     <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="select-land-parcel-1" class="govuk-link">SO3757 3158</a>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body">Total area: 32.0404 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
      <p><span id="applied-text" class="applied hidden"><i class="govuk-body">Applied</i></span></p>
    </td>
    </tr>

<td class="govuk-table__cell table-space" style="border-bottom-color: white;" colspan="4">
<p class="govuk-body"><span class="govuk-caption-m">Land use: PERMANENT GRASSLAND: 1.5760 ha, ARABLE CROPS: 1.1212 ha, TEMPORARY GRASSLAND: 0.1312 ha, NON-AGRICULTURAL: 0.2120 ha
Layer Intersections: BIODIVERSITY, SSSI, LFA-MS</span></p>
</td>

    <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="select-land-parcel-2" class="govuk-link">SO3757 3159</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body">Total area: 31.4241 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>

    <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3160</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body">Total area: 1.4935 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>

 <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3161</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 10.3492 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
    <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3162</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 42.4324 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
     <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3163</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 9.9754 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
       <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3164</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 32.1239 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
       <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3165</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 38.2931 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
   <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3166</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 28.3482 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
      <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3167</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 39.2931 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
          <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3168</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 53.2131 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
            <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3169</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 12.4392 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
            <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3170</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 29.3291 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
         <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3171</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 13.2339 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
         <tr class="govuk-table__row" >
      <td class="govuk-table__cell table-space">
        <p class="govuk-body"><a href="#" class="govuk-link">SO3757 3172</a>
    </td>
     <td class="govuk-table__cell table-space">
        <p class="govuk-body ">Total area: 11.4234 ha</p>
    </td>
    <td class="govuk-table__cell table-space">
        <p class="govuk-body"></p>
    </td>
    </tr>
      
  </tbody>
</table>

 <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
    <div class="govuk-pagination__prev govuk-pagination__next">
    <p class="govuk-body">Showing <span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">15</span> of <span class="govuk-!-font-weight-bold">15</span> parcels</p></div>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
    </a>
  </div>
</nav> 
    </div>

  <div class="govuk-grid-column-one-half">
    <p class="govuk-body" style="text-align: center;"><a href="#" class="govuk-link">Hide map</a></p>
    
    <map name="clickable">
        <area shape="rect" coords="100,280,190,320" href="select-land-parcel-1">
        <area shape="rect" coords="150,220,240,280" href="select-land-parcel-2">
                  </map>
<img id="map-default"
     usemap="#clickable"
     src="https://raw.githubusercontent.com/defra-design/fcp-combined-offer/d5bf2d21ba9eace32fe5e632290540c479743fdc/app/views/e2e-mvp/img/map_3.png"
     alt="Map of your land"
     style="width:465px;height:400px;">

<img id="map-applied"
     class="hidden"
     usemap="#clickable"
     src="https://github.com/defra-design/fcp-combined-offer/blob/d5bf2d21ba9eace32fe5e632290540c479743fdc/app/views/e2e-mvp/img/map_5.png?raw=true"
     alt="Map of your land after applying actions"
     style="width:465px;height:400px;">

       <p class="govuk-body">Key:</p>
       <div class="key-div govuk-!-margin-bottom-5">
       <div class="key-parent" id="key1"></div><span class="govuk-body-s">Error</span>
       <div class="key-parent" id="key2"></div><span class="govuk-body-s">Selected</span>
       <div class="key-parent" id="key3"></div><span class="govuk-body-s">Not Applied</span>
       <div class="key-parent" id="key4"></div><span class="govuk-body-s">Applied</span>
     </div>

     <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Your available actions for selected land parcel</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Select action</td>
      <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell">Available area</td>
      <td class="govuk-table__cell">Quantity</td>
    </tr>
    
     <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Your available actions for selected land parcel</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Select action</td>
      <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell">Available area</td>
      <td class="govuk-table__cell">Quantity</td>
    </tr>
   <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">CHRW2 - Manage hedgerows</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
        </td>
    </tr>
      
  <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">CIGL2 - Winter bird food on improved grassland</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
               <div class="govuk-form-group">
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </td>
    </tr>

      <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell"> GRH10 - Supplement: Lenient grazing</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </td>
    </tr>

      <tr class="govuk-table__row">
      <td class="govuk-table__cell"><div class="govuk-checkboxes__item series-selector-items">
          <input class="govuk-checkboxes__input" id="filter-type-B" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="filter-type-B">
          </label>
        </div></td>
      <td class="govuk-table__cell">CNUM2 - Legumes on improved grassland</td>
      <td class="govuk-table__cell">3.9971</td>
      <td class="govuk-table__cell"><div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

 <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
    <div class="govuk-pagination__prev govuk-pagination__next">
    <p class="govuk-body">Showing <span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">4</span> of <span class="govuk-!-font-weight-bold">4</span> actions</p></div>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
    </a>
  </div>
</nav> 

<div class="govuk-!-margin-top-1">
  <form class="form" action="" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
      Save
    </button>
  </form>
</div>


<div class="govuk-!-margin-top-1">
  <form class="form" action="select-map" method="post">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Continue
    </button>
  </form>
</div>

</nav>
    </div>

  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const saveButton = document.querySelector("button.govuk-button--primary");
    const appliedText = document.getElementById("applied-text");

    // Map images
    const mapDefault = document.getElementById("map-default");
    const mapApplied = document.getElementById("map-applied");

    saveButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent PrototypeKit form submission

      // Show "Applied"
      appliedText.classList.remove("hidden");

      // Swap maps
      mapDefault.classList.add("hidden");
      mapApplied.classList.remove("hidden");
    });
  });
</script>

{% endblock %}



<style>
  .hidden {
    display: none;
  }
</style>