

{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs HT V2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <form class="form" action="saved" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" 
            style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="eligibility-bps-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you approve this application?
                  </h1>
              </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Yes
                  </label>
                </div>
                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                    No, needs amendments
                  </label>
                   <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
Select if the applicant should update their actions or items with your changes and resubmit.</div>
                </div>
                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                    No, reject application
                  </label>
                </div>
          </fieldset>

      </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="eligibility-bps-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                    Has a peer reviewed your decision?
                  </h2>
              </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Name of reviewer
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
    </div>
          </fieldset>
      </div>

      <h2 class="govuk-heading-m">Decisions from other advisers</h2>
          <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Organisation</th>
      <th scope="col" class="govuk-table__header">Adviser</th>
            <th scope="col" class="govuk-table__header">Approved</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Forestry Commission</th>
      <td class="govuk-table__cell">Mary Poppins</td>
            <td class="govuk-table__cell">No, reject application</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Historic England</th>
      <td class="govuk-table__cell">Tom Rogers</td>
            <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
</table>

</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h3 class="govuk-heading-m">General application feedback</h3>
     
      <p class="govuk-body">Your feedback should explain how you reached your decision.</p>
            <p class="govuk-body">You can view feedback from the advisers who have also checked this application.</p>
      
    <p class="govuk-body govuk-body govuk-!-margin-bottom-6">
    <a href="approval-feedback" class="govuk-link govuk-link--no-visited-state">Add or view feedback</a></p>

<button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button">
Submit</button>

        </div>
      </div>

</main>
</div>

{% endblock %}

