{% extends "layouts/main.html" %}

{% block pageTitle %}
  Design B – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full">
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title">Jasmine Smith</div>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
</button>
</div>
</div>
</div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

    <div class="govuk-grid-row govuk-!-margin-bottom-8">
      <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l" id="sfi">
Check your answers before sending your application</h1>
<ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">Print</a></li>
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">Download</a></li>
      </ul>
      </div>
    </div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<h2 class="govuk-heading-m" id="details">
        Your details
      </h2>
   <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Business
    </dt>
    <dd class="govuk-summary-list__value">
JASMINE SMITH FARM<br>
Rainbow Farm<br>
High Street<br>
Rhydlewis<br>
Ellesmere<br>
PO30 1NY
</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Single Business Identifier (SBI)
    </dt>
    <dd class="govuk-summary-list__value">
      123456789
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Land details
    </dt>
    <dd class="govuk-summary-list__value">
      Up to date
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> land details</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Agreement name
    </dt>
    <dd class="govuk-summary-list__value">
Jasmine’s Farm SFI 2023
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> agreement name</span></a>
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m" id="eligibility">
        Eligibility
      </h2>
   <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Will you have management control of the land in your application?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Do you have a Historic Environmental Farm Environment Record (HEFER)?
    </dt>
    <dd class="govuk-summary-list__value">
      You have understood and accepted the terms
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sites of special scientific interest (SSSIs)
    </dt>
    <dd class="govuk-summary-list__value">
      Based on your selected actions, you don’t need to request one
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Land owned by a public body 
    </dt>
    <dd class="govuk-summary-list__value">
    You have understood and accepted the terms
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Inheritance tax exemptions 
    </dt>
    <dd class="govuk-summary-list__value">
    Not applicable
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m" id="eligibility">
        Summary of actions
      </h2>
   <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Actions selected
    </dt>
    <dd class="govuk-summary-list__value">
      30 actions, 15 SFI and 15 higher tier
    </dd>
       <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Land parcels
    </dt>
    <dd class="govuk-summary-list__value">
      15 parcels over 402.34 hectares
    </dd>
       <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Request support
    </dt>
    <dd class="govuk-summary-list__value">
    You have received support
    </dd>
  </div>
</dl>

<div class="govuk-summary-card" id="payment">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Indicative payment amount</h2>
  </div>
  <div class="govuk-summary-card__content">
    <p class="govuk-body"><a class="govuk-link" href="#">Open in a separate page</a></p>
     <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Action name</th>
      <th scope="col" class="govuk-table__header">Payment rate</th>
      <th scope="col" class="govuk-table__header">Indicative annual payment</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">HRW1: Assess and record hedgerow condition</td>
      <td class="govuk-table__cell">£3 per 100 metres – one side</td>
      <td class="govuk-table__cell">£206</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">HRW2: Manage hedgerows</td>
      <td class="govuk-table__cell">£10 per 100 metres – one side</td>
      <td class="govuk-table__cell">£120</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">HRW3: Maintain or establish hedgerow trees</td>
      <td class="govuk-table__cell">£3 per 100 metres – one side</td>
      <td class="govuk-table__cell">£50</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">IGL2: Winter bird food on improved grassland</td>
      <td class="govuk-table__cell">£474 per hectare</td>
      <td class="govuk-table__cell">£1422/td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">IPM1: Assess integrated pest management and produce a plan</td>
      <td class="govuk-table__cell">£989 per year</td>
      <td class="govuk-table__cell">£989</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">IPM2: Flower-rich grass margins, blocks, or in-field strips</td>
      <td class="govuk-table__cell">£673 per hectare</td>
      <td class="govuk-table__cell">£2420</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">IPM3: Companion crop on arable and horticultural land</td>
      <td class="govuk-table__cell">£590 per hectare</td>
      <td class="govuk-table__cell">£2950</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">IPM4: No use of insecticide on arable crops and permanent crops</td>
      <td class="govuk-table__cell">£45 per hectare</td>
      <td class="govuk-table__cell">£135</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">LIG2: Manage grassland with very low nutrient inputs (SDAs)</td>
      <td class="govuk-table__cell">£151 per hectare</td>
      <td class="govuk-table__cell">£755</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">MOR1:  Assess moorland and produce a written record</td>
      <td class="govuk-table__cell">£10.30 per hectare and an additional payment of £265 per agreement</td>
      <td class="govuk-table__cell">£316.5</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">NUM1 – Assess nutrient management and produce a review report</td>
      <td class="govuk-table__cell">£589 per year</td>
      <td class="govuk-table__cell">£589</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">NUM2: Legumes on improved grassland</td>
      <td class="govuk-table__cell">£102 per hectare</td>
      <td class="govuk-table__cell">£306</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">NUM3: Legume fallow</td>
      <td class="govuk-table__cell">£593 per hectare</td>
      <td class="govuk-table__cell">£2965</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">SAM1: Assess soil, test soil organic matter and produce a plan</td>
      <td class="govuk-table__cell">£5.80 per hectare and an additional payment of £95 per agreement</td>
      <td class="govuk-table__cell">£153</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">SAM2: Multi-species winter crops</td>
      <td class="govuk-table__cell">£129 per hectare</td>
      <td class="govuk-table__cell">£774</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">AB1: Nectar flower mix</td>
      <td class="govuk-table__cell">£614 per hectare</td>
      <td class="govuk-table__cell">£4912</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">AB3: Beetle banks</td>
      <td class="govuk-table__cell">£667 per hectare</td>
      <td class="govuk-table__cell">£2001</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">AB7: Whole crop cereals</td>
      <td class="govuk-table__cell">£584 per hectare</td>
      <td class="govuk-table__cell">£1168</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">AB15: Two year sown legume fallow</td>
      <td class="govuk-table__cell">£593 per hectare</td>
      <td class="govuk-table__cell">£4744</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">BE4: Management of traditional orchards</td>
      <td class="govuk-table__cell">£264 per hectare</td>
      <td class="govuk-table__cell">£528</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">BE5: Creation of traditional orchards</td>
      <td class="govuk-table__cell">£373 per hectare</td>
      <td class="govuk-table__cell">£746</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">BE6: Veteran tree surgery</td>
      <td class="govuk-table__cell">£379 for each veteran tree</td>
      <td class="govuk-table__cell">£2274</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">GS4: Legume and herb-rich swards</td>
      <td class="govuk-table__cell">£382 per hectare</td>
      <td class="govuk-table__cell">£1146</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">ED1: Educational access</td>
      <td class="govuk-table__cell">£318 per visit</td>
      <td class="govuk-table__cell">£318</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">HS5: Management of historic and archaeological features on grassland</td>
      <td class="govuk-table__cell">£44 per hectare</td>
      <td class="govuk-table__cell">£88</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">SW7: Arable reversion to grassland with low fertiliser input</td>
      <td class="govuk-table__cell">£326 per hectare</td>
      <td class="govuk-table__cell">£1956</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">WD1: Woodland creation - maintenance payments</td>
      <td class="govuk-table__cell">£350 per hectare</td>
      <td class="govuk-table__cell">£1050</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">WD4: Management of lowland wood pasture and parkland</td>
      <td class="govuk-table__cell">£212 per hectare</td>
      <td class="govuk-table__cell">£424</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">WD8: Creation of successional areas and scrub</td>
      <td class="govuk-table__cell">£149 per hectare</td>
      <td class="govuk-table__cell">£447</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"><p class="govuk-!-font-weight-bold">Total</p></td>
      <td class="govuk-table__cell"><p class="govuk-!-font-weight-bold">£33,556.5</p></td>
    </tr>
  </tbody>
</table>
</div>
</div>

  <form class="form" action="#" method="post">
  <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
    Confirm
  </button>
</form>
</div>
</div>

<p class="govuk-body"><a class="govuk-link" href="#header">Back to top</a></p>

</main>
</div>

{% endblock %}
