{% extends "layouts/main.html" %}

{% block pageTitle %}
  E2E SFI MVP – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="header">
<div class="govuk-grid-column-full govuk-!-margin-bottom-5">
<div class="moj-organisation-nav" aria-label="Organisation switcher">
<div class="moj-organisation-nav__title govuk-!-margin-bottom-5">Jasmine Smith</div>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and return later
</button>
</div>
</div>
</div>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>
        <h2 class="govuk-heading-m">Thank you for submitting your application</h2>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We’ll email you when your agreement offer is available in the Rural Payments service to check.
        </p>
        <p class="govuk-body">
         Your agreement cannot start until you sign it in the Rural Payments service.
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
        <form class="form" action="dashboard-after-application" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Go back to dashboard
          </button>
        </form>
        
      </div>
    </div>

</main>
</div>
{% endblock %}
