{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}
    <br>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">
            Single Business Identifier (SBI): 123456789<br>Claim number: 123456789
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
        </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Check your answers before submitting your claim​</h1>
    <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" class="govuk-link">Print</a></p>
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-button-group">
        
        <form class="form" action="check-your-answers-load" method="post">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Confirm </button>
        </form>

        <form class="form" action="tasklist-8" method="post">
          <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button" disabled>            
            Save and continue </button>
        </form>

    </div>
  </div>



  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l" id="details">
            Your details
    </h2>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Business
        </dt>
        <dd class="govuk-summary-list__value">
          JASMINE SMITH FARM<br>
          Rainbow Farm<br>
          High Street<br>
          Rhydlewis<br>
          Ellesmere<br>
          PO30 1NY
          </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single Business Identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          123456789
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement number
        </dt>
        <dd class="govuk-summary-list__value">
          1237477
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4" id="capital-items">
      Your capital item claims
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          Standard cost items
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="standard-cost-items-saved">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          BN12 - Stone wall restoration
        </dt>
        <dd class="govuk-summary-list__value">
          65 m
        </dd>
        <dd class="govuk-summary-list__value">
          £1,625.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          BN13 - Stone wall - top wiring
        </dt>
        <dd class="govuk-summary-list__value">
          1500 m
        </dd>
        <dd class="govuk-summary-list__value">
          £2,725.00
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FG2: Sheep netting
        </dt>
        <dd class="govuk-summary-list__value">
          1500 m
        </dd>
        <dd class="govuk-summary-list__value">
          £1,080.00
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FG5: Fencing supplement - difficult sites
        </dt>
        <dd class="govuk-summary-list__value">
          2000 m
        </dd>
        <dd class="govuk-summary-list__value">
          £1,285.85
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FG9: Deer fencing
        </dt>
        <dd class="govuk-summary-list__value">
          2000 m
        </dd>
        <dd class="govuk-summary-list__value">
          £1,285.85
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FG12 - Wooden field gate
        </dt>
        <dd class="govuk-summary-list__value">
          2500 m
        </dd>
        <dd class="govuk-summary-list__value">
          £2,387.56
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FG16: Deer pedestrian gate
        </dt>
        <dd class="govuk-summary-list__value">
          6 units
        </dd>
        <dd class="govuk-summary-list__value">
          £1,200.60
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FG17: Deer high seat / unit
        </dt>
        <dd class="govuk-summary-list__value">
          6 units
        </dd>
        <dd class="govuk-summary-list__value">
          £1,200.60
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FG12 - Wooden field gate
        </dt>
        <dd class="govuk-summary-list__value">
          3 units
        </dd>
        <dd class="govuk-summary-list__value">
          £750.00
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FY1: Deer high seat / unit
        </dt>
        <dd class="govuk-summary-list__value">
          3 units
        </dd>
        <dd class="govuk-summary-list__value">
          £632.10
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          RP3: Watercourse crossings
        </dt>
        <dd class="govuk-summary-list__value">
          3 units
        </dd>
        <dd class="govuk-summary-list__value">
          £939.39
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          RP12: Check dams
        </dt>
        <dd class="govuk-summary-list__value">
          1 units
        </dd>
        <dd class="govuk-summary-list__value">
          £589.34
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          RP16: Rainwater goods
        </dt>
        <dd class="govuk-summary-list__value">
          652 m
        </dd>
        <dd class="govuk-summary-list__value">
          £1,587.54
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          SB6: Rhododendron control
        </dt>
        <dd class="govuk-summary-list__value">
          894 m
        </dd>
        <dd class="govuk-summary-list__value">
          £2,549.58
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Standard cost items total
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £19,720.51
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          Actual cost items
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="actual-cost-items-saved">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FM1: Management of geodiversity features
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £1,000.84
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          FM2: Major preparatory works for priority habitats (creation and restoration) and priority species
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £2,508.89
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          HE1: Historic and archaeological feature protection
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £898.25
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          LV2: Livestock handling facilities
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £2,578.59
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          RP8: Constructed wetlands for the treatment of pollution
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £506.37
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          SB2: Scrub control difficult sites
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £936.45
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          WN7: Restoration of large water bodies
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          £1,803.91
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Actual cost items total
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
        <dd class="govuk-summary-list__value">
          £2,573.00
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 390px;">
          Claims total
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
        <dd class="govuk-summary-list__value">
          £29,953.81
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-6" id="declarations">
      Declarations
    </h2>


    <!--- PROOF OF COST -->
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          Proof of cost
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="proof-cost">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Have you sent receipts or receipted invoices to support this claim to the RPA?
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value"> 
          <p class="govuk-body">YES</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Have you sent any extra evidence to support your claim?
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">NO
        </dd>
      </div>
    </dl>

    <!--- VAT -->
    <dl class="govuk-summary-list govuk-!-margin-top-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          VAT declaration
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="proof-cost">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Are you VAT registered?
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">YES
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">VAT declaration for actual cost items
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">NA
        </dd>
      </div>
      </dl>


  <h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-6" id="additional">
      Additional details for your claim
    </h2>

<!--- PUBLIC FUNDING -->
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;">
          Have you received other public funding or grants?
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value"> NO
        </dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="public-funding">Change<span class="govuk-visually-hidden"> answer</span></a>
        </dd>
      </div>

      <!-- LATE CLAIMS -->
      <div class="govuk-summary-list__row">
        
        <dt class="govuk-summary-list__key govuk-heading-s" style="width: 390px;"> 
          Final claims
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value" style="width: 390px; white-space: nowrap;"> 
          <p class="govuk-body">YES <br> <br>
            BN12: Stone wall restoration - SD3578 7755 <br>
            BN13: Stone wall - top wiring - SD3578 7755 <br>
            FG2: Sheep netting - SD3578 7755 <br>
            FG9: Deer fencing - SD3578 7755 <br>
            FG12:Wooden field gate - SD3578 7755 <br>
            FG17: D...</p>
            <a href="#"class="govuk-link">Show more</a>
        </dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="final-claims">Change<span class="govuk-visually-hidden"> final claims</span></a>
        </dd>
      
      </div>

    </dl>

</div>
</div>



{% endblock %}
