{% extends "layouts/main.html" %}

{% block pageTitle %}
  Capital Claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back to Business overview",
    href: "business-overview"
  }) }}
    <br>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Holmeland Farm</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">
            Single Business Identifier (SBI): 123456789<br>Claim number: 123456789
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <form class="form" action="saved-application" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
        </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-2">BN12: Stone wall restoration</h1>

    <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      If any of the numbers are incorrect, <a href="https://www.gov.uk/government/organisations/rural-payments-agency" target="_blank" class="govuk-link">contact the RPA</a> before you go any further.
    </p>

</div>


<div class="govuk-grid-column-full">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" style="width: 120px;">Parcel number</th>
        <th scope="col" class="govuk-table__header" style="width: 100px;">Payment rate</th>
        <th scope="col" class="govuk-table__header" style="width: 100px;">Amount</th>
        <th scope="col" class="govuk-table__header" style="width: 100px;">Amount remaining</th>
        <th scope="col" class="govuk-table__header" style="width: 100px;">Grant remaining</th>
        <th scope="col" class="govuk-table__header" style="width: 100px;">Deadline to submit a claim</th>
        <th scope="col" class="govuk-table__header" style="width: 100px;">Amount to claim for</th>
        <th scope="col" class="govuk-table__header" style="width: 60px;">Select if final claim</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3578 7755</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">40 metres</td>
          <td class="govuk-table__cell">40 metres</td>
          <td class="govuk-table__cell">£1,000.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3678 3059</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">20 metres</td>
          <td class="govuk-table__cell">20 metres</td>
          <td class="govuk-table__cell">£500.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3678 5354</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">30 metres</td>
          <td class="govuk-table__cell">30 metres</td>
          <td class="govuk-table__cell">£750.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3678 5801</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">10 metres</td>
          <td class="govuk-table__cell">10 metres</td>
          <td class="govuk-table__cell">£250.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3679 9120</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">10 metres</td>
          <td class="govuk-table__cell">10 metres</td>
          <td class="govuk-table__cell">£250.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3679 9120</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">10 metres</td>
          <td class="govuk-table__cell">10 metres</td>
          <td class="govuk-table__cell">£250.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3679 1099</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">15 metres</td>
          <td class="govuk-table__cell">15 metres</td>
          <td class="govuk-table__cell">£375.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3679 0512</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">20 metres</td>
          <td class="govuk-table__cell">20 metres</td>
          <td class="govuk-table__cell">£500.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3778 0875</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">35 metres</td>
          <td class="govuk-table__cell">35 metres</td>
          <td class="govuk-table__cell">£875.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SD3778 4391</td>
          <td class="govuk-table__cell">£25.00 per metre</td>
          <td class="govuk-table__cell">35 metres</td>
          <td class="govuk-table__cell">35 metres</td>
          <td class="govuk-table__cell">£875.00</td>
          <td class="govuk-table__cell">31/12/2025</td>
          <td class="govuk-table__cell">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-3" id="weight" name="weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">m</div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small center-checkbox" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label"></label>
              </div>
            </div>
          </td>
        </tr>

              <!---Total -->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell" colspan="2" style="text-align: right;"><strong>Total claimed amount</strong></td>
          <td class="govuk-table__cell">
            £0.00
          </td>
          <td class="govuk-table__cell"></td>
        </tr>

      </tbody>
    </table>

    <nav class="moj-pagination govuk-!-margin-bottom-6" aria-label="Pagination navigation">
      <ul class="moj-pagination__list">
        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 4" aria-current="page" style="visibility: hidden;">1</li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2 of 4"style="visibility: hidden;">2</a></li>
        <li class="moj-pagination__item moj-pagination__item--dots"style="visibility: hidden;">…</li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 4 of 4"style="visibility: hidden;">4</a></li>
        <li class="moj-pagination__item">
          <a class="govuk-link govuk-link--no-visited-state" href="" rel="next" style="font-weight: 700;"><!----Insert word Next here to add Next link-----> </a><span class="govuk-visually-hidden">Next page</span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13"style="visibility: hidden;">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          </a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>10</b> results</p>
    </nav>





    <form class="form" action="standard-cost-bn12-error" method="post">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
  </form>




</div>
</div>






{% endblock %}
