{% extends "layouts/main.html" %}

{% block pageTitle %}
  ALBs V1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing purposes only.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-grid-row" id="header" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Smith Farm Ltd</h3>
          <p class="govuk-hint sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
        </div>
        <div class="govuk-grid-column-one-third">
           <form class="form" action="saved" method="post">
            <button type="submit" class="govuk-button govuk-button--secondary" 
            style="float:right; margin-bottom: 8px;"data-module="govuk-button">
              Save and return later
            </button>
          </form>
   </div>
    </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}

{% block content %}
  
<div class="govuk-width-container">
<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Review actions and capital items</h1>

<details class="govuk-details govuk-!-padding-bottom-4">
  <summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
  To approve or reject an action or item</span>
  </summary>
  <div class="govuk-details__text">
  <p class="govuk-body">
    1. Select the checkbox next to the action or item.<br>
    2. Select the ‘Approve’ or ‘Reject’ button to record your decision.</p>
</details>

<details class="govuk-details govuk-!-padding-bottom-4">
  <summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
  When you need to provide feedback</span>
  </summary>
  <div class="govuk-details__text">
  <p class="govuk-body">
    • If you reject an action or item<br>
    • If the applicant has removed an action or an item</br>
</details>

  <p class="govuk-body">
  To provide feedback, or review a specific land parcel for an action or item, select ‘Review’ next to the action or item.<br>
  <br>
  You may not be able to review some actions or items if they are the responsibility of a different adviser. You can leave these without a review.</br>
  </p>  
  </div>
  </div>  
  </div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-button-group" id="action-menu">
 <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"  href="javascript:void(0);" id="approve-action" >
    Approve
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="javascript:void(0);" id="reject-action">
    Reject
  </button>
</div>


<table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="select-all" name="parcel" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="select-all"></label>
                    </div>
                </div>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending" style="width: 260px">Name</th>
            <th scope="col" class="govuk-table__header" aria-sort="#">Type</th>
            <th scope="col" class="govuk-table__header" aria-sort="#">Status</th>
            <th scope="col" class="govuk-table__header">Review land parcels</th>
            <th scope="col" class="govuk-table__header" style="width: 25px;"></th>
        </tr>
    </thead>
    
    <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
         <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="001">OP1: Overwintered stubble</td>
       <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell"><div class="govuk-task-list__status" id="company-details-2-status" style="padding-left: 0px;">
       <div class="govuk-task-list__status" id="company-details-2-status" data-sort-value="004" style="padding-left: 0px;">
                    <strong class="govuk-tag govuk-tag--green">Approved</strong>
                </div>
    </div></td>
      <td class="govuk-table__cell">
            <a href="">Review</a>
          </td>
             <td class="govuk-table__cell tight-column" style="color: #d4351c; visibility: hidden;">
                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                    <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                    C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                </svg>
            </td>
    </tr>
    <tr class="govuk-table__row">
          <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="002">OP2: Wild bird seed mixture</td>
      <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell">
       <div class="govuk-task-list__status" id="company-details-2-status" data-sort-value="005" style="padding-left: 0px;">
                    <strong class="govuk-tag govuk-tag--yellow">Partially approved</strong>
                </div>
    </div></td>
     <td class="govuk-table__cell">
            <a href="">Review</a>
          </td>
             <td class="govuk-table__cell tight-column" style="color: #d4351c; visibility: hidden;">
                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                    <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                    C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                </svg>
            </td>
    </tr>
  <tr class="govuk-table__row">
         <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="003">OP3: Supplementary feeding for farmland birds</td>
       <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell"><div class="govuk-task-list__status" id="company-details-2-status" style="padding-left: 0px;">
       <div class="govuk-task-list__status" id="company-details-2-status" data-sort-value="004" style="padding-left: 0px;">
                    <strong class="govuk-tag govuk-tag--green">Approved</strong>
                </div>
    </div></td>
      <td class="govuk-table__cell">
            <a href="">Review</a>
          </td>
             <td class="govuk-table__cell tight-column" style="color: #d4351c; visibility: hidden;">
                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                    <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                    C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                </svg>
            </td>
    </tr>
      <tr class="govuk-table__row">
             <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="003">OP4: Multi species ley</td>
       <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell"><div class="govuk-task-list__status" id="company-details-2-status" style="padding-left: 0px;">
       <div class="govuk-task-list__status" id="company-details-2-status" data-sort-value="004" style="padding-left: 0px;">
                    <strong class="govuk-tag govuk-tag--green">Approved</strong>
                </div>
    </div></td>
      <td class="govuk-table__cell">
            <a href="">Review</a>
          </td>
             <td class="govuk-table__cell tight-column" style="color: #d4351c; visibility: hidden;">
                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                    <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                    C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                </svg>
            </td>
    </tr>
      <tr class="govuk-table__row">
            <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="004">OP5: Undersown cereal</td>
       <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell"><div class="govuk-task-list__status" id="company-details-2-status" style="padding-left: 0px;">
       <div class="govuk-task-list__status" id="company-details-2-status" data-sort-value="004" style="padding-left: 0px;">
                    <strong class="govuk-tag govuk-tag--green">Approved</strong>
                </div>
    </div></td>
      <td class="govuk-table__cell">
            <a href="">Review</a>
          </td>
             <td class="govuk-table__cell tight-column" style="color: #d4351c; visibility: hidden;">
                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                    <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                    C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                </svg>
            </td>
    </tr>
      <tr class="govuk-table__row">
             <td class="govuk-table__cell app-custom-class"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="parcel" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
      </div></td>
      <td class="govuk-table__cell" data-sort-value="005">OR2: Organic conversion – unimproved permanent grassland</td>
       <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell"><div class="govuk-task-list__status" id="company-details-2-status" style="padding-left: 0px;">
       <div class="govuk-task-list__status" id="company-details-2-status" data-sort-value="003" style="padding-left: 0px;">
                    <strong class="govuk-tag govuk-tag--red">Rejected</strong>
                </div>
    </div></td>
     <td class="govuk-table__cell">
            <a href="">Review</a>
          </td>
             <td class="govuk-table__cell tight-column" style="color: #d4351c; visibility: hidden;">
                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                    <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                    C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                </svg>
            </td>
    </tr>
  
  </tbody>
</table>

<nav class="moj-pagination govuk-!-margin-bottom-6" aria-label="Pagination navigation">
  <ul class="moj-pagination__list">

     <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="review-actions-capitals-feedback1">Previous<span class="govuk-visually-hidden"> page</span></a>
    </li>

<li class="moj-pagination__item"><a class="moj-pagination__link" href="review-actions-capitals-feedback1" aria-label="Page 1 of 4">1</a></li>

    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 2" aria-current="page">2</li>

  </ul>
  <p class="moj-pagination__results">Showing <b>21</b> to <b>26</b> of <b>26</b> results</p>
</nav>

  <form class="form" action="tasklist-2" method="post">
    <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
      Save and continue
    </button>
  </form>

    </div>
  </div>

</div>
</main>

<script>
    document.getElementById('select-all').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('input[name="parcel"]');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
        toggleRemoveButton();
    });

    var parcelCheckboxes = document.querySelectorAll('input[name="parcel"]');
    for (var checkbox of parcelCheckboxes) {
        checkbox.addEventListener('change', toggleRemoveButton);
    }

    function toggleRemoveButton() {
        var removeButton = document.getElementById('action-menu');
        var anyChecked = Array.from(parcelCheckboxes).some(checkbox => checkbox.checked);
        if (anyChecked) {
            removeButton.classList.remove('hidden');
        } else {
            removeButton.classList.add('hidden');
        }
    }

    document.getElementById('approve-action').addEventListener('click', function(event) {
        event.preventDefault();
        updateStatus('Approved');
    });

    document.getElementById('reject-action').addEventListener('click', function(event) {
        event.preventDefault();
        updateStatus('Rejected');
    });

    function updateStatus(status) {
        var selectedCheckboxes = document.querySelectorAll('input[name="parcel"]:checked');
        selectedCheckboxes.forEach(function(checkbox) {
            var row = checkbox.closest('tr');
            var statusCell = row.querySelector('.govuk-task-list__status');
            var iconCell = row.querySelector('.tight-column');
            if (statusCell) {
                if (status === 'Rejected') {
                    statusCell.innerHTML = '<strong class="govuk-tag govuk-tag--red">Rejected</strong>';
                    iconCell.style.visibility = 'visible';
                } else if (status === 'Approved') {
                    statusCell.innerHTML = '<strong class="govuk-tag govuk-tag--green">Approved</strong>';
                    iconCell.style.visibility = 'hidden';
                }
            } else {
                console.error('Status cell not found for row:', row);
            }
        });
    }
</script>

{% endblock %}
